{% extends '::intranet.html.twig' %}

{% block chat 'active' %}

{% block content %}
    
    <h2><i class="fa fa-comments fa-fw"></i> Chat</h2>
    
    <form class="monocontent" method="post" action="{{ path('ColectaChatPost', {'method':'html'}) }}" id="chatform" onSubmit="$.post('{{ path('ColectaChatPost', {'method':'json'}) }}', {text:$('#chatText').val()});$('#chatText').val('');return false;">
        <div class="row">
            <div class="col-sm-10"><textarea name="text" id="chatText" class="form-control" rows="2"></textarea></div>
            <div class="col-sm-2"><button style="height:52px" class="btn btn-success btn-block">Enviar</button></div>
        </div>
    </form>
    
    <p><strong>¿Quién está online?</strong></p>
    <p id="whosonline" class="well" style="padding: 10px 20px"></p>
    
    <ul class="list-group" id="chatstream">
    {% for m in messages %}
        <li class="list-group-item clearfix"><div class="row"><div class="col-sm-1 col-xs-2"><img width="40" height="40" src="{% if m.user.avatar %}{{ path('userAvatar',{'uid':m.user.id,'width':40,'height':40}) }}{% else %}/img/unknown.gif{% endif %}"></div><div class="col-sm-11 col-xs-10"><strong>{{ m.user.name }}:</strong> {{ m.text | usercontent | raw | nl2br }}<br><small class="{{ m.date | date('U') }}">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': m.date } only %}</small></div></div></li>
    {% endfor %}
    </ul>
    
    <div style="text-align:center;margin-bottom: 20px;"><button class="btn btn-default" onClick="loadMore()" id="loadMore">Ver más <i class="fa fa-arrow-down"></i></button></div>
        
{% endblock%}

{% block javascripts %}
    <script>
        var loading = 0;
        var lastInputId = {% if messages | length > 0 %}{{ messages[0].id }}{% else %}0{% endif %};
        var moreInputId = {% if messages | length > 0 %}{{ messages[messages | length - 1].id }}{% else %}0{% endif %};
        var now = new Date();
        var tsdiff = {{ 'now' | date('U')}} - Math.round(now.getTime() / 1000);
        
        function showWhosOnline(users) {
            $('#whosonline').html('');
            
            for(var i = 0; i < users.length; i++) {
                $('#whosonline').append(' <i class="fa fa-user"></i> '+users[i].name);
            }
        }
        
        function newInputs(inputs) {            
            for(var i = 0; i < inputs.length; i++) {
                $('#chatstream').prepend('<li class="list-group-item clearfix"><div class="row"><div class="col-sm-1 col-xs-2"><img width="40" height="40" src="'+inputs[i].useravatar+'"></div><div class="col-sm-11 col-xs-10"><strong>'+inputs[i].username+':</strong> '+inputs[i].text+'<br><small class="'+inputs[i].timestamp+'">'+inputs[i].timeago+'</small></div></div></li>');
            }
        }
        
        function moreInputs(inputs) {            
            for(var i = 0; i < inputs.length; i++) {
                $('#chatstream').append('<li class="list-group-item clearfix"><div class="row"><div class="col-sm-1 col-xs-2"><img width="40" height="40" src="'+inputs[i].useravatar+'"></div><div class="col-sm-11 col-xs-10"><strong>'+inputs[i].username+':</strong> '+inputs[i].text+'<br><small class="'+inputs[i].timestamp+'">'+inputs[i].timeago+'</small></div></div></li>');
            }
        }
        
        function loadMore() {
            if(loading) return;
            loading = 1;
            var prevtext = $('#loadMore').html();
            $('#loadMore').html('<i class="icon-refresh icon-spin"></i> Cargando…');
            
            $.getJSON('more/'+moreInputId, function(data) {
                moreInputs(data.inputs);
                
                if(data.inputs.length) {
                    moreInputId = data.inputs[data.inputs.length - 1].id;
                } else {
                    $('#chatstream').append('<li class="list-group-item"><p class="lead" style="text-align:center">No hay más mensajes</p></li>');
                    $('#loadMore').hide();
                }
                
                loading = 0;
                $('#loadMore').html(prevtext);
            });
        }
        
        function hace(timestamp, el) {
            
            var now = new Date();
            var nowts = Math.round(now.getTime() / 1000);
            
            var secondsago = nowts - timestamp + tsdiff;
            
            if(secondsago < 60) {
                $(el).html('Hace '+ secondsago + ' segundos');
            } else if(secondsago/60 < 60) {
                $(el).html('Hace '+ Math.round(secondsago / 60) + ' minutos');
            } else {
                var horas = Math.round(secondsago / (60 * 60));
                if(horas < 24) {
                    $(el).html('Hace '+ horas + ' horas');
                }
            }
        }
    
        (function reload() {
            $.getJSON('reload/'+lastInputId, function(data) {
                showWhosOnline(data.users);
                newInputs(data.inputs);
                
                if(data.inputs.length) {
                    lastInputId = data.inputs[data.inputs.length - 1].id;
                }
            }).complete(function() {
                setTimeout(reload, 5000);
            });
        })();
        
        (function timeago() {
            $.each($('#chatstream .span6 small'), function(index, value) {
                hace($(value).attr('class'),$(value));
            });
            
            setTimeout(timeago, 10000);
        })();
        
        $('#chatText').keydown(function(e){
            if(e.keyCode == 13) {
                $('#chatform').submit();
                e.preventDefault();
                e.stopPropagation();
            }
        });
    </script>
{% endblock %}