<div class="post mini">
    <h2><a href="{{ path('ColectaContestView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    <p>{{ item.summary }}</p>
    {% if item.winners %}
    <ul>
    {% for winner in item.winners %}
        <li><strong>{{ winner.position }}</strong> {{ winner.text }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>