{% extends '::base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">Colecta</a></h1>
            
            <form class="form-search pull-right">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Buscar</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
<aside class="span2" id="sidebar">
    <nav>
        <ul> 
            <li><a href="/">Inicio</a></li>
            <li><a href="/post/">Publicaciones</a></li>
            <li><a href="/event/">Eventos</a></li>  
            <li><a href="/route/">Rutas</a></li>
            <li><a href="/place/">Lugares</a></li>
            <li><a href="/file/">Archivos</a></li>
            <li><a href="/poll/">Encuestas</a></li>
            <li><a href="/contest/">Concursos</a></li>
            <li><a href="/">Personas</a></li>
        </ul> 
    </nav>
</aside>

<article class="span7" id="stream">
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}

{% block article %}{% endblock %}
</article>

<aside class="span3">
    <p class="myself">{% if app.user %}<img src="{{ app.user.avatar }}" width="48" height="48"> <strong>{{ app.user.name }}</strong><br><a href="{{ path('userLogout') }}">Salir</a>{% else %}Haz <a href="{{ path('userLogin') }}">login</a>{% endif %}</p>
    <p class="alert alert-block">Esta es una alerta bla bla</p>
</aside>
</div>
</div>
{% endblock %}