{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">{{ web_title }}</a></h1>
            
            <form action={{ path('ColectaSearch')}} method="GET" class="form-search pull-right">
                <div class="input-append">
                    <input type="text" class="input-medium search-query" name="q" value="{{ app.request.get('search') }}">
                    <button type="submit" class="btn">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="main">
<div class="headimg" style="background-image: url(http://turyciclo.ciclubs.com/img/bg/0{{ random(9) }}.jpg);"></div>
<div class="row" id="body">
<div class="span2" id="sidebar">
    <ul> 
        <li><a class="{% block home '' %}" id="homeButton" href="{{ path('ColectaDashboard')}}"><i class="icon-home"></i> <span>Inicio</span></a></li>
        <li><a class="{% block categories '' %} grey" href="{{ path('ColectaCategoryIndex') }}"><i class="icon-list-ul"></i> <span>Categorías</span></a></li>
        <li><a class="{% block posts '' %} blue" href="{{ path('ColectaPostIndex') }}"><i class="icon-file"></i> <span>Textos</span></a></li>
        <li><a class="{% block events '' %} orange" href="{{ path('ColectaEventIndex') }}"><i class="icon-calendar-empty"></i> <span>Actividades</span></a></li>  
        <li><a class="{% block routes '' %} green" href="{{ path('ColectaRouteIndex') }}"><i class="icon-globe"></i> <span>Rutas</span></a></li>
        <li><a class="{% block places '' %} red" href="{{ path('ColectaPlaceIndex') }}"><i class="icon-map-marker"></i> <span>Lugares</span></a></li>
        <li><a class="{% block files '' %} purple" href="{{ path('ColectaFileIndex') }}"><i class="icon-folder-open"></i> <span>Archivos</span></a></li>
        {#<li><a class="{% block polls '' %}" href="{{ path('ColectaPollIndex') }}"><i class="icon-tasks"></i> Encuestas</a></li>#}
        {#<li><a class="{% block contests '' %}" href="{{ path('') }}"><i class="icon-gift"></i> Concursos</a></li>#}
        {#<li><a class="{% block people '' %}" href="/"><i class="icon-user"></i> Personas</a></li>#}
    </ul> 
</div>

<div class="span7" id="stream">
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-exclamation icon-light"></i>
        </span> 
        
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">
        <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-ok icon-light"></i>
        </span> 
        
        {{ app.session.flash('success') }}
    </div>
{% endif %}

{% block article %}{% endblock %}
</div>

<div class="span3" id="userbar">
    {% if app.user %}
    
        <p class="myself">
            <a href="{{ path('userProfile', { 'id': app.user.id }) }}">
                <img src="{% if app.user.avatar %}{{ path('userAvatar',{'uid':app.user.id,'width':40,'height':40}) }}{% else %}/img/unknown.gif{% endif %}" width="40" height="40"> 
                <strong class="name">{{ app.user.name }}</strong>
            </a>
            <br>
            <small><a href="{{ path('userEditProfile') }}">Editar perfil</a></small>
        </p>
        
        {% block navigation %}
            {% include '::navigation.html.twig' with {'navigation': 'extranet'} %}
        {% endblock %}
        
    
    {% else %}    
    
    <form class="well login" action="{{ path('userLoginCheck') }}" method="post">
        <p><strong>Iniciar sesión</strong></p>
        
        
        <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input type="text" class="span2" id="username" name="_username" placeholder="Email" value="" onFocus="if(this.value == 'Email') this.value=''">
        </div>
        
        <div class="input-prepend">
              <span class="add-on"><i class="icon-key"></i></span>
              <input type="password" class="span2" id="password" name="_password" class="input-medium" placeholder="Contraseña" value="" onFocus="if(this.value == 'Contraseña') this.value=''">
        </div>
        
        <p><label for="remember_me" class="checkbox">
            <input id="remember_me" name="_remember_me" type="checkbox" checked /> Recuérdame
        </label></p>
        
        <p><button type="submit" name="login" class="btn btn-success">Acceder</button> <a href="{{ path('userResetPassword') }}" class="btn btn-link btn-mini">Olvidé mi contraseña</a></p>
    </form> 
    
    <script>
        var phitest = document.createElement('input');
        if(!('placeholder' in phitest)) {
            document.getElementById('username').value='Email';
            document.getElementById('password').value='Contraseña';
        }
    </script>
    
    <ul class="nav nav-list">        
        <li>
            <a href="{{ path('ColectaContact') }}"><i class="icon-envelope"></i> Contacto con el Club</a>
        </li>
        <li>
            <a href="{{ path('ColectaPostView', {'slug':'acerca-de-nosotros'}) }}"><i class="icon-info"></i> Acerca de nosotros</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="{{ path('ColectaPostView', {'slug':'por-que-hacerse-socio'}) }}"><i class="icon-question"></i> Por qué hacerse socio</a>
        </li>        
    </ul>
    
    {% endif %}
    
    {#<div class="ads"><img src="//www.google.com/help/hc/images/adsense_185666_adformat-display_200x200_en.jpg" style="border:1px solid black" alt="200 x 200"><br></div>#}
    
    {% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
    
    {% render "ColectaActivityBundle:Event:nextEvent" %}
    
</div>
</div>
</div>
{% endblock %}