{% extends '::base.html.twig' %}

{% block title 'Club Mountain Bike Turyciclo' %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">Club Mountain Bike Turyciclo</a></h1>
            
            <form action={{ path('ColectaSearch')}} method="GET" class="form-search pull-right">
                <div class="input-append">
                    <input type="text" class="input-medium search-query" name="q" value="{{ app.request.get('search') }}">
                    <button type="submit" class="btn">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="main">
<div class="headimg" style="background-image: url(http://turyciclo.ciclubs.com/img/bg/0{{ random(9) }}.jpg);height: 140px;"></div>
<div class="row">
<div class="span2" id="sidebar">
    <ul> 
        <li><a class="{% block home '' %}" id="homeButton" href="{{ path('ColectaDashboard')}}"><i class="icon-home icon-white"></i> Inicio</a></li>
        <li><a class="{% block posts '' %}" href="{{ path('ColectaPostIndex') }}"><i class="icon-file"></i> Foro</a></li>
        <li><a class="{% block events '' %}" href="{{ path('ColectaEventIndex') }}"><i class="icon-calendar"></i> Actividades</a></li>  
        <li><a class="{% block routes '' %}" href="{{ path('ColectaRouteIndex') }}"><i class="icon-globe"></i> Rutas</a></li>
        <li><a class="{% block places '' %}" href="{{ path('ColectaPlaceIndex') }}"><i class="icon-map-marker"></i> Lugares</a></li>
        <li><a class="{% block files '' %}" href="{{ path('ColectaFileIndex') }}"><i class="icon-folder-open"></i> Archivos</a></li>
        {#<li><a class="{% block polls '' %}" href="{{ path('ColectaPollIndex') }}"><i class="icon-tasks"></i> Encuestas</a></li>#}
        {#<li><a class="{% block contests '' %}" href="{{ path('') }}"><i class="icon-gift"></i> Concursos</a></li>#}
        {#<li><a class="{% block people '' %}" href="/"><i class="icon-user"></i> Personas</a></li>#}
    </ul> 
</div>

<div class="span7" id="stream">
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">
        {{ app.session.flash('success') }}
    </div>
{% endif %}

{% block article %}{% endblock %}
</div>

<div class="span3" id="userbar">
    {% if app.user %}
    
        <p class="myself"><img src="{% if app.user.avatar %}{{app.user.avatarWebPath}}{% else %}/img/unknown.gif{% endif %}" width="48" height="48"> <strong class="name">{{ app.user.name }}</strong><br><a href="{{ path('userEditProfile') }}">Editar perfil</a></p>
        
        {% block navigation %}
            {% include '::navigation.html.twig' with {'navigation': 'extranet'} %}
        {% endblock %}
        
    
    {% else %}    
    
    <form class="well login" action="{{ path('userLoginCheck') }}" method="post">
        <p><strong>Iniciar sesión</strong></p>
        
        
        <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input type="text" class="span2" id="username" name="_username" placeholder="Email" value="">
        </div>
        
        <div class="input-prepend">
              <span class="add-on"><i class="icon-key"></i></span>
              <input type="password" class="span2" id="password" name="_password" class="input-medium" placeholder="Contraseña">
        </div>
        
        <p><label for="remember_me" class="checkbox">
            <input id="remember_me" name="_remember_me" type="checkbox" checked /> Recuérdame
        </label></p>
        
        <p><button type="submit" name="login" class="btn btn-success">Acceder</button> <a href="{{ path('userResetPassword') }}" class="btn btn-link btn-mini">Olvidé mi contraseña</a></p>
    </form>
    
    {% endif %}
    
    {#<div class="ads"><img src="//www.google.com/help/hc/images/adsense_185666_adformat-display_200x200_en.jpg" style="border:1px solid black" alt="200 x 200"><br></div>#}
    
    {% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
    
</div>
</div>
</div>
{% endblock %}