{% extends '::frontend.html.twig' %}

{% block article %}
<div class="row content">
    <div class="col main">
	    <div class="row">    
	        <div class="col-12 col-sm-4 col-md-3 pl-sm-0">
	        	<div class="d-flex justify-content-between">
			        <form id="searchForm" class="my-3 w-100" role="search" action="{{ path('ColectaSearch') }}" method="GET">
		                <div class="inner-addon right-addon">
		                    <input type="text" class="form-control pl-3" name="q" id="searchInput" value="{{ app.request.get('q') }}" placeholder="Buscar...">
		                    <i class="far fa-search" onClick="$('#searchForm').submit()"></i>
		                </div>
		            </form>
		            <button onClick="$('#navigationList').toggleClass('d-none')" type="button" class="d-block d-sm-none btn btn-light my-3 ml-2"><i class="far fa-bars fa-fw"></i></button>
	            </div>
		        
		        <div class="linksList d-none d-sm-block ml-3" id="navigationList">
		        	{#<strong class="pb-2 pt-1 pt-sm-3 d-block">Secciones</strong>
					<ul class="list-unstyled">
					    <li class="{% if bun == 'ItemBundle' and con == 'PostController' %} active{% endif %}">
					        <a href="{{ path('ColectaPostIndex') }}">
					            <i class="far fa-comment-o fa-fw"></i> Foro
					        </a>
					    </li>
					    <li class="{% if bun == 'ActivityBundle' and con == 'EventController' %} active{% endif %}">
					        <a href="{{ path('ColectaEventIndex') }}"> 
					            <i class="far fa-calendar-o fa-fw"></i>  Calendario
					        </a>
					    </li>
					    <li class="{% if bun == 'ActivityBundle' and con in ['DefaultController', 'RouteController', 'PlaceController'] %} active{% endif %}">
					        <a href="{{ path('ColectaMapIndex') }}">
					            <i class="far fa-map-o fa-fw"></i> Rutas
					        </a>
					    </li>
					    
					    {% if app.user and app.user.role.getSiteConfig %}
						    <li class="nav-item">
						        <a href="{{ path('ColectaBackendIndex') }}" class="text-secondary"><i class="far fa-cog fa-fw"></i> Admin</a>
						    </li>
						{% endif %}
					</ul>#}

			        {# CUSTOM NAVIGATION #}
					{{ render(controller('ColectaSiteBundle:Page:navigation')) }}
			        
			        {# CATEGORIES #}
			        <strong class="pb-2 pt-1 pt-sm-3 d-block">Categorías</strong>
			        <ul class="list-unstyled">
		                {% for categoryItem in categories %}
		                <li{% if category is defined and categoryItem == category %} class="active"{% endif %}><a href="{{ path('ColectaCategoryView',{'slug':categoryItem.slug}) }}">{{ categoryItem.name }}</a></li>
		                {% endfor %}
		            </ul>
				</div>
	        </div>
	        
	        <div class="col-12 col-sm-8 col-md-9 pr-sm-0">
	        	
	        	{% block content %}{% endblock %}
	        	
	        </div>
	    </div>
	</div>
</div>
{% endblock %}