{% set where = app.request.attributes.get("_controller") | split('\\') %}

{% if where | length > 1 %}
    {% set bun = where[1] %}
    {% set con = (where[3] | split('::'))[0] %}
    {% set act = (where[3] | split('::'))[1] %}
{% else %}
    {% set bun, con, act = '', '', ''%}
{% endif %}

<div class="row">
    <div class="col-xs-12">
        
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">                                
                    <a class="navbar-brand" href="/">{{ web_title }}</a>
                </div>
                <form id="searchForm" class="navbar-form navbar-right" role="search" action="{{ path('ColectaSearch') }}" method="GET">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="q" id="searchInput" value="{{ app.request.get('search') }}">
                    </div>
                    <button type="submit" class="btn btn-default col-xs-4">Buscar</button>
                </form>
                
                {% if app.user or app.user and app.user.role.siteConfig %}
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user and app.user.role.siteConfig %}
                    <li{% if bun == 'BackendBundle' %} class="active"{% endif %}>
                        <a href="{{ path('ColectaBackendIndex') }}">
                            <i class="fa fa-wrench fa-fw"></i> Administración
                        </a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li{% if bun == 'IntranetBundle' %} class="active"{% endif %}>
                        <a href="{{ path('ColectaChatIndex') }}">
                            <i class="fa fa-unlock fa-fw"></i> Zona Privada
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        
        {% if web_header_img | length %}
            <div id="headerimg" style="background-image: url( {{ random(web_header_img) }} );"></div>
        {% endif %}
        
    </div>
</div>