
<nav class="navbar navbar-dark bg-dark justify-content-between py-2 px-2 py-sm-1 px-sm-3" role="navigation">    
	<a class="navbar-brand" href="/">
		{% if web_logo %}<img alt="{{ web_title }}" height="24" src="{{ path('ColectaLogo') }}" class="d-inline-block align-top">{% endif %}
        {% if not web_logo_only %}<span>{{ web_title }}</span>{% endif %}
    </a>
    
    			        
	{% if app.user %}
		{% if item is defined %}
            {% set notifications = colectauser.notDismissedNotifications(item.id) %}    
        {% else %}
            {% set notifications = colectauser.notDismissedNotifications %}
        {% endif %}
					            
		{% set messages = colectauser.notDismissedMessages %}
		
        <ul class="navbar-nav  flex-row ml-md-auto p-0 px-sm-0">
            <li class="nav-item{% if bun == 'UserBundle' and con == 'MessageController' %} active{% endif %}">
            	<a class="nav-link mr-2 mr-sm-3" href="{{ path('userMessages')}}"><i class="fa fa-envelope fa-fw"></i>{% if messages | length > 0 %}<span class="badge badge-pill badge-danger">{{ messages | length }}</span>{% endif %}<span class="sr-only"> Mensajes</span></a>
            </li>
            <li class="nav-item{% if bun == 'UserBundle' and con == 'NotificationController' %} active{% endif %}">
            	<a class="nav-link mx-2 mx-sm-3" href="{{ path('userNotifications')}}"><i class="fa fa-bell fa-fw"></i>{% if notifications | length > 0 %}<span class="badge badge-pill badge-danger">{{ notifications | length }}</span>{% endif %}<span class="sr-only"> Alertas</span></a>
            </li>
            <li class="nav-item{% if bun == 'UserBundle' and con == 'UserController' %} active{% endif %}">
            	<a class="nav-link ml-2 ml-sm-3" href="{{ path('userProfile', { 'id': app.user.id }) }}"><i class="fa fa-user fa-fw"></i><span class="sr-only"> Mi Perfil</span></a>
            </li>
            {#<li class="nav-item dropdown userProfile">
                <a href="#" id="userProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ path('userAvatar',{'uid':app.user.id,'width':40,'height':40}) }}" width="40" height="40" class="rounded-circle"><span class="sr-only"> <i class="fa fa-user-plus fa-fw"></i> Mi Cuenta</span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('userProfile', { 'id': app.user.id }) }}"><i class="fa fa-user fa-fw"></i> Mi Perfil</a></li>
                    <li><a href="{{ path('ColectaUserAssistances', {'id':app.user.id}) }}"><i class="fa fa-bar-chart fa-fw"></i> Rendimiento</a></li>
                    <li><a href="{{ path('ColectaActivitiesRank') }}"><i class="fa fa-sort-amount-desc fa-fw"></i> Ranking</a></li>
                    {% if app.user and app.user.role.getSiteConfig %}
                    <li><a href="{{ path('ColectaBackendIndex') }}"><i class="fa fa-cog fa-fw"></i> Administración</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('userLogout') }}"><i class="fa fa-sign-out fa-fw"></i> Salir</a></li>
                </ul>
            </li>#}
        </ul>
					        
    {% else %}
    
    <a href="{{ path('userLogin')}}" class="btn btn-outline-light px-2 px-sm-3 py-1" onClick="$('#loginModal').modal();return false;">Iniciar sesión</a>
    
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="{{ path('userLoginCheck') }}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Iniciar Sesión</h4>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
                    </div>
                    
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 control-label" for="username">Email</label>
                            <div class="col-xs-12 col-sm-10">
                                <input type="text" id="username" class="form-control" name="_username" placeholder="Email" value="">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 control-label" for="password">Contraseña</label>
                            <div class="col-xs-12 col-sm-10">
                                <input type="password" id="password" class="form-control" name="_password" placeholder="Contraseña">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-12 col-lg-offset-2 col-lg-10">
                                <label class="">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked> Mantenerme conectado
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-12 col-lg-offset-2 col-lg-10">
                                <a href="{{ path('userResetPassword') }}">¿Has olvidado tu contraseña?</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" name="login" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% endif %}
</nav>


{% if web_header_img | length %}
    <a href="/" style="display:block"><img src="{{ path('ColectaHeaderimg', { n: random(web_header_img | length - 1) }) }}" class="img-fluid"></img></a>
{% endif %}