{% if app.user %}
{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header col-sm-6">                                
                                <a class="navbar-brand" href="/">{{ web_title }}</a>
                            </div>
                            
                            <div class="col-sm-6">
                                <form id="searchForm" class="navbar-form navbar-right" role="search" action="{{ path('ColectaSearch') }}" method="GET">
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" name="q" id="searchInput" value="{{ app.request.get('search') }}">
                                    </div>
                                    <button type="submit" class="btn btn-default col-xs-4">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% if web_header_img | length %}
                <div class="col-xs-12 hidden-xs" style="background: url( {{ random(web_header_img) }} ) no-repeat center center; height:140px;background-size: cover;"></div>
                {% endif %}
            </div>
        </div>
        
        <div class="row content">

            <div class="col-xs-12 col-md-9 col-sm-8 main">

                {% if app.session.hasFlash('error') %}
                    <div class="alert alert-danger">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        {{ app.session.flash('error') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        {{ app.session.flash('success') }}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
            
            <div class="col-xs-12 col-md-3 col-sm-4 sidebar">
                {% include '::navigation.html.twig' %}
            </div>
        </div>
    </div>   
{% endblock %}
{% endif %}