{% if app.user %}
{% extends '::base.html.twig' %}

{% block title 'Club Mountain Bike Turyciclo' %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">Club Mountain Bike Turyciclo</a></h1>
            
            <form action={{ path('ColectaSearch')}} method="GET" class="form-search pull-right">
                <div class="input-append">
                    <input type="text" class="input-medium search-query" name="q" value="{{ app.request.get('search') }}">
                    <button type="submit" class="btn">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="main">
<div class="headimg" style="background-image: url(http://turyciclo.com/img/0{{ random(9) }}.jpg);"></div>
<div class="row" id="body">
<div id="sidebar" class="span2">
    <ul> 
        <li><a class="{% block chat '' %}" href="{{ path('ColectaChatIndex') }}"><i class="icon-comment-alt"></i> Chat</a></li>
        <li><a class="{% block activities '' %}" href="{{ path('ColectaActivitiesIndex') }}" class=""><i class="icon-bar-chart"></i> Rendimiento</a></li>
        <li><a class="{% block rank '' %}" href="{{ path('ColectaActivitiesRank') }}" class=""><i class="icon-trophy"></i> Ranking</a></li>  
        {#<li><a class="{% block payment '' %}" href="{{ path('ColectaPaymentIndex') }}" class=""><i class="icon-money"></i> Pagos</a></li>#}
        {#<li><a class="{% block lottery '' %}" href="{{ path('ColectaLotteryIndex') }}" class=""><i class="icon-list-alt"></i> Lotería</a></li>#}
        {#<li><a class="{% block vehicle '' %}" class="" href="{{ path('ColectaVehicleIndex') }}"><i class="icon-dashboard"></i> Vehículos</a></li>#}
        <li><a class="{% block movement '' %}" class="" href="{{ path('ColectaMovementIndex') }}"><i class="icon-book"></i> Contabilidad</a></li>
    </ul> 
</div>

<div class="span7" id="stream">
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">
        {{ app.session.flash('success') }}
    </div>
{% endif %}

{% block content %}{% endblock %}
</div>

<div class="span3" id="userbar">
    
    <p class="myself"><img src="{% if app.user.avatar %}{{app.user.avatarWebPath}}{% else %}/img/unknown.gif{% endif %}" width="48" height="48"> <strong class="name">{{ app.user.name }}</strong><br><a href="{{ path('userEditProfile') }}">Editar perfil</a></p>
    
    {% block navigation %}
        {% include '::navigation.html.twig' with {'navigation': 'intranet'} %}
    {% endblock %}
    
    {% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
    
</div>
</div>
</div>
{% endblock %}
{% endif %}