{% extends '::base.html.twig' %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">Club Mountain Bike Turyciclo</a></h1>
            
            {% if app.user %}
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li class="active"><a href="{{ path('ColectaChatIndex') }}">El Club</a></li>
              <li><a href="#">Administración</a></li>
            </ul>
            {% endif %}
            
            <form action={{ path('ColectaSearch')}} method="GET" class="form-search pull-right">
                <div class="input-append">
                    <input type="text" class="input-medium search-query" name="search" value="{{ app.request.get('search') }}">
                    <button type="submit" class="btn">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs intranet-menu"> 
        <li class="{% block chat '' %}"><a href="{{ path('ColectaChatIndex') }}">Chat</a></li>
        <li class="{% block activities '' %}"><a href="{{ path('ColectaActivitiesIndex') }}">Actividades</a></a></li>
        <li class="{% block payment '' %}"><a href="{{ path('ColectaPaymentIndex') }}">Pagos</a></li>
        <li class="{% block lottery '' %}"><a href="{{ path('ColectaLotteryIndex') }}">Lotería</a></li>
        <li class="{% block vehicle '' %}"><a href="{{ path('ColectaVehicleIndex') }}">Vehículos</a></li>
        <li class="{% block movement '' %}"><a href="{{ path('ColectaMovementIndex') }}">Contabilidad</a></li>
    </ul> 
    
{% block submenu %}{% endblock %}

{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">
        {{ app.session.flash('success') }}
    </div>
{% endif %}

{% block content %}{% endblock %}
</div>
{% endblock %}