{% if app.user %}
{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header col-sm-6">                                
                                <a class="navbar-brand" href="/">{{ web_title }}</a>
                            </div>
                            
                            <div class="col-sm-6">
                                <form id="searchForm" class="navbar-form navbar-right" role="search" action="{{ path('ColectaSearch') }}" method="GET">
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" name="q" id="searchInput" value="{{ app.request.get('search') }}">
                                    </div>
                                    <button type="submit" class="btn btn-default col-xs-4">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% if web_header_img | length %}
                <div class="col-xs-12 hidden-xs" style="background: url( {{ random(web_header_img) }} ) no-repeat center center; height:140px;background-size: cover;"></div>
                {% endif %}
            </div>
        </div>
        
        <div class="row content">

            <div class="col-xs-12 col-md-9 main">

                {% if app.session.hasFlash('error') %}
                    <div class="alert alert-danger">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        {{ app.session.flash('error') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        {{ app.session.flash('success') }}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
            
            <div class="col-xs-12 col-md-3 sidebar">

                <div class="media self">
                    <a href="{{ path('userProfile', { 'id': app.user.id }) }}" class="pull-left">
                        <img src="{% if app.user.avatar %}{{ path('userAvatar',{'uid':app.user.id,'width':50,'height':50}) }}{% else %}/img/unknown.gif{% endif %}" width="50">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ app.user.name }}</h4>
                        <div class="btn-group">
                            <a href="{{ path('userEditProfile') }}" class="btn btn-default btn-xs">Editar perfil</a>
                            <a href="{{ path('userLogout') }}" class="btn btn-default btn-xs" style="color:darkred;">Salir <span class="fa fa-sign-out"></span></a>
                        </div>
                    </div>
                </div>
    
                <hr>
                
                <ul class="nav nav-pills nav-stacked">
                    <li class="">
                        <a href="/">
                            <i class="fa fa-home fa-fw"></i> Inicio 
                            {#<span class="badge pull-right">42</span>#}
                        </a>
                    </li>
                    {% if app.user %}
                    <li class="active">
                        <a href="{{ path('ColectaChatIndex') }}">
                            <i class="fa fa-unlock fa-fw"></i> Privado
                        </a>
                    </li>
                    {% endif %}
                    {% if app.user and app.user.role.siteConfig %}
                    <li>
                        <a href="{{ path('ColectaBackendIndex') }}">
                            <i class="fa fa-wrench fa-fw"></i> Administración
                        </a>
                    </li>
                    {% endif %}
                </ul>
                
                <hr>
                
                {% if item is defined %}
                    {% set notifications = colectauser.notDismissedNotifications(item.id) %}    
                {% else %}
                    {% set notifications = colectauser.notDismissedNotifications %}
                {% endif %}
                
                {% set messages = colectauser.notDismissedMessages %}
                    
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{{ path('userNotifications')}}"><i class="fa fa-bell fa-fw"></i> Notificaciones{% if notifications | length > 0 %} <span class="badge pull-right">{{ notifications | length }}</span>{% endif %}</a>
                    </li>
                    <li>
                        <a href="{{ path('userMessages')}}"><i class="fa fa-envelope fa-fw"></i> Mensajes{% if messages | length > 0 %} <span class="badge pull-right">{{ messages | length }}</span>{% endif %}</a>
                    </li>
                </ul>
                
                <hr>

                {% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
                
            </div>
        </div>
    </div>   
{% endblock %}
{% endif %}