{% if app.user %}
{% extends '::base.html.twig' %}

{% block title 'Club Mountain Bike Turyciclo' %}

{% block stylesheets %}
    <style>
        a {
            color: #4B6E00;
        }
        .headimg {
            height: 100px;
        }
        .nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
            background-color: #5B8500;
        }
        .progress .bar, .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
            background-color: #4B6E00;
            background-image: linear-gradient(to bottom, #5B8500, #4B6E00);
        }
        #userbar .nav li.active a {
            border-color: #5B8500;
        }
        .calendar .active {
            background-color: #F1F7E6;
        }
        .calendar td.today {
            border-color: #5B8500;
        }
        #sidebar li a:hover i {
            color: #5B8500;
        }
        
    </style>
{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">Club Mountain Bike Turyciclo</a></h1>
            
            <form action={{ path('ColectaSearch')}} method="GET" class="form-search pull-right">
                <div class="input-append">
                    <input type="text" class="input-medium search-query" name="q" value="{{ app.request.get('search') }}">
                    <button type="submit" class="btn">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="main">
<div class="headimg" style=""><i class="icon-unlock-alt"></i> Intranet</div>
<div class="row" id="body">
<div class="span2" id="sidebar">
    <ul> 
        <li><a class="{% block chat '' %} blue" href="{{ path('ColectaChatIndex') }}"><i class="icon-comment-alt"></i> <span>Chat</span></a></li>
        <li><a class="{% block activities '' %} orange" href="{{ path('ColectaActivitiesIndex') }}" class=""><i class="icon-bar-chart"></i> <span>Histórico</span></a></li>
        <li><a class="{% block rank '' %} green" href="{{ path('ColectaActivitiesRank') }}" class=""><i class="icon-trophy"></i> <span>Ranking</span></a></li>  
        {#<li><a class="{% block payment '' %}" href="{{ path('ColectaPaymentIndex') }}" class=""><i class="icon-money"></i> <span>Pagos</span></a></li>#}
        {#<li><a class="{% block lottery '' %}" href="{{ path('ColectaLotteryIndex') }}" class=""><i class="icon-list-alt"></i> <span>Lotería</span></a></li>#}
        {#<li><a class="{% block vehicle '' %}" class="" href="{{ path('ColectaVehicleIndex') }}"><i class="icon-dashboard"></i> <span>Vehículos</span></a></li>#}
        {#<li><a class="{% block movement '' %}" class="" href="{{ path('ColectaMovementIndex') }}"><i class="icon-book"></i> <span>Contabilidad</span></a></li>#}
    </ul> 
</div>

<div class="span7" id="stream">
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        {{ app.session.flash('error') }}
    </div>
{% endif %}
{% if app.session.hasFlash('success') %}
    <div class="alert alert-success">
        {{ app.session.flash('success') }}
    </div>
{% endif %}

{% block content %}{% endblock %}
</div>

<div class="span3" id="userbar">
    
    <p class="myself"><img src="{% if app.user.avatar %}{{ path('userAvatar',{'uid':app.user.id,'width':40,'height':40}) }}{% else %}/img/unknown.gif{% endif %}" width="40" height="40"> <strong class="name">{{ app.user.name }}</strong><br><a href="{{ path('userEditProfile') }}">Editar perfil</a></p>
    
    {% block navigation %}
        {% include '::navigation.html.twig' with {'navigation': 'intranet'} %}
    {% endblock %}
    
    {% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
    
</div>
</div>
</div>
{% endblock %}
{% endif %}