{% if item is defined %}
    {% set notifications = colectauser.notDismissedNotifications(item.id) %}    
{% else %}
    {% set notifications = colectauser.notDismissedNotifications %}
{% endif %}

{% set messages = colectauser.notDismissedMessages %}

<ul class="nav nav-list">
    <li class="nav-header">Navegación</li>
    
    <li{% if navigation == 'extranet' %} class="active"{% endif %}>
        <a href="/"><i class="icon-home"></i> Extranet</a>
    </li>
    <li{% if navigation == 'intranet' %} class="active"{% endif %}>
        <a href="{{ path('ColectaChatIndex') }}"><i class="icon-unlock-alt"></i> Intranet</a>
    </li>
    
    <li class="divider"></li>
    
    <li{% if navigation == 'messages' %} class="active"{% endif %}>
        <a href="{{ path('userMessages')}}"><i class="icon-envelope"></i>{% if messages | length > 0 %} <span class="label label-warning" style="font-size: 10px;">{{ messages | length }}</span>{% endif %} Mensajes</a>
    </li>
    <li{% if navigation == 'notifications' %} class="active"{% endif %}>
        <a href="{{ path('userNotifications')}}"><i class="icon-bullhorn"></i>{% if notifications | length > 0 %} <span class="label label-warning" style="font-size: 10px;">{{ notifications| length }}</span>{% endif %} Notificaciones</a>
        </li>
    <li>
        <a href="{{ path('userLogout') }}" style="color:darkred"><i class="icon-off"></i> Salir</a>
    </li>
    
    <li>
        <a style="font-size:18px;padding:10px;margin-top:10px;text-align:center" href="{{ path('ColectaContact') }}"><i class="icon-envelope-alt"></i> Contacto</a>
    </li>
</ul>

{% if notifications | length > 0 %}
    <div class="notificationstream">
        {% if notifications | length > 1 %}
            <a href="{{ path('userNotificationDismissAll') }}" class="btn btn- btn-warning btn-block">marcar todas como leidas <i class="icon-level-down"></i></a>
        {% endif %}
        {% for notification in notifications %}
           {% include 'ColectaUserBundle:Notification:notification.html.twig' with {'notification': notification} %}
        {% endfor %}
    </div>
{% endif %}