<p class="btn-group btn-group-justified sections">
    <a class="clearfix btn btn-default{% if active == 'category' %} active{% endif %}" href="{{ path('ColectaCategoryIndex')}}"><i class="fa fa-list-ul"></i> <span class="hidden-xs">Categorías</span></a>
    <a class="clearfix btn btn-default{% if active == 'post' %} active{% endif %}" href="{{ path('ColectaPostIndex')}}"><i class="fa fa-{{ itemIcons['Item/Post'] }}"></i> <span class="hidden-xs">Textos</span></a>
    <a class="clearfix btn btn-default{% if active == 'event' %} active{% endif %}" href="{{ path('ColectaEventIndex')}}"><i class="fa fa-{{ itemIcons['Activity/Event'] }}"></i> <span class="hidden-xs">Calendario</span></a>
    <a class="clearfix btn btn-default{% if active == 'route' %} active{% endif %}" href="{{ path('ColectaRouteIndex')}}"><i class="fa fa-{{ itemIcons['Activity/Route'] }}"></i> <span class="hidden-xs">Tracks</span></a>
    <a class="clearfix btn btn-default{% if active == 'file' %} active{% endif %}" href="{{ path('ColectaFileIndex')}}"><i class="fa fa-{{ itemIcons['Files/Folder'] }}"></i> <span class="hidden-xs">Archivos</span></a>
    <a class="clearfix btn btn-default{% if active == 'place' %} active{% endif %}" href="{{ path('ColectaPlaceIndex')}}"><i class="fa fa-{{ itemIcons['Activity/Place'] }}"></i> <span class="hidden-xs">Lugares</span></a>
</p>