{% set where = app.request.attributes.get("_controller") | split('\\') %}

{% if where | length > 1 %}
    {% set bun = where[1] %}
    {% set con = (where[3] | split('::'))[0] %}
    {% set act = (where[3] | split('::'))[1] %}
{% else %}
    {% set bun, con, act = '', '', ''%}
{% endif %}
{% if app.user %}
    {% if item is defined %}
        {% set notifications = colectauser.notDismissedNotifications(item.id) %}    
    {% else %}
        {% set notifications = colectauser.notDismissedNotifications %}
    {% endif %}
    
    {% set messages = colectauser.notDismissedMessages %}
    
    <div id="self" class="clearfix hidden-print">
        <div class="clearfix">
            <ul class="notifications list-inline pull-right">
                <li><a href="{{ path('userMessages')}}"><span class="hidden">Mensajes </span><i class="fa fa-envelope"></i>{% if messages | length > 0 %}<span class="badge">{{ messages | length }}</span>{% endif %}</a></li>
                <li><a href="{{ path('userNotifications')}}"><span class="hidden">Notificaciones </span><i class="fa fa-bell"></i>{% if notifications | length > 0 %}<span class="badge">{{ notifications | length }}</span>{% endif %}</a></li>
            </ul>
            <a href="{{ path('userProfile', { 'id': app.user.id }) }}" class="myname pull-left" onClick="$('#userOptions').toggle(); return false;">
                <img src="{{ path('userAvatar',{'uid':app.user.id,'width':20,'height':20}) }}" width="20">
                <strong>{{ app.user.name }}<i class="fa fa-caret-down"></i></strong>
            </a>
        </div>
        
        <div id="userOptions" style="display:none;">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('userProfile', {'id':app.user.id}) }}"><i class="fa fa-user fa-fw"></i> Mi perfil</a></li>
                <li><a href="{{ path('ColectaUserAssistances', {'id':app.user.id}) }}"><i class="fa fa-bar-chart fa-fw"></i> Mi rendimiento</a></li>
                <li><a href="{{ path('userLogout') }}"><i class="fa fa-sign-out fa-fw"></i> Salir</a></li>
            </ul>
        </div>
    </div>
{% elseif not(bun == 'UserBundle' and act == 'loginAction') and bun != '' %}
    <form class="login" action="{{ path('userLoginCheck') }}" method="post">
        <p><a class="lead" href="#" onClick="$('#singinform').toggle()"> <i class="fa fa-sign-in"></i> Iniciar sesión</a></p>
        
        <div id="singinform" style="display:none;">
            <p class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input  type="email" required class="form-control" id="username" name="_username" placeholder="Email" value="" onFocus="if(this.value == 'Email') this.value=''">
            </p>
        
            <p class="input-group input-group-sm">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" required class="form-control" id="password" name="_password" class="input-medium" placeholder="Contraseña" value="" onFocus="if(this.value == 'Contraseña') this.value=''">
            </p>
            
            <p><label for="remember_me">
                <small><input id="remember_me" name="_remember_me" type="checkbox" checked /> Mantenerme conectado</small>
            </label></p>
            
            <button type="submit" name="login" class="btn btn-primary btn-block btn-sm">Acceder</button>
            <a href="{{ path('userResetPassword') }}" class="btn btn-block btn-link btn-xs">Olvidé mi contraseña</a>
            
            <hr>
        </div>
    </form>
    
    <script>
        var phitest = document.createElement('input');
        if(!('placeholder' in phitest)) {
            document.getElementById('username').value='Email';
            document.getElementById('password').value='Contraseña';
        }
    </script>
{% endif %}

    <form id="searchForm" class="" role="search" action="{{ path('ColectaSearch') }}" method="GET">
        <div class="inner-addon right-addon">
            <input type="text" class="form-control" name="q" id="searchInput" value="{{ app.request.get('q') }}" placeholder="Buscar...">
            <i class="fa fa-search"></i>
        </div>
    </form>
    
    <hr>
    
    <ul class="nav nav-pills nav-stacked">
        {#<li{% if bun == 'ItemBundle' and con == 'CategoryController' %} class="active"{% endif %}>
            <a href="{{ path('ColectaCategoryIndex') }}">
                <i class="fa fa-list-ul fa-fw"></i> Categorías
            </a>
        </li>#}
        <li{% if bun == 'ItemBundle' and con == 'PostController' %} class="active"{% endif %}>
            <a href="{{ path('ColectaPostIndex') }}">
                <i class="fa fa-{{ itemIcons['Item/Post'] }} fa-fw"></i> Discusión
            </a>
        </li>
        <li{% if bun == 'ActivityBundle' and con == 'EventController' %} class="active"{% endif %}>
            <a href="{{ path('ColectaEventIndex') }}"> 
                <i class="fa fa-{{ itemIcons['Activity/Event'] }} fa-fw"></i>  Calendario
            </a>
        </li>
        <li{% if bun == 'ActivityBundle' and con in ['DefaultController', 'RouteController', 'PlaceController'] %} class="active"{% endif %}>
            <a href="{{ path('ColectaMapIndex') }}">
                <i class="fa fa-{{ itemIcons['Activity/Route'] }} fa-fw"></i> Mapas
            </a>
        </li>
        {% if app.user %}
        <li{% if con == 'ActivitiesController' and (act == 'rankAction' or act == 'yearPointsRankAction') %} class="active"{% endif %}>
            <a href="{{ path('ColectaActivitiesRank') }}"> 
                <i class="fa fa-sort-amount-desc fa-fw"></i>  Ranking
            </a>
        </li>
        {% endif %}
        {#<li{% if bun == 'FilesBundle' and con == 'FileController' %} class="active"{% endif %}>
            <a href="{{ path('ColectaFileIndex') }}">
                <i class="fa fa-{{ itemIcons['Files/Folder'] }} fa-fw"></i> Archivos
            </a>
        </li>
        <li{% if bun == 'ActivityBundle' and con == 'PlaceController' %} class="active"{% endif %}>
            <a href="{{ path('ColectaPlaceIndex') }}">
                <i class="fa fa-{{ itemIcons['Activity/Place'] }} fa-fw"></i> Lugares
            </a>
        </li>#}
    </ul>
    
    {% render "ColectaSiteBundle:Page:navigation" with {context:'extranet'} %}


{# hide when big calendar is shown #}
{% if app.request.attributes.get("_controller") != 'Colecta\\ActivityBundle\\Controller\\EventController::indexAction' and app.request.attributes.get("_controller") != 'Colecta\\ActivityBundle\\Controller\\EventController::dateAction' %}
    <hr>
    {% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
{% endif %}