{% extends '::frontend.html.twig' %}

{% block posts 'active' %}

{% block javascripts %}    
    <script src="/js/jquery.min.js"></script>
    <script>
    
{% include 'ColectaItemBundle:Default:relateitems.js.twig' %}
        
    function toggleCategoryCreate() {
        var button = $('#categoryCreateButton');
        if(button.hasClass('newcategory')) {
            button.removeClass('newcategory').addClass('selectcategory');
            button.html('Seleccionar una categoría existente');
            $('#EventCategory').hide();
            $('#EventNewCategory').show().focus();
        } else {
            button.removeClass('selectcategory').addClass('newcategory');
            button.html('Crear una nueva categoría');
            $('#EventCategory').show();
            $('#EventNewCategory').hide().attr('value','');
        }
    }
    
    </script>
{% endblock %}
{% block article %}

{% if item.author == app.user %}
<div class="title-block">
    <h2>Editar Publicación</h2>
</div>
<form action="{{ path('ColectaPostEdit', {slug:item.slug}) }}" method="POST" class="form-horizontal well">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="PostName">Título</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="PostName" name="name" value="{{item.name}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="PostText">Texto</label>
        <div class="controls">
          <textarea class="input-xlarge" id="PostText" name="text" rows="3">{{ item.text }}</textarea>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="EventCategory">Categoría</label>
        <div class="controls">
          <select id="EventCategory" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}"{% if item.category.slug == category.slug %} selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
          </select><input type="text" id="EventNewCategory" name="newCategory" style="display:none"><br>
          <button class="btn btn-link newcategory" type="button" onClick="toggleCategoryCreate()" id="categoryCreateButton">Crear una nueva categoría</button>
        </div>
      </div>
      
      <div class="form-actions">
        {% if item.draft %}<button class="btn">Guardar como borrador</button>{% endif %}
        <button type="submit" class="btn btn-primary">{% if item.draft %}Publicar ahora{% else %}Actualizar{% endif %}</button>
      </div>
    </fieldset>
</form>

{% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}

{% endif %}

{% endblock %}