{% extends '::frontend.html.twig' %}

{% block posts 'active' %}

{% block javascripts %}    
    <script src="/js/jquery.min.js"></script>
    <script>
    
{% include 'ColectaItemBundle:Default:relateitems.js.twig' %}
        
{% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    
    </script>
{% endblock %}
{% block article %}

{% if item.author == app.user %}
<div class="title-block">
    <h2>Editar {{ item.name }}<br><span><a href="{{ path('ColectaPostView', {'slug':item.slug}) }}"><i class="icon-double-angle-left"></i> Volver a la publicación</a></span></h2>
</div>
<form action="{{ path('ColectaPostEdit', {slug:item.slug}) }}" method="POST" class="form-horizontal well">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="PostName">Título</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="PostName" name="name" value="{{item.name}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="PostText">Texto</label>
        <div class="controls">
          <textarea class="input-xlarge" id="PostText" name="text" rows="3">{{ item.text }}</textarea>
        </div>
      </div>
      
      {% render 'ColectaItemBundle:Category:formlist' with {'selected':item.category.id} %}
      
      <div class="form-actions">
        {% if item.draft %}<button class="btn">Guardar como borrador</button>{% endif %}
        <button type="submit" class="btn btn-primary">{% if item.draft %}Publicar ahora{% else %}Actualizar{% endif %}</button> 
        <a href="{{ path('ColectaPostDelete', {slug: item.slug}) }}" class="btn btn-danger" onClick="return confirm('¿Seguro que quieres eliminar este contenido?')"><i class="icon-trash"></i> Eliminar</a>
      </div>
    </fieldset>
</form>

{% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}

{% endif %}

{% endblock %}