{% extends '::frontend.html.twig' %}

{% block title %}Editar {{ item.name }} | Textos{% endblock %}

{% block article %}

{% if item.canEdit(app.user) %}
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <h2>Editar {{ item.name }}</h2>
        </div>
        <div class="col-sm-4 col-lg-3">
            <a class="btn btn-default btn-block" href="{{ path('ColectaPostView', {'slug':item.slug}) }}"><i class="fa fa-angle-double-left"></i> Volver a la publicación</a>
        </div>
    </div>
    
    <div class="monocontent">
        <form action="{{ path('ColectaPostEdit', {slug:item.slug}) }}" method="POST" class="form-horizontal" role="form"{% if rich_text_editor %} onSubmit="return postForm();"{% endif %}>
            <fieldset>
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="PostName">Título</label>
                <div class="col-sm-9 col-lg-10">
                  <input type="text" class="form-control" id="PostName" name="name" value="{{item.name}}">
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="PostText">Texto</label>
                <div class="col-sm-9 col-lg-10">
                  <textarea class="form-control" id="PostText" name="text" rows="5">{% if rich_text_editor %}{% spaceless %}{{ item.text | nl2br| nonl | raw }}{% endspaceless %}{% else %}{{ item.text | striptags(allowed_tags) }}{% endif %}</textarea>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="PostText">Categoría</label>
                <div class="col-sm-9 col-lg-10">
                    {{ render(controller('ColectaItemBundle:Category:formlist', {'selected':item.category.id})) }}
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-lg-offset-2 col-sm-offset-3 col-sm-9 col-lg-10">
                    {% if item.draft %}<button class="btn">Guardar como borrador</button>{% endif %}
                    <button type="submit" class="btn btn-primary">{% if item.draft %}Publicar ahora{% else %}Actualizar{% endif %}</button> 
                    <a href="{{ path('ColectaPostDelete', {slug: item.slug}) }}" class="btn btn-danger" onClick="return confirm('¿Seguro que quieres eliminar este contenido?')"><i class="icon-trash"></i> Eliminar</a>
                </div>
              </div>
            </fieldset>
        </form>
    </div>
    
    <hr>
    <h3>Enlazar con otros contenidos</h3>
    <div class="monocontent">
        {% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}
    </div>
{% endif %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/summernote.css" />
{% endblock %}

{% block javascripts %}
<script src="/js/bootstrap.min.js"></script>
<script src="/js/summernote.min.js"></script>

<script>    
    {% include 'ColectaItemBundle:Default:relateitems.js.twig' %}
        
    {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}

    {% if rich_text_editor %}
    $(document).ready(function() {
        $('#PostText').summernote({
            height: 180,
            toolbar: [
            //['style', ['style']], // no style button
            ['style', ['bold', 'italic', 'underline', 'clear']],
            //['fontsize', ['fontsize']],
            //['color', ['color']],
            ['para', ['ul', 'ol']],
            //['height', ['height']],
            ['insert', [/*'picture',*/ 'link']], // no insert buttons
            //['table', ['table']], // no table button
            ['help', ['help']] //no help button
            ]
        });
    });
    
    var postForm = function() {
        var content = $('textarea[name="text"]').html($('#PostText').code());
    }
    {% endif %}
</script>
{% endblock %}