{% if app.user %}
<form action="{{ path('ColectaPostCreate') }}" method="POST" class="form-horizontal well">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="PostName">Título</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="PostName" name="name" value="{{ app.session.flash('PostName') }}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="PostText">Texto</label>
        <div class="controls">
          <textarea class="input-xlarge" id="PostText" name="text" rows="3">{{ app.session.flash('PostText') }}</textarea>
        </div>
      </div>
      
      {{ render(controller('ColectaItemBundle:Category:formlist', {'selected':app.session.flash('PostCategory')})) }}
      
      <div class="form-actions">
        <button class="btn disabled" disabled="disabled">Guardar como borrador</button>
        <button type="submit" class="btn btn-primary">Publicar ahora</button>
      </div>
    </fieldset>
</form>
{% else %}
<div class="alert">Tienes que <a href="{{ path('userLogin') }}">iniciar sesión</a></div>
{% endif %}
