{% extends '::frontend.html.twig' %}

{% block title %}{{ item.name }} | Textos{% endblock %}

{% block article %}

{% set canEdit = app.user and item.canEdit(app.user) %}
<div class="row">
<div class="full item{% if canEdit %} editable{% endif %} mt-3 mb-4 p-3 col-12 bg-white rounded box-shadow">
    {% include 'ColectaItemBundle:Default:itemDetails.html.twig' with { item: item } only %}
    <h2>
        <a href="{{ path('ColectaPostView', { 'slug': item.slug }) }}">{{ item.name }}</a>
    </h2>
        
    {{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
    
    {% if item.linkTitle != '' %}
        <p class="well-link clearfix">
            {% if item.linkImage != '' %}
                <a href="{{ item.linkURL }}" target="_blank"><img src="{{ item.linkImage }}" class="pull-left" style="max-height:100px;max-width:300px;margin-right:10px;"></a>
            {% endif %}
            <strong><a href="{{ item.linkURL }}" target="_blank">{{ item.linkTitle | raw }}</a></strong><br><small class="text-muted">{{ item.linkURL | urlHost }}</small>
            <br> {{ item.linkExcerpt }}
        </p>
    {% endif %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 15 } only %}
</div>
</div>

{% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}

{% endblock %}