{% extends '::frontend_main.html.twig' %}

{% block title %}Foro{% endblock %}

{% block content %}
            
    <div class="d-flex justify-content-between pt-3">
    	<h2>Foro{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
    	{% if app.user and app.user.role.name != 'ROLE_BANNED' %}<p><a href="{{ path('ColectaPostNew')}}" class="btn btn-success"><i class="far fa-plus fa-fw"></i> Publicar</a></p>{% endif %}
    </div>
    
    {% for item in items %}
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    {% else %}
        <div class="monocontent">
            <h3><i class="far fa-{{ itemIcons['Item/Post'] }} fa-fw"></i> Las publicaciones que se añadan aparecerán aquí.</h3>
        </div>
    {% endfor %}
    
    {% if page > 1 or thereAreMore %}
        <ul class="pager">
          <li class="previous{% if page == 1 %} disabled{% endif %}">
            <a href="{% if page > 1 %}{{ path('ColectaPostPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="next{% if not thereAreMore %} disabled{% endif %}">
            <a href="{% if thereAreMore %}{{ path('ColectaPostPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}
{% endblock %}