{% extends '::backend.html.twig' %}

{% block article %}

    {% include 'ColectaBackendBundle:Default:navigation.html.twig' with { 'active' : 'settings' } %}
    
    <h2>Ajustes</h2>
    
    <div class="monocontent tabs">
        <form action="{{ path('ColectaBackendSettingsIndex') }}" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <label for="web_title" class="col-sm-4 control-label">
                    <strong>Título de la web:</strong>
                </label>
                <div class="col-sm-8">
                    <input type="text" value="{{ web_parameters.twig.globals.web_title }}" class="form-control" id="web_title" name="web_title">
                </div>
            </div>
            
            <div class="form-group">
                <label for="web_description" class="col-sm-4 control-label">
                    <strong>Descripción breve:</strong>
                </label>
                <div class="col-sm-8">
                    <textarea rows="3" class="form-control" id="web_description" name="web_description">{{ web_parameters.twig.globals.web_description }}</textarea>
                </div>
            </div>
            
            {#}
            <div class="form-group">
                <label for="web_theme" class="col-sm-4 control-label">
                    <strong>Diseño:</strong>
                </label>
                <div class="col-sm-8">
                    <select id="web_theme" name="web_theme" class="form-control">
                        {% set theme_options = [['classic','Clásico'],['google','Google'],['facebook','Facebook']] %}
                        {% for theme in theme_options %}
                        <option{% if web_parameters.twig.globals.web_theme | default('') == theme[0] %} selected="selected"{% endif %} value="{{ theme[0] }}">{{ theme[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="web_theme_colors" class="col-sm-4 control-label">
                    <strong>Color:</strong>
                </label>
                <div class="col-sm-8">
                    <select id="web_theme_colors" name="web_theme_colors" class="form-control">
                        {% set color_options = [['','Por defecto'],['#E3F2FD,#BBDEFB,#90CAF9,#64B5F6,#42A5F5,#2196F3,#1E88E5,#1976D2,#1565C0,#0D47A1','Azul'],['#E8EAF6,#C5CAE9,#9FA8DA,#7986CB,#5C6BC0,#3F51B5,#3949AB,#303F9F,#283593,#1A237E','Indigo'],['#EDE7F6,#D1C4E9,#B39DDB,#9575CD,#7E57C2,#673AB7,#5E35B1,#512DA8,#4527A0,#311B92','Morado'],['#FCE4EC,#F8BBD0,#F48FB1,#F06292,#EC407A,#E91E63,#D81B60,#C2185B,#AD1457,#880E4F,','Rosa'],['#FFEBEE,#FFCDD2,#EF9A9A,#E57373,#EF5350,#F44336,#E53935,#D32F2F,#C62828,#B71C1C,','Rojo'],['#FBE9E7,#FFCCBC,#FFAB91,#FF8A65,#FF7043,#FF5722,#F4511E,#E64A19,#D84315,#BF360C,','Naranja'],['#EFEBE9,#D7CCC8,#BCAAA4,#A1887F,#8D6E63,#795548,#6D4C41,#5D4037,#4E342E,#3E2723,','Marrón'],['#E8F5E9,#C8E6C9,#A5D6A7,#81C784,#66BB6A,#4CAF50,#43A047,#388E3C,#2E7D32,#1B5E20,','Verde'],['#ECEFF1,#CFD8DC,#B0BEC5,#90A4AE,#78909C,#607D8B,#546E7A,#455A64,#37474F,#263238,','Gris']] %}
                        {% for color in color_options %}
                        <option{% if web_parameters.twig.globals.web_theme_colors | default('') | join(',') == color[0] %} selected="selected"{% endif %} value="{{ color[0] }}">{{ color[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="theme_sidebar" class="col-sm-4 control-label">
                    <strong>Barra lateral:</strong>
                </label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio"{% if web_parameters.twig.globals.theme_sidebar == 'left' %} checked="checked"{% endif %} name="theme_sidebar" value="left"> Izquierda
                    </label>
                    
                    <label class="radio-inline">
                        <input type="radio"{% if web_parameters.twig.globals.theme_sidebar == 'right' %} checked="checked"{% endif %} name="theme_sidebar" value="right"> Derecha
                    </label>
                </div>
            </div>
            #}
            <div class="form-group">
                <label for="web_logo" class="col-sm-4 control-label">
                    <strong>Logo:</strong>
                </label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6"><input type="text" value="{{ web_parameters.twig.globals.web_logo }}" class="form-control" id="web_logo" name="web_logo" placeholder="Dirección web de la imagen..."></div>
                        <div class="col-md-6"><div style="position:relative;"><input style="position: relative; z-index: 2; font-size: 25px; -moz-opacity:0;filter:alpha(opacity: 0);opacity: 0;" type="file" id="web_logo_upload" name="web_logo_upload"></input><div style="position:absolute;top:0;left:0;width:100%;z-index:1;"><button id="web_logo_upload_button" class="btn btn-default btn-block"><i class="fa fa-upload"></i> Subir archivo</button></div></div></div>
                    </div>
                    <p class="help-block">Se recomienda no superar los 24 pixeles de altura.</p>
                    {% if web_parameters.twig.globals.web_logo %}
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-6"><img src="{{ path('ColectaLogo') }}"></div>
                        <div class="col-xs-6 col-sm-12 col-md-6">
                            <div class="checkbox" style="padding-top:0"><label><input type="checkbox" name="web_logo_only" value="1"{% if web_parameters.twig.globals.web_logo_only %}checked="checked"{% endif %}> Ocultar texto del título</label></div>
                            <div class="checkbox" style="padding-top:0"><label class="text-danger"><input type="checkbox" name="web_logo_delete" value="1"> Eliminar</label></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="form-group">
                <label for="web_header_img" class="col-sm-4 control-label">
                    <strong>Imágenes de cabecera:</strong>
                </label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6"><input type="text" value="" class="form-control" id="web_header_img" name="web_header_img" placeholder="Dirección web de la imagen..."></div>
                        <div class="col-md-6"><div style="position:relative;"><input style="position: relative; z-index: 2; font-size: 25px; -moz-opacity:0;filter:alpha(opacity: 0);opacity: 0;" type="file" id="web_header_img_upload" name="web_header_img_upload"></input><div style="position:absolute;top:0;left:0;width:100%;z-index:1;"><button id="web_header_img_upload_button" class="btn btn-default btn-block"><i class="fa fa-upload"></i> Subir archivo</button></div></div></div>
                    </div>
                    <p class="help-block">Si subes más de una imagen se mostrarán alternadas aleatoriamente.</p>
                    {% if web_parameters.twig.globals.web_header_img %}
                    <hr>
                    <div class="row">
                        {% for img in web_parameters.twig.globals.web_header_img %}
                            {% if not loop.first %}<br>{% endif %}
                            <div class="col-xs-12">
                                <div class="checkbox">
                                    <label class="text-danger"><input type="checkbox" name="web_header_img_{{ loop.index0 }}"> Eliminar</label>
                                </div>
                                <img class="img-responsive" src="{{ path('ColectaHeaderimg', { n: loop.index0 }) }}">
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <hr>
            
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
        
{% endblock%}

{% block javascripts %}
<script> 
$('#web_logo_upload').change(FileChange);
$('#web_header_img_upload').change(FileChange);

function FileChange() {
    if(this.files) {
        $(this).parent().find('button').addClass('btn-success').removeClass('btn-default').html('<i class="fa fa-refresh"></i> Archivo seleccionado');
        $(this).parent().parent().parent().find('.form-control').val('.../' + this.files[0].name);
    }
}
</script>
{% endblock %}