{% extends '::backend.html.twig' %}

{% block article %}

    <h2>Ajustes</h2>
    
    <form action="{{ path('ColectaBackendSettingsIndex') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="web_title"><strong>Título de la web:</strong></label>
            <input type="text" value="{{ web_parameters.twig.globals.web_title }}" class="form-control" id="web_title" name="web_title">
        </div>
        
        <div class="form-group">
            <label for="web_description"><strong>Descripción breve:</strong></label>
            <textarea rows="3" class="form-control" id="web_description" name="web_description">{{ web_parameters.twig.globals.web_description }}</textarea>
        </div>
        
        <div class="form-group">
            <label for="web_logo"><strong>Logo:</strong></label>
            <input type="text" value="{{ web_parameters.twig.globals.web_logo }}" class="form-control" id="web_logo" name="web_logo" placeholder="Dirección web de la imagen...">
            <div style="position:relative;">
            	<input style="position: relative; z-index: 2; font-size: 25px; -moz-opacity:0;filter:alpha(opacity: 0);opacity: 0; width:100%;" type="file" id="web_logo_upload" name="web_logo_upload"></input>
            	<div style="position:absolute;top:0;left:0;width:100%;z-index:1;">
            		<button id="web_logo_upload_button" class="btn btn-default btn-block"><i class="far fa-upload"></i> Subir archivo</button>
            	</div>
            </div>
            
            <p class="help-block">Se recomienda no superar los 24 pixeles de altura.</p>
            {% if web_parameters.twig.globals.web_logo %}
                <hr>
                <img src="{{ path('ColectaLogo') }}">
                <div class="checkbox" style="padding-top:0">
                	<label><input type="checkbox" name="web_logo_only" value="1"{% if web_parameters.twig.globals.web_logo_only %}checked="checked"{% endif %}> Ocultar texto del título</label>
                </div>
                <div class="checkbox" style="padding-top:0">
                	<label class="text-danger"><input type="checkbox" name="web_logo_delete" value="1"> Eliminar</label>
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="web_header_img"><strong>Imágenes de cabecera:</strong></label>
            <input type="text" value="" class="form-control" id="web_header_img" name="web_header_img" placeholder="Dirección web de la imagen...">
            <div style="position:relative;">
            	<input style="position: relative; z-index: 2; font-size: 25px; -moz-opacity:0;filter:alpha(opacity: 0);opacity: 0; width:100%;" type="file" id="web_header_img_upload" name="web_header_img_upload"></input>
            	<div style="position:absolute;top:0;left:0;width:100%;z-index:1;">
            		<button id="web_header_img_upload_button" class="btn btn-default btn-block"><i class="far fa-upload"></i> Subir archivo</button>
                </div>
            </div>
            
            <p class="help-block">Si subes más de una imagen se mostrarán alternadas aleatoriamente.</p>
            {% if web_parameters.twig.globals.web_header_img %}
                <hr>
                {% for img in web_parameters.twig.globals.web_header_img %}
                    {% if not loop.first %}<br>{% endif %}
                    <div class="">
                        <div class="checkbox">
                            <label class="text-danger"><input type="checkbox" name="web_header_img_{{ loop.index0 }}"> Eliminar</label>
                        </div>
                        <img class="img-fluid" src="{{ path('ColectaHeaderimg', { n: loop.index0 }) }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <hr>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
        
{% endblock%}

{% block javascripts %}
<script> 
$('#web_logo_upload').change(FileChange);
$('#web_header_img_upload').change(FileChange);

function FileChange() {
    if(this.files) {
        $(this).parent().find('button').addClass('btn-success').removeClass('btn-default').html('<i class="far fa-refresh"></i> Archivo seleccionado');
        $(this).parent().parent().parent().find('.form-control').val('.../' + this.files[0].name);
    }
}
</script>
{% endblock %}