{% set commentslength = comments | length %}

{% if commentslength > 0 or app.user %}<div class="comments">{% endif %}

{% if collapse is defined and commentslength > collapse %}
    <p>
    <button class="btn btn-small" onClick="$(this).remove(); $('#showcomments{{ comments[0].id }}').removeClass('hidden');">
        <i class="icon-comments"></i> Ver todos los comentarios (+{{ commentslength - collapse + 1 }})
    </button>
    </p>
        
    <div id="showcomments{{ comments[0].id }}" class="hidden">
{% endif %}

{% for comment in comments%}
    <div class="media">
        <a href="{{ path('userProfile', { 'id': comment.user.id }) }}" class="pull-left">
            <img src="{% if comment.user.avatar %}{{ path('userAvatar',{'uid':comment.user.id,'width':40,'height':40}) }}{% else %}/img/unknown.gif{% endif %}"> 
        </a> 

    
        <div class="media-body">
            <p class="media-heading">
                <strong><a href="{{ path('userProfile', { 'id': comment.user.id }) }}">{{comment.user.name}}</a></strong>
        
                <small>        
                {% set itemtimestamp = comment.date | date('U') %}
                {% set nowtimestamp =  'now' | date('U') %}
                {% set secondsago = nowtimestamp - itemtimestamp %}
                
                {% if secondsago < 60 %}
                    Hace {{ secondsago }} segundo{% if secondsago != 1 %}s{% endif %}
                {% elseif secondsago/60 < 60 %}
                    Hace {{ secondsago // 60 }} minuto{% if secondsago // 60 != 1 %}s{% endif %}
                {% else %}
                    {% set hoursago = secondsago / 60 // 60 %}
                    {% if hoursago < 24 %}
                        Hace {{ hoursago }} hora{% if hoursago != 1 %}s{% endif %}
                    {% elseif itemtimestamp > 'yesterday' | date('U') %}
                        Ayer a las {{ comment.date | date('H:i')  }}
                    {% else %}
                        {{ comment.date | date('j')  }} {% include "::month.html.twig" with{'date':comment.date,'short':1} %} {{ comment.date | date('Y H:i')  }}
                    {% endif %}
                {% endif %}
            </small>
            </p>
            <p>{{ comment.text | summarize | usercontent | raw | nl2br }}{% if comment.text | length > comment.text | summarize | length %}<span id="com-linkrm{{ comment.id }}"><button type="button" class="btn btn-link btn-small" onClick="document.getElementById('com-readmore-{{ comment.id }}').style.display = '';document.getElementById('com-linkrm{{ comment.id }}').style.display = 'none';return false;">( ... leer más )</button></span><span id="com-readmore-{{ comment.id }}" style="display:none">{{ comment.text[comment.text | summarize | length:comment.text | length] | usercontent | raw | nl2br }}</span>{% endif %}</p>
        </div>
    </div>
    
    {% if collapse is defined and commentslength > collapse and (commentslength - loop.index) == (collapse - 1) %}</div>{% endif %}
    
{% endfor %}

{% if app.user %}
    <div class="media">
        <span class="pull-left">
            <img src="{% if app.user.avatar %}{{ path('userAvatar',{'uid':app.user.id,'width':40,'height':40}) }}{% else %}/img/unknown.gif{% endif %}" width="40" height="40"> 
        </span>
        
        <div class="media-body form">
            <form action="{{ path('ColectaComment', { 'slug': item.slug }) }}" method="POST" onSubmit="$('#commentItem{{ item.id }}').attr('disabled','disabled')">
                <textarea style="height:20px;" onClick="this.style.height = ''; document.getElementById('commentItem{{ item.id }}').style.display = '';" name="comment" class="span6" placeholder="Escribe un comentario…"></textarea><br>
                <button style="display:none;" id="commentItem{{ item.id }}" class="btn btn-primary" type="submit">Enviar comentario <i class="icon-comment"></i></button>
            </form>
        </div>
    </div>
{% endif %}

{% if comments | length > 0 or app.user %}</div>{% endif %}