{% extends '::frontend.html.twig' %}

{% block title %}{{ item.name }} | Archivos{% endblock %}

{% block article %}

{% set canEdit = app.user and item.canEdit(app.user) %}

<div class="full item{% if canEdit %} editable{% endif %}">
    {% include 'ColectaItemBundle:Default:itemDetails.html.twig' with { item: item } only %}
    <h2>
        <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">{{ item.name }}</a>
    </h2>

    {% set files = item.isolateLast %}
    
    {% if files | length == 0 %}
        {% set files = item.files %}
    {% endif %}
    
    {% set thumbnails = 0 %} {% set listed = 0 %}
    {% for file in files %}
        {% if file.filetype in ['jpeg','gif','png'] %}  
            {% set thumbnails = thumbnails + 1 %}
        {% else %}
            {% set listed = listed + 1 %}
        {% endif %}
    {% endfor %}
    
    {# Thumbnails are viewable files #}
    
    {% if thumbnails != 1 or listed > 0 %}
        {{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
    {% endif %}
    
    {% if thumbnails == 1 and listed == 0 %} {# The folder consists of only one image #}
        <div id="summary-{{ item.slug }}">
            {{ item.text[0:summary_max_length] | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
            {% if item.text | length > summary_max_length %}<button type="button" class="btn btn-link btn-small" onClick="$('#readmore-{{ item.slug }}').show(); $('#summary-{{ item.slug }}').hide(); return false;">( ... leer más )</button>{% endif %}
        </div>
        
        {% if item.text | length > summary_max_length %}
            <div id="readmore-{{ item.slug }}" style="display:none">{{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }} </div>
        {% endif %}
            
        <div class="preview">
            {% set file = files.first %}
            <a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}"><img class="img-responsive" src="{{ path('ColectaFileThumbnail', {'slug':file.slug, 'width':200, 'height':200}) }}"></a>
        </div>
    {% elseif thumbnails > 0 %}
        <div class="row thumbnails">        
            {% for file in files %}
                {% if file.filetype in ['jpeg','gif','png'] %}                    
                    <div class="col-xs-6 col-sm-3">
                        <a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}"><img class="img-responsive" src="{{ path('ColectaFileThumbnail', {'slug':file.slug, 'width':200, 'height':200}) }}"></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% if listed > 0 %}        
        <ul class="filelist list-group">
            {% for file in files %}
                {% if file.filetype not in ['jpeg','gif','png'] %}
                    <li class="list-group-item clearfix">
                        <strong><a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}">{{ file.name }}</a></strong>
                        {% if file.filetype in ['mp4','ogg','webm'] %}
                            <a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}" class="btn btn-primary btn-xs pull-right"><i class="fa fa-play-circle-o icon-large"></i> Reproducir</a>
                        {% else %}
                            <a href="{{ path('ColectaFileDownload',{ 'slug': file.slug, 'type': file.filetype }) }}" class="btn btn-warning btn-xs pull-right"><i class="fa fa-download icon-large"></i> Descargar</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    
    {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 15 } only %}
</div>

{% endblock %}