{% extends 'ColectaItemBundle:Default:itemMicro.html.twig' %}

{% set files = item.isolateLast %}

{% if files | length == 0 %}
    {% set files = item.files %}
{% endif %}
        
{% block thumbnail %}
    {% if item.files | length > 0 %}
        
        {% set preview = files[0] %}
        
        {% if preview.filetype in ['jpeg','gif','png'] %}
            <a href="{{ path('ColectaFileView', { 'slug': preview.slug }) }}"><img class="img-responsive" src="{{ path('ColectaFileResize', {'slug':preview.slug, 'width':'180', 'height':'180'}) }}"></a>
        {% else %}
            <a href="{{ path('ColectaFileDownload',{ 'slug': preview.slug, 'type': preview.filetype }) }}" class="btn btn-success">{{ preview.name }} <i class="icon-download-alt icon-large"></i></a>
        {% endif %}
        
    {% endif %}
{% endblock %}

{% block summary %}
    <p>{{ item.summary }}{% if item.text | length > item.summary | length %} (...){% endif %}</p>
    
    {% if files | length > 1 %}
        <div>
            {% for file in files|slice(1, 5) %}
                {% if file.filetype in ['jpeg','gif','png'] %}
                    <a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}"><img src="{{ path('ColectaFileResize', {'slug':file.slug, 'width':'60', 'height':'60'}) }}"></a>
                {% else %}
                    <a href="{{ path('ColectaFileDownload',{ 'slug': file.slug, 'type': file.filetype }) }}" class="btn btn-success">{{ file.name }} <i class="icon-download-alt icon-large"></i></a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}