{% extends 'ColectaItemBundle:Default:itemMicro.html.twig' %}

{% set files = item.isolateLast %}

{% if files | length == 0 %}
    {% set files = item.files %}
{% endif %}
        
{% block thumbnail %}
    {% if item.files | length > 0 %}
        
        {% set preview = files[0] %}
        
        {% if preview.filetype in ['jpeg','gif','png'] %}
            <a href="{{ path('ColectaFileView', { 'slug': preview.slug }) }}"><img class="img-responsive" src="{{ path('ColectaFileThumbnail', {'slug':preview.slug, 'width':'200', 'height':'200'}) }}"></a>
        {% elseif preview.filetype in ['mp4','ogg','webm'] %}
            <a href="{{ path('ColectaFileView', { 'slug': preview.slug }) }}" class="btn btn-primary file"><i class="fa fa-play-circle-o icon-large"></i> {{ preview.name }}</a>
        {% else %}
            <a href="{{ path('ColectaFileDownload',{ 'slug': preview.slug, 'type': preview.filetype }) }}" class="btn btn-success file">{{ preview.name }} <i class="fa fa-arrow-down fa-fw"></i></a>
        {% endif %}
        
    {% endif %}
{% endblock %}

{% block summary %}
    {% if item.summary %}<p>{{ item.summary }}{% if item.text | length > item.summary | length %} (...){% endif %}</p>{% endif %}
    
    {% if files | length > 1 %}
        <div class="thumbnails">
            {% for file in files|slice(1, 5) %}
                {% if file.filetype in ['jpeg','gif','png'] %}
                    <a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}"><img src="{{ path('ColectaFileThumbnail', {'slug':file.slug, 'width':'60', 'height':'60'}) }}"></a>
                {% elseif file.filetype in ['mp4','ogg','webm'] %}
                    <a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}" class="btn btn-primary file"><i class="fa fa-play-circle-o icon-large"></i> {{ file.name }}</a>
                {% else %}
                    <a href="{{ path('ColectaFileDownload',{ 'slug': file.slug, 'type': file.filetype }) }}" class="btn btn-success file">{{ file.name }} <i class="fa fa-arrow-down fa-fw"></i></a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}