<div class="folder mini">
    <h2><a href="{{ path('ColectaFolderView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    
    <ul class="thumbnails">
        {% for file in item.files | reverse | slice(0,9) %}
            {% if file.filetype in ['jpeg','gif','png'] %}
                <li><a class="thumbnail" style="height:150px;width:175px;" href="{{ path('ColectaFileView', { 'slug': file.slug }) }}"><img src="{{ path('ColectaFileThumbnail', {'slug':file.slug, 'width':'175', 'height':'150'}) }}"></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <ul class="filelist unstyled">
        {% for file in item.files %}
            {% if file.filetype not in ['jpeg','gif','png'] %}
                <li><i class="icon-file icon-2x"></i>
                <strong><a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}">{{ file.name }}</a></strong>
                <a href="{{ path('ColectaFileDownload',{ 'slug': file.slug, 'type': file.filetype }) }}" class="btn btn-warning btn-mini pull-right"><i class="icon-download-alt icon-large"></i> Descargar fichero <span style="text-transform: uppercase;">{{ file.filetype }}</span></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
        
    <p>{{ item.summary | usercontent | raw | nl2br }}</p>
</div>