<div class="folder mini">
    <h2><a href="{{ path('ColectaFolderView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    
    <ul class="thumbnails">
        {% for file in item.files | reverse | slice(0,9) %}
            {% if file.filetype in ['jpeg','gif','png'] %}
                <li><a class="thumbnail" style="height:160px;width:160px;" href="{{ path('ColectaFileView', { 'slug': file.slug }) }}"><img height="160" width="160" src="{{ path('ColectaFileThumbnail', {'slug':file.slug, 'width':'160', 'height':'160'}) }}"></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    {% for file in item.files %}
        {% if file.filetype not in ['jpeg','gif','png'] %}
            <p>
            <strong><a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}">{{ file.name }}</a></strong><br>
            <a href="{{ path('ColectaFileDownload',{ 'slug': file.slug, 'type': file.filetype }) }}" class="btn btn-warning"><i class="icon-download-alt icon-large"></i> <strong>Descargar fichero <span style="text-transform: uppercase;">{{ file.filetype }}</span></strong></a>
            </p>
        {% endif %}
    {% endfor %}
    
    <p>{{ item.summary | usercontent | raw | nl2br }}</p>
</div>