<div class="folder mini">
    <h2><a href="{{ path('ColectaFolderView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    <p>{{ item.summary }}</p>
    <p>Numero de archivos: {{ item.files | length }}</p>
    <ul>
        {% for file in item.files %}
            <li><a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}">{{ file.name }}</a></li>
        {% endfor %}
    </ul>
</div>