{% set firstWeekDay = ((targetdate | date('Y-m-1')) | date('w')) - 1 %}
{% set daysOfMonth = targetdate | date('t') %}
{% set rows = (firstWeekDay + daysOfMonth) // 7 %}
{% if ((firstWeekDay + daysOfMonth) / 7) > rows %}{% set rows = rows + 1 %}{% endif %}
{% set dayOfMonth = 1 %}


<strong class="calendartitle">
    {% set targetdateob = targetdateob.modify('-1 month') %} {# decrease 1 month #}
    
    <a href="{{ path('ColectaEventDate', {'date': targetdateob.format('Y-m') }) }}" class="pull-left"><i class="icon-caret-left"></i> {% include '::month.html.twig' with {'date':targetdateob, 'short':1} %}</a> 
    
    {% set targetdateob = targetdateob.modify('+1 month') %} {# increase 1 month #}
    
    {% include '::month.html.twig' with {'date':targetdateob, 'short':0} %} de {{ targetdate | date('Y') }}
    
    {% set targetdateob = targetdateob.modify('+1 month') %} {# increase 1 month #}
    
    <a href="{{ path('ColectaEventDate', {'date': targetdateob.format('Y-m') }) }}" class="pull-right">{% include '::month.html.twig' with {'date':targetdateob, 'short':1} %} <i class="icon-caret-right"></i></a>     
</strong>
    
<table class="table table-condensed calendar">
    <thead><tr><th>lun</th><th>mar</th><th>mie</th><th>jue</th><th>vie</th><th>sáb</th><th>dom</th></tr></thead>
    {% for r in 1..rows%}
        <tr>
        {% if loop.first %}
            {% if firstWeekDay > 0 %}
                {% for i in 0..(firstWeekDay - 1) %}<td></td>{% endfor %}{# columnas vacias antes de que empiece el mes #}
            {% endif %}
            {% for i in firstWeekDay..6 %}<td{% if 'today' | date('Ymj') == targetdate | date('Ym') ~ dayOfMonth %} class="today"{% elseif events[dayOfMonth] | length > 0 %} class="active"{% endif %}>{% if events[dayOfMonth] | length > 0 %}<a href="{{ path('ColectaEventDate', {'date':events[dayOfMonth][0].dateini | date('Y-m-d') }) }}">{% endif %}{{ dayOfMonth }}{% if events[dayOfMonth] | length > 0 %}</a>{% endif %}{% set dayOfMonth = dayOfMonth + 1 %}</td>{% endfor %}
        {% else %}
            {% for i in 0..6 %}<td{% if 'today' | date('Ymj') == targetdate | date('Ym') ~ dayOfMonth %} class="today"{% elseif events[dayOfMonth] | length > 0 %} class="active"{% endif %}>{% if dayOfMonth <= daysOfMonth %}{% if events[dayOfMonth] | length > 0 %}<a href="{{ path('ColectaEventDate', {'date':events[dayOfMonth][0].dateini | date('Y-m-d') }) }}">{% endif %}{{ dayOfMonth }}{% if events[dayOfMonth] | length > 0 %}</a>{% endif %}{% set dayOfMonth = dayOfMonth + 1 %}{% endif %}</td>{% endfor %}
        {% endif %}
        </tr>
    {% endfor %}
</table>