{% set firstWeekDay = ((targetdate | date('Y-m-1')) | date('N')) - 1 %}
{% set daysOfMonth = targetdate | date('t') %}
{% set rows = (firstWeekDay + daysOfMonth) // 7 %}
{% if ((firstWeekDay + daysOfMonth) / 7) > rows %}{% set rows = rows + 1 %}{% endif %}
{% set dayOfMonth = 1 %}

<span class="calendartitle">
    {# current Y-m #}
    {% set currentY = targetdateob.format('Y') %}
    {% set currentm = targetdateob.format('m') %}
    
    {# previous Y-m #}
    {% if currentm == 1 %}
        {% set previousY = currentY - 1 %}
        {% set previousm = 12 %}
    {% else %}
        {% set previousY = currentY %}
        {% set previousm = currentm - 1 %}
        {% if previousm < 10 %}
            {% set previousm = '0' ~ previousm %}
        {% endif %}
    {% endif %}
    
    {# next Y-m #}
    {% if currentm == 12 %}
        {% set nextY = currentY + 1 %}
        {% set nextm = 1 %}
    {% else %}
        {% set nextY = currentY %}
        {% set nextm = currentm + 1 %}
        
        {% if nextm < 10 %}
            {% set nextm = '0' ~ nextm %}
        {% endif %}
    {% endif %}
    
    <a href="{{ path('ColectaEventDate', {'date': previousY ~ '-' ~ previousm }) }}" class="pull-left"><i class="icon-caret-left"></i> {% include '::month.html.twig' with {'date':previousY ~ '-' ~ previousm ~ '-1', 'short':1} %}</a> 
    
    <a href="{{ path('ColectaEventDate', {'date': currentY ~ '-' ~ currentm }) }}">{% include '::month.html.twig' with {'date':currentY ~ '-' ~ currentm ~ '-1', 'short':0} %} de {{ currentY }}</a>
    
    <a href="{{ path('ColectaEventDate', {'date': nextY ~ '-' ~ nextm }) }}" class="pull-right">{% include '::month.html.twig' with {'date':nextY ~ '-' ~ nextm ~ '-1', 'short':1} %} <i class="icon-caret-right"></i></a>     
</span>
    
<table class="table table-condensed calendar">
    <thead><tr><th>lun</th><th>mar</th><th>mie</th><th>jue</th><th>vie</th><th>sáb</th><th>dom</th></tr></thead>
    {% for r in 1..rows%}
        <tr>
        {% if loop.first %}
            {% if firstWeekDay > 0 %}
                {% for i in 0..(firstWeekDay - 1) %}<td></td>{% endfor %}{# columnas vacias antes de que empiece el mes #}
            {% endif %}
            {% for i in firstWeekDay..6 %}
                {% if events[dayOfMonth] is defined %}{% set hasevents = events[dayOfMonth] | length %}{% else %}{% set hasevents = 0 %}{% endif %}
                
                <td{% if 'today' | date('Ymj') == targetdate | date('Ym') ~ dayOfMonth %} class="today"{% elseif  hasevents %} class="active"{% endif %}>
                    {% if hasevents %}
                        <a href="{{ path('ColectaEventDate', {'date':currentY ~ '-' ~ currentm ~ '-' ~ dayOfMonth}) }}">{% endif %}{{ dayOfMonth }}{% if hasevents %}</a>
                    {% endif %}
                        
                    {% set dayOfMonth = dayOfMonth + 1 %}
                </td>
            {% endfor %}
        {% else %}
            {% for i in 0..6 %}
                {% if events[dayOfMonth] is defined %}{% set hasevents = events[dayOfMonth] | length %}{% else %}{% set hasevents = 0 %}{% endif %}
                
                <td class="{% if 'today' | date('Ymj') == targetdate | date('Ym') ~ dayOfMonth %}today{% endif %}{% if hasevents %} active{% endif %}">
                    {% if dayOfMonth <= daysOfMonth %}
                        {% if hasevents %}
                            <a href="{{ path('ColectaEventDate', {'date': currentY ~ '-' ~ currentm ~ '-' ~ dayOfMonth}) }}">{% endif %}{{ dayOfMonth }}{% if hasevents %}</a>
                        {% endif %}
                            
                        {% set dayOfMonth = dayOfMonth + 1 %}
                    {% endif %}
                
                </td>
            {% endfor %}
        {% endif %}
        </tr>
    {% endfor %}
</table>