{% set firstWeekDay = (('today' | date('Y-m-1')) | date('N')) - 1 %}
{% set daysOfMonth = 'today' | date('t') %}
{% set today = 'today' | date('j') %}
{% set rows = (firstWeekDay + daysOfMonth) // 7 %}
{% if ((firstWeekDay + daysOfMonth) / 7) > rows %}{% set rows = rows + 1 %}{% endif %}
{% set dayOfMonth = 1 %}


<strong class="calendartitle">{{ 'today' | date('n') | replace({
        '1':'Enero',
        '2':'Febrero',
        '3':'Marzo',
        '4':'Abril',
        '5':'Mayo',
        '6':'Junio',
        '7':'Julio',
        '8':'Agosto',
        '9':'Septiembre',
        '10':'Octubre',
        '11':'Noviembre',
        '12':'Diciembre'
    }) }} de {{ 'today' | date('Y') }}</strong>
    
<table class="table table-condensed calendar">
    <thead><tr><th>lun</th><th>mar</th><th>mie</th><th>jue</th><th>vie</th><th>sáb</th><th>dom</th></tr></thead>
    {% for r in 1..rows%}
        <tr>
        {% if loop.first %}
            {% for i in 0..(firstWeekDay - 1) %}<td></td>{% endfor %}{# columnas vacias antes de que empiece el mes #}
            {% for i in firstWeekDay..6 %}<td{% if today == dayOfMonth %} class="today"{% endif %}>{% if events[dayOfMonth] | length > 0 %}<a href="{{ path('ColectaEventView', {'slug':events[dayOfMonth][0].slug }) }}">{% endif %}{{ dayOfMonth }}{% if events[dayOfMonth] | length > 0 %}</a>{% endif %}{% set dayOfMonth = dayOfMonth + 1 %}</td>{% endfor %}
        {% else %}
            {% for i in 0..6 %}<td{% if today == dayOfMonth %} class="today"{% endif %}>{% if dayOfMonth <= daysOfMonth %}{{ dayOfMonth }}{% set dayOfMonth = dayOfMonth + 1 %}{% endif %}</td>{% endfor %}
        {% endif %}
        </tr>
    {% endfor %}
</table>