{% extends '::frontend.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block article %}

<p class="btn-group btn-group-justified sections">
    <a class="btn btn-default"><i class="fa fa-list-ul"></i> <span class="hidden-xs">Categorías</span></a>
    <a class="btn btn-default" href="{{ path('ColectaPostIndex')}}"><i class="fa fa-align-left"></i> <span class="hidden-xs">Textos</span></a>
    <a class="btn btn-default active" href="{{ path('ColectaEventIndex')}}"><i class="fa fa-calendar"></i> <span class="hidden-xs">Calendario</span></a>
    <a class="btn btn-default" href="{{ path('ColectaRouteIndex')}}"><i class="fa fa-bar-chart-o"></i> <span class="hidden-xs">Tracks</span></a>
    <a class="btn btn-default" href="{{ path('ColectaFileIndex')}}"><i class="fa fa-folder-open"></i> <span class="hidden-xs">Archivos</span></a>
    <a class="btn btn-default" href="{{ path('ColectaPlaceIndex')}}"><i class="fa fa-map-marker"></i> <span class="hidden-xs">Lugares</span></a>
</p>

<div class="title-block">
    {% if app.user %} <a href="{{ path('ColectaEventNew') }}" class="btn btn-small pull-right btn-primary">Crear evento <i class="fa fa-plus"></i></a> {% endif %}
    <h2>
    {% if ismonth %}
        {% include "::month.html.twig" with {'date': date, 'short':0} %}
    {% else %}
        {{ date | date('j')  }} de {% include "::month.html.twig" with {'date': date, 'short':0} %} 
    {% endif %}
    </h2>
</div>

<div class="bigcalendar">
{% render "ColectaActivityBundle:Event:calendar" with {'date':date | date('Y-m-d')} %}
</div>

{% set hiddenset = 0 %}
{% if date | date('Ym') == 'now' | date('Ym') and ismonth and items | length > 0 and items[0].happened %}
    {% set hiddenset = 1 %}
    <div id="hiddenset" style="display:none;">
{% endif %}

{% for item in items %}
    
    {% if hiddenset and not item.happened %}
        {% set hiddenset = 0 %}
        </div>
        <div class="row" id="showMoreEvents"><p class="col-sm-3 col-xs-12" style="margin:10px 0 20px"><button onClick="$('#showMoreEvents').css('display','none'); $('#hiddenset').css('display','block')" type="button" class="btn btn-sm btn-default btn-block"><i class="fa fa-ellipsis-vertical" style="padding:0 5px"></i> Ver eventos pasados</button></p></div>
    {% endif %}
    
    {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
        
{% else %}
    
    <div class="alert alert-info">
        No hay ningún evento en esta fecha.
    </div>

{% endfor %}

{% if hiddenset %}
    </div>
    <div class="row" id="showMoreEvents"><p class="col-sm-3 col-xs-12" style="margin:10px 0 20px"><button onClick="$('#showMoreEvents').css('display','none'); $('#hiddenset').css('display','block')" type="button" class="btn btn-sm btn-default btn-block"><i class="fa fa-ellipsis-vertical" style="padding:0 5px"></i> Ver eventos pasados</button></p></div>
{% endif %}

{% endblock %}