{% extends '::frontend_main.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between pt-3">
        <h2>
        {% if ismonth %}
            Actividades en {% include "::month.html.twig" with {'date': date, 'short':0} %} {% if 'today' | date('Y') != date | date('Y') %} {{ date | date('Y') }}{% endif %}
        {% else %}
            Actividades el {{ date | date('j')  }} de {% include "::month.html.twig" with {'date': date, 'short':0} %} {% if 'today' | date('Y') != date | date('Y') %} {{ date | date('Y') }}{% endif %}
        {% endif %}
        </h2>
		{% if app.user and app.user.role.name != 'ROLE_BANNED' %}<p><a href="{{ path('ColectaEventNew')}}" class="btn btn-success"><i class="far fa-plus fa-fw"></i> Publicar</a></p>{% endif %}
    </div>
    
    <div class="bigcalendar">
    {{ render(controller('ColectaActivityBundle:Event:calendar', {'date':date | date('Y-m-d')})) }}
    </div>
    
    {% for item in items %} 
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    {% endfor %}
     
    <div class="alert alert-blank text-center" role="alert"><strong>Puedes suscribirte</strong> al calendario usando Outlook, iCal, Google Calendar, etc... <a href="{{ path('ColectaEventAboutics')}}">Saber más <i class="far fa-angle-double-right"></i>.</a></div>

{% endblock %}