{% extends '::frontend.html.twig' %}

{% block title %}Editar {{ item.name }} | Actividades{% endblock %}

{% block article %}
    
{% if item.canEdit(app.user) %}
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <h2>Editar {{ item.name }}</h2>
        </div>
        <div class="col-sm-4 col-lg-3">
            <a class="btn btn-default btn-block btn-head" href="{{ path('ColectaEventView', {'slug':item.slug}) }}"><i class="fa fa-angle-double-left"></i> Volver al evento</a>
        </div>
    </div>
    
    <div class="monocontent">
        <form action="{{ path('ColectaEventEdit', {'slug': item.slug}) }}" method="POST" class="form-horizontal"{% if rich_text_editor %} onSubmit="return postForm();"{% endif %}>
            <fieldset>
                <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="EventName">Fecha Inicio</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="EventDateini" name="dateini" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateini | date('d-m-Y') }}{% else %}{{ 'tomorrow' | date('d-m-Y') }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control" id="EventDateiniTime" name="dateinitime" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateini | date('H:i') }}{% else %}09:00{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="medium">Fecha Fin</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="EventDateend" name="dateend" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateend | date('d-m-Y') }}{% else %}{{ 'tomorrow' | date('d-m-Y') }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control" id="EventDateendTime" name="dateendtime" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateend | date('H:i') }}{% else %}02:00{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Título</label>
                    <div class="col-sm-9 col-lg-10">
                        <input type="text" class="form-control" id="EventName" name="name" value="{{ item.name }}">
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventText">Descripción</label>
                    <div class="col-sm-9 col-lg-10">
                        <textarea class="form-control" id="EventText" name="text" rows="5">{% if rich_text_editor %}{% spaceless %}{{ item.text | nl2br| nonl | raw }}{% endspaceless %}{% else %}{{ item.text | striptags(allowed_tags) }}{% endif %}</textarea>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Distancia</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="EventDistance" name="distance" value="{{ item.distance }}"><span class="input-group-addon"> km</span>
                        </div>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Desnivel subida</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="EventUphill" name="uphill" value="{{ item.uphill }}"><span class="input-group-addon"> metros</span>
                        </div>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Dificultad</label>
                    <div class="col-sm-9 col-lg-10">
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyEasy" value=""{% if item.difficulty == '' %} checked{% endif %}>
                            No indicar
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyEasy" value="easy"{% if item.difficulty == 'easy' %} checked{% endif %}>
                            <img src="/img/difficulty/easy.gif" alt="fácil" width="70" height="12">
                            Fácil
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyModerate" value="moderate"{% if item.difficulty == 'moderate' %} checked{% endif %}>
                            <img src="/img/difficulty/moderate.gif" alt="moderado" width="70" height="12">
                            Moderado
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyHard" value="hard"{% if item.difficulty == 'hard' %} checked{% endif %}>
                            <img src="/img/difficulty/hard.gif" alt="difícil" width="70" height="12">
                            Difícil
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyVeryhard" value="very hard"{% if item.difficulty == 'very hard' %} checked{% endif %}>
                            <img src="/img/difficulty/very-hard.gif" alt="muy difícil" width="70" height="12">
                            Muy difícil
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyExpertsonly" value="experts only"{% if item.difficulty == 'experts only' %} checked{% endif %}>
                            <img src="/img/difficulty/experts-only.gif" alt="sólo expertos" width="70" height="12">
                            Sólo expertos
                        </label>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="PostText">Categoría</label>
                    <div class="col-sm-9 col-lg-10">
                        {{ render(controller('ColectaItemBundle:Category:formlist', {'selected':item.category.id})) }}
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-offset-3 col-sm-9 col-lg-10">
                        <span class="pull-right" style="margin-top:5px"><small>Privacidad:</small> <button onClick="privacyToggle()" type="button" id="privacyButton" class="btn btn-xs btn-default">{% if item.open %}<i class="fa fa-unlock"></i> Abierto{% else %}<i class="fa fa-lock"></i> Sólo usuarios{% endif %}</button><input id="privacy" type="hidden" name="open" value="{{ item.open ? '1' : 0 }}"></span>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        <a href="{{ path('ColectaEventDelete', {slug: item.slug}) }}" class="btn btn-danger" onClick="return confirm('¿Seguro que quieres eliminar este contenido?')"><i class="icon-trash"></i> Eliminar</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    <hr>
    <h3>Enlazar con otros contenidos</h3>
    <div class="monocontent">
        {% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}
    </div>
{% endif %}

{% endblock %}

{% block stylesheets %}
    {% if rich_text_editor %}
        <link rel="stylesheet" href="/css/summernote.css" />
    {% endif %}
    <link rel="stylesheet" href="/js/pickadate/themes/default.css" />
    <link rel="stylesheet" href="/js/pickadate/themes/default.date.css" />
    <link rel="stylesheet" href="/js/pickadate/themes/default.time.css" />
    <style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        cursor: pointer;
        background-color: #FFF;
    }
    </style>
{% endblock %}

{% block javascripts %}
{% if rich_text_editor %}
    <script src="/js/summernote.min.js"></script>
{% endif %}
<script src="/js/userInteraction.js?v=2013/11/20"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/pickadate/picker.js"></script>
<script src="/js/pickadate/picker.date.js"></script>
<script src="/js/pickadate/picker.time.js"></script>
<script src="/js/pickadate/legacy.js"></script>
<script src="/js/pickadate/translations/es_ES.js"></script>
    
    <script>        
    function privacyToggle()
    {
        if($('#privacy').val() == '1'){
            $('#privacy').val('0');
            $('#privacyButton').html('<i class="fa fa-lock"></i> Sólo usuarios');
        }else{
            $('#privacy').val('1');
            $('#privacyButton').html('<i class="fa fa-unlock"></i> Abierto');
        }
    } 
    
    var EventDateini = $('#EventDateini').pickadate({
        format: 'dd-mm-yyyy',
        onSet: function(context) {
            var picker = EventDateend.pickadate('picker');
            if(context.select > picker.get('select').pick)
            {
                picker.set('select', context.select);
            }
            picker.set('min', new Date(context.select));
        }
    });
    
    var EventDateend = $( "#EventDateend" ).pickadate({
        format: 'dd-mm-yyyy',
        min: $('#EventDateini').val()
    });
    
    $('#EventDateiniTime').pickatime({
        interval: 10,
        format: 'HH:i'
    });
    $('#EventDateendTime').pickatime({
        interval: 10,
        format: 'HH:i'
    });
        
    {% include 'ColectaItemBundle:Default:relateitems.js.twig' %}
      
    {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}

    {% if rich_text_editor %}
        $(document).ready(function() {
            $('#EventText').summernote({
                height: 180,
                toolbar: [
                //['style', ['style']], // no style button
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['fontsize', ['fontsize']],
                //['color', ['color']],
                ['para', ['ul', 'ol']],
                //['height', ['height']],
                ['insert', [/*'picture',*/ 'link']], // no insert buttons
                //['table', ['table']], // no table button
                ['help', ['help']] //no help button
                ]
            });
        });
        
        var postForm = function() {
            var content = $('textarea[name="text"]').html($('#EventText').code());
        }
    {% endif %}
</script>
{% endblock %}