{% extends '::frontend.html.twig' %}

{% block title %}{{ item.name }} | Actividades{% endblock %}

{% block article %}

<div class="item panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-{{ itemIcons[item.type] }}"></i> <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">{{ item.name }}</a></h3>
    </div>
    
    <div class="panel-body">
        <p class="details"><a href="{{ path('userProfile', { 'id': item.author.id }) }}" class="username"><img src="{{ path('userAvatar',{'uid':item.author.id,'width':40,'height':40}) }}"> {{item.author.name}}</a> {% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': item.date } only %}{% if item.category %} en <a class="category" href="{{ path('ColectaCategoryView', { 'slug': item.category.slug }) }}">{{ item.category.name }}</a>{% endif %}</p>

        <div class="unity">
            
            {% set sameday = item.dateini | date('Y') == item.dateend | date('Y') and item.dateini | date('z') == item.dateend | date('z') %}
        
            
                <div class="date pull-right">
                    <span class="weekday">{{ item.dateini | date('l') | replace ({
                'Monday':'LUN',
                'Tuesday':'MAR',
                'Wednesday':'MIÉ',
                'Thursday':'JUE',
                'Friday':'VIE',
                'Saturday':'SÁB',
                'Sunday':'DOM'
            }) }} | {% set month = item.dateini | date('n') | replace({
                '1':'ENE',
                '2':'FEB',
                '3':'MAR',
                '4':'ABR',
                '5':'MAY',
                '6':'JUN',
                '7':'JUL',
                '8':'AGO',
                '9':'SEP',
                '10':'OCT',
                '11':'NOV',
                '12':'DIC'
            }) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateini | date('y') }}{% endif %}</span> 
                    <span class="monthday">{{ item.dateini | date('d') }}</span> 
                    <span class="hour">{{ item.dateini | date('H:i') }}{% if sameday %} - {{ item.dateend | date('H:i') }}{% endif%}</span> 
                    {% if not sameday %}<span class="label label-default">+{% if item.daysDistance > 0 %}{{ item.daysDistance }} días{% else %}{{ item.hoursDistance }} horas{% endif %}</span>{% endif %}
                </div>
        
            <p>{{ item.text | usercontent | striptags(allowed_tags) | raw | nl2br }}   

        </div>
        
        {% include 'ColectaActivityBundle:Default:properties.html.twig' with { item: item } only %}
    
        {######## ASSISTANCES ########}
    
        {% set canedit = item.canEdit(app.user) %}
        {% set haspassed = item.dateini | date('U') < 'now' | date('U') %}
        
        {% if item.assistances | length or canedit and item.allowassistances %}
            <hr>
        
            {% if canedit %}<form class="form-inline" action="{{ path('ColectaEventUpdateAsist', {'slug':item.slug}) }}" method="POST" onSubmit="if($('#userResults .active a').length) return false; else $('#updateBtnLoading').addClass('fa fa-refresh fa-spin')">{% endif %}
            
            <div class="assistances">
            <h4>{% if haspassed %}Han asistido{% else %}Van a asistir{% endif %}:</h4>
                
            <ul class="list-group assistances">    
            {% for assistance in item.assistances %}
            
                <li class="clearfix list-group-item {% if loop.index is odd %}odd{% else %}even{% endif %}">
                    <div class="row">
                        <div class="media col-xs-12  col-sm-12 col-md-4">
                            <img class="username pull-left" width="20" height="20" src="{{ path('userAvatar',{'uid':assistance.user.id,'width':40,'height':40}) }}"> 
                            <a href="{{ path('userProfile', { 'id': assistance.user.id }) }}" itemprop="attendee">{{assistance.user.name}}</a>
                        </div>
                        
                        {% if haspassed %}
                            {% if canedit %}
                                {% if assistance.confirmed %}
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" name="user{{assistance.user.id}}points" value="{% if points[assistance.user.id] is defined %}{{ points[assistance.user.id].points }}{% endif %}" onKeyUp="highlightUpdateBtn()">
                                        <span class="input-group-addon">puntos</span>
                                    </div>
                                </div>
                                {% endif %}
                                
                                <div class="col-xs-12 col-sm-6 col-md-3{% if not assistance.confirmed %} col-sm-offset-3{% endif %}">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" name="user{{assistance.user.id}}km" value="{% if assistance.km <= 0 and not assistance.confirmed %}{{ item.distance }}{% else %}{{ assistance.km }}{% endif %}" onKeyUp="highlightUpdateBtn()">
                                        <span class="input-group-addon">km</span>
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 col-md-2">
                                    <label for="user{{assistance.user.id}}confirmed">confirmar</label> <input onClick="highlightUpdateBtn()" type="checkbox" {% if assistance.confirmed %}checked{%endif%} name="user{{assistance.user.id}}confirmed" id="user{{assistance.user.id}}confirmed">
                                </div>
                            {% elseif assistance.confirmed %}
                                <div class="col-xs-12 col-md-8">{{ assistance.km }} km{% if points[assistance.user.id] is defined %} / {{ points[assistance.user.id].points }} <i class="fa fa-star" style="color:green; font-size: 10px;"></i>{% endif %} <i class="fa fa-check pull-right"></i></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
                
            {% else %}
                <li class="list-group-item"><em>Ninguna asistencia confirmada</em></li>
            {% endfor %}
            
            {% if canedit %}
                <li class="list-group-item clearfix">
                    {% if item.allowassistances %}
                        <p class="lead" style="margin-bottom:10px;">Añadir un usuario</p>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                        {% if item.allowassistances %}
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" placeholder="Nombre de usuario" id="userSearch" name="targetUser" autocomplete="off">
                            </div>
                            
                            <i id="destinationLoading" class="fa fa-cog fa-spin hidden"></i>
                            <ul id="userResults" class="dropdown-menu span3" style="position:static;float:none;" role="menu" aria-labelledby="dropdownMenu"></ul>
                        {% endif %}
                        </div>
                        
                        <div class="col-xs-12 col-sm-3">
                        {% if item.allowassistances or item.assistances | length and haspassed %}
                            <button id="updateBtn" class="btn btn-default btn-block" type="submit"><i id="updateBtnLoading"></i> Actualizar</button>
                        {% endif %}   
                        </div>    
                    </div>             
                </li>
            {% endif %}
            
            </ul>
            
            </div>
            
            {% if canedit %}</form>{% endif %}
        
        {% endif %}
    </div>
    
    <div class="panel-footer">
        {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
        
        {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 15 } only %}
    </div>
</div>

        
{% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}

{% endblock %}


{% if item.canEdit(app.user) and (item.allowassistances or item.assistances | length and haspassed) %}
{% block stylesheets %}
    <style>
    .twitter-typeahead {
      width: 100%;
      position: relative;
      display: block !important;
    }
    .twitter-typeahead .tt-query,
    .twitter-typeahead .tt-hint {
      margin: 0;
      width: 100%;
      color: #555555;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .has-warning .twitter-typeahead .tt-query,
    .has-warning .twitter-typeahead .tt-hint {
      border-color: #c09853;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .has-error .twitter-typeahead .tt-query,
    .has-error .twitter-typeahead .tt-hint {
      border-color: #b94a48;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .has-success .twitter-typeahead .tt-query,
    .has-success .twitter-typeahead .tt-hint {
      border-color: #468847;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .twitter-typeahead .tt-query:focus,
    .twitter-typeahead .tt-hint:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .has-warning .twitter-typeahead .tt-query:focus,
    .has-warning .twitter-typeahead .tt-hint:focus {
      border-color: #a47e3c;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    }
    .has-error .twitter-typeahead .tt-query:focus,
    .has-error .twitter-typeahead .tt-hint:focus {
      border-color: #953b39;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }
    .has-success .twitter-typeahead .tt-query:focus,
    .has-success .twitter-typeahead .tt-hint:focus {
      border-color: #356635;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    }
    .twitter-typeahead .tt-hint {
      color: #a1a1a1;
      z-index: 1;
      border: 1px solid transparent;
    }
    .input-group .twitter-typeahead .tt-query {
      z-index: 2;
    }
    .input-group .twitter-typeahead:first-child .tt-query,
    .input-group .twitter-typeahead:first-child .tt-hint {
      border-radius: 4px 0 0 4px !important;
    }
    .input-group .twitter-typeahead:last-child .tt-query,
    .input-group .twitter-typeahead:last-child .tt-hint {
      border-radius: 0 4px 4px 0 !important;
    }
    .input-group .twitter-typeahead .tt-query,
    .input-group .twitter-typeahead .tt-hint {
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
    }
    .input-group.input-group-sm .twitter-typeahead:first-child .tt-query,
    .input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
      border-radius: 3px 0 0 3px !important;
    }
    .input-group.input-group-sm .twitter-typeahead:last-child .tt-query,
    .input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
      border-radius: 0 3px 3px 0 !important;
    }
    .input-group.input-group-sm .tt-query,
    .input-group.input-group-sm .tt-hint {
      height: 30px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
    .input-group.input-group-lg .twitter-typeahead:first-child .tt-query,
    .input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
      border-radius: 6px 0 0 6px !important;
    }
    .input-group.input-group-lg .twitter-typeahead:last-child .tt-query,
    .input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
      border-radius: 0 6px 6px 0 !important;
    }
    .input-group.input-group-lg .tt-query,
    .input-group.input-group-lg .tt-hint {
      height: 45px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
    }
    .tt-dropdown-menu {
      width: 100%;
      min-width: 160px;
      margin-top: 2px;
      padding: 5px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      *border-right-width: 2px;
      *border-bottom-width: 2px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
    }
    .tt-suggestion {
      display: block;
      padding: 3px 20px;
    }
    .tt-suggestion.tt-is-under-cursor {
      color: #fff;
      background-color: #0081c2;
      background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
      background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
      background-image: -o-linear-gradient(top, #0088cc, #0077b3);
      background-image: linear-gradient(to bottom, #0088cc, #0077b3);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    }
    .tt-suggestion.tt-is-under-cursor a {
      color: #fff;
    }
    .tt-suggestion p {
      margin: 0;
    }
    </style>
{% endblock %}
{% block javascripts %}    
    <script src="/js/typehead/typeahead.js"></script>
    <script>
    $('#userSearch').typeahead({
        name: 'ColectaUsers',
        local: {% render 'ColectaUserBundle:User:AjaxUserList' %}
        /*prefetch: 'http://colecta.dev{{ path('ColectaAjaxUserList') }}'*/
    });
    
    function highlightUpdateBtn() 
    {
        $('#updateBtn').addClass('btn-primary');
    }
{#  var xhr;
    var searchagain = false;
    
    function showResults()
    {
        if($('#userSearch').val().length < 2) {
            hideResults();
            return;
        }
        
        $('#destinationLoading').removeClass('hidden');
        
        if(xhr && xhr.readyState != 4) {
            searchagain = true;
        } else {        
            
            xhr = $.ajax({
                url: '{{ path('ColectaAjaxUserSearch') }}?search='+$('#userSearch').val(),
                success: function(json) {
                    $('#userResults').html('');
                    $('#userResults').css('display','none');
                    for(var i = 0; i < json.length; i++) {
                        $('#userResults').append('<li id="userResult'+(i + 1)+'"><a tabindex="-1" href="#'+json[i].id+'" onClick="$(\'#userSearch\').val(\''+json[i].name+'\');hideResults();highlightUpdateBtn();return false;"> '+json[i].name+'</a></li>');
                    } 
                    if(json.length) { $('#userResults').css('display','block'); }
                    //$('#searchButton').removeAttr("disabled"); 
                },
                cache: false
            }).done(function() { 
                if(searchagain) 
                {
                    searchagain = false;
                    showResults();
                }
                else
                {
                    $('#destinationLoading').addClass('hidden');
                }
            });
        }
    }
    
    //Key up
    $('#userSearch').keyup(function(e){
        if($('#userResults li').length) {
            var current = $('#userResults li.active');
            var currentN = 0;
            if(current.length) {
                currentN = parseInt(current.attr('id').substring(10));
            } 
            
            if(e.keyCode == 40){
                if($('#userResult'+(currentN + 1)).length) {
                    $('#userResult'+(currentN)).removeClass('active');
                    $('#userResult'+(currentN + 1)).addClass('active');
                    return;
                }
                return;
            } else if(e.keyCode == 38){
                if($('#userResult'+(currentN - 1)).length) {
                    $('#userResult'+(currentN)).removeClass('active');
                    $('#userResult'+(currentN - 1)).addClass('active');
                    return;
                }
                return;
            } else if(e.keyCode == 13){
                if($('#userResult'+(currentN)).length) {
                    $('#userResult'+(currentN)+' a').click();
                    return;
                }
                return;
            }
        }
        
        showResults();
    });
    
    function hideResults() 
    {
        $('#userResults').html('');
        $('#userResults').css('display','none');
    }
    
    
#}
    </script>
{% endblock %}
{% endif %}