{% extends '::frontend.html.twig' %}

{% block events 'active' %}

{% block javascripts %}    
    <script src="/js/jquery.min.js"></script>
    <script>
    var xhr;
    var searchagain = false;
    
    function showResults()
    {
        if($('#userSearch').val().length < 3) {
            hideResults();
            return;
        }
        
        //$('#searchButton').attr("disabled", "disabled");
        
        if(xhr && xhr.readyState != 4) {
            searchagain = true;
        } else {        
            
            xhr = $.ajax({
                url: '{{ path('ColectaAjaxUserSearch') }}?search='+$('#userSearch').val(),
                success: function(json) {
                    $('#userResults').html('');
                    $('#userResults').css('display','none');
                    for(var i = 0; i < json.length; i++) {
                        $('#userResults').append('<li><a tabindex="-1" href="#'+json[i].id+'" onClick="$(\'#userSearch\').val(\''+json[i].name+'\');hideResults();highlightUpdateBtn();return false;"> '+json[i].name+'</a></li>');
                    } 
                    if(json.length) { $('#userResults').css('display','block'); }
                    //$('#searchButton').removeAttr("disabled"); 
                },
                cache: false
            }).done(function() { 
                if(searchagain) {
                    searchagain = false;
                    showResults();
                }
            });
        }
    }
    
    function hideResults() 
    {
        $('#userResults').html('');
        $('#userResults').css('display','none');
    }
    
    function highlightUpdateBtn() 
    {
        $('#updateBtn').addClass('btn-primary');
    }
    
    </script>
{% endblock %}

{% block article %}
<div class="event full">
    
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    <div class="date">
        <span class="weekday">{{ item.dateini | date('l') | replace ({
            'Monday':'Lunes',
            'Tuesday':'Martes',
            'Wednesday':'Miércoles',
            'Thursday':'Jueves',
            'Friday':'Viernes',
            'Saturday':'Sábado',
            'Sunday':'Domingo'
        }) }}</span>
        <span class="monthday">{{ item.dateini | date('d') }}</span> 
        <span class="month">{% set month = item.dateini | date('n') | replace({
            '1':'Enero',
            '2':'Febrero',
            '3':'Marzo',
            '4':'Abril',
            '5':'Mayo',
            '6':'Junio',
            '7':'Julio',
            '8':'Agosto',
            '9':'Septiembre',
            '10':'Octubre',
            '11':'Noviembre',
            '12':'Diciembre'
        }) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month | slice(0,3) ~ ' ' ~ item.dateini | date('Y') }}{% endif %}</span>
        <span class="hour">{{ item.dateini | date('H:i') }}</span>
    </div>
    
    <h2>{{ item.name }}</h2>
    <p>{{ item.description | nl2br }}</p>
    
    {% include 'ColectaActivityBundle:Default:properties.html.twig' with { item: item } only %}
    
    
    
    {######## ASSISTANCES ########}
    
    {% set canedit = item.author == app.user %}
    {% set haspassed = item.dateini | date('U') < 'now' | date('U') %}
    
    {% if canedit %}<form action="{{ path('ColectaEventUpdateAsist', {'slug':item.slug}) }}" method="POST">{% endif %}
    
    <div class="assistances">
    <h2>{% if haspassed %}Han asistido{% else %}Van a asistir{% endif %}</h2>
        
    <ul class="unstyled">    
    {% for assistance in item.assistances %}
    
        <li class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
            <a class="username" href="{{ path('userProfile', { 'id': assistance.user.id }) }}">
            <img width="20" height="20" src="{% if assistance.user.avatar %}{{assistance.user.avatar}}{% else %}/img/unknown.gif{% endif %}"> {{assistance.user.name}}
            </a> 
        
            {% if haspassed %}
                {% if canedit %}
                    <span class="pull-right">
                        <input type="text" class="span1" name="user{{assistance.user.id}}km" value="{% if assistance.km <= 0 and not assistance.confirmed %}{{ item.distance }}{% else %}{{ assistance.km }}{% endif %}" onKeyUp="highlightUpdateBtn()"> km | 
                        <label for="user{{assistance.user.id}}confirmed">confirmar</label> <input onClick="highlightUpdateBtn()" type="checkbox" {% if assistance.confirmed %}checked{%endif%} name="user{{assistance.user.id}}confirmed" id="user{{assistance.user.id}}confirmed">
                    </span>
                {% elseif assistance.confirmed %}
                    <span class="pull-right">{{ assistance.km }} km <i class="icon-ok"></i></span>
                {% endif %}
            {% endif %}
        </li>
        
    {% else %}
        <li><em>Ninguna asistencia confirmada</em></li>
    {% endfor %}
    
    {% if canedit %}
        <li>Añadir un usuario:<br><input id="userSearch" type="text" name="targetUser" onKeyUp="showResults();">
            <ul id="userResults" class="dropdown-menu span3" style="position:static;float:none;" role="menu" aria-labelledby="dropdownMenu"></ul>
        </li>
    {% endif %}
    
    </ul>
    
    {% if canedit %}<p style="text-align:right"><input type="submit" id="updateBtn" class="btn" value="Actualizar" /></p>{% endif %}
    
    </div>
    
    {% if canedit %}</form>{% endif %}
    
    
    
    
    {######## COMMENTS ########}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}
    
</div>
{% endblock %}