{% extends '::frontend.html.twig' %}

{% block title %}{{ item.name }} | Actividades{% endblock %}

{% set canedit = item.canEdit(app.user) %}
{% set haspassed = item.dateini | date('U') < 'now' | date('U') %}

{% block article %}

{% set dias_semana = {
            'Monday':'Lunes',
            'Tuesday':'Martes',
            'Wednesday':'Miércoles',
            'Thursday':'Jueves',
            'Friday':'Viernes',
            'Saturday':'Sábado',
            'Sunday':'Domingo'
        }%}
{% set meses = {
            '1':'enero',
            '2':'febrero',
            '3':'marzo',
            '4':'abril',
            '5':'mayo',
            '6':'junio',
            '7':'julio',
            '8':'agosto',
            '9':'septiembre',
            '10':'octubre',
            '11':'noviembre',
            '12':'diciembre'
        }%}
<div class="row">
<div class="full item{% if canedit %} editable{% endif %} mt-3 mb-4 mx-3 mx-sm-0 p-3 col-12 bg-white rounded box-shadow">
    {% include 'ColectaItemBundle:Default:itemDetails.html.twig' with { item: item } only %}
    <h2>
        <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">{{ item.name }}</a>
    </h2>
    
    <p class="event-date">
        <span><i class="fa fa-calendar-o"></i>
        {{ item.dateini | date('l') | replace (dias_semana) }}, 
        {{ item.dateini | date('d') }} 
        de {% set month = item.dateini | date('n') | replace(meses) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateini | date('y') }}{% endif %}
        
        {% if item.dateini | date('Y') == item.dateend | date('Y') and item.dateini | date('z') == item.dateend | date('z') %} 
            {# Same Day#}
            </span> <span><i class="fa fa-clock-o"></i> {{ item.dateini | date('H:i') }} a {{ item.dateend | date('H:i') }}</span>
        {% else %}
            {# Different days #}
             <i class="fa fa-clock-o"></i> {{ item.dateini | date('H:i') }} </span>
                <span><i class="fa fa-long-arrow-right"></i>
                {{ item.dateend | date('l') | replace (dias_semana) }}, 
                {{ item.dateend | date('d') }} 
                de {% set month = item.dateend | date('n') | replace(meses) %}{% if item.dateend | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateend | date('y') }}{% endif %}
                <i class="fa fa-clock-o"></i> {{ item.dateend | date('H:i') }}</span>
        {% endif %}
    </p>
    
    
    {% set properties = [] %}
    {% if item.distance > 0 %}{% set properties = properties|merge([item.distance ~ ' km']) %}{% endif %}
    {% if item.uphill > 0 %}{% set properties = properties|merge(['desnivel: ' ~ item.uphill ~ ' m']) %}{% endif %}
    {% if item.difficulty != '' %}{% set properties = properties|merge(['dificultad: ' ~ item.difficulty | replace({'easy':'fácil', 'moderate':'moderada', 'hard':'difícil', 'very hard':'muy difícil', 'experts only':'sólo expertos'})]) %}{% endif %}
    
    {% if properties|length > 0 %}
        <p class="properties"><strong>{{ properties | join(' | ') }}</strong></p>
    {% endif %}
        
    {{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
    
    {######## ASSISTANCES ########}
    
    {% if app.user and ( item.assistances | length or canedit and item.allowassistances) %}        
        <div class="assistances">
        <h3>{% if haspassed %}Han asistido{% else %}Van a asistir{% endif %}:</h3>
            
        <ul class="list-group" id="usersAssistances">    
        {% for assistance in item.assistances %}
        
            <li id="user{{ assistance.user.id }}assistance" class="list-group-item">
            	<i class="fa fa-user fa-fw"></i>
                <a href="{{ path('userProfile', { 'id': assistance.user.id }) }}" itemprop="attendee" class="attendee">{{assistance.user.name}}</a> 
                {% if haspassed %}
                    {% if assistance.confirmed %}
                        {% if canedit %}
                        	<form action="{{ path('ColectaEventUpdateAsist', {'slug':item.slug, 'user_id': assistance.user.id}) }}" method="POST" onSubmit="">
	                        	<span class="assistance">
	                        		<input name="user{{ assistance.user.id }}points" type="text" onKeyUp="$(this).css('border','1px solid #337ab7');$('#user{{ assistance.user.id }}assistance .save').removeClass('d-none');" value="{{ points[assistance.user.id].points }}" class="text-right"> puntos | 
	                        		<input name="user{{ assistance.user.id }}km" type="text" onKeyUp="$(this).css('border','1px solid #337ab7');$('#user{{ assistance.user.id }}assistance .save').removeClass('d-none');" value="{{ assistance.km }}" class="text-right"> km
	                        	</span>
	                        	<a href="#" onClick="updateAssistance({{ assistance.user.id }});return false;" class="save d-none btn btn-primary"><i class="fa fa-save"></i> Guardar</a>
	                            <a class="control text-danger" href="#" onClick="removeAssistance({{ assistance.user.id }});return false;">Borrar <i class="fa fa-times"></i></a>
                            </form>
                        {% else %}
                        	<span class="assistance">{{ points[assistance.user.id].points }} puntos | {{ assistance.km }} km</span>
                        {% endif %}
                    {% else %}
                        {% if canedit %}
                            <a href="#" onClick="confirmAssistance({{ assistance.user.id }});return false;" class="text-success">Confirmar <i class="fa fa-check"></i></a> 
                            <a class="control text-danger" href="#" onClick="removeAssistance({{ assistance.user.id }});return false;">Borrar <i class="fa fa-times"></i></a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </li>
            
        {% else %}
            <li class="list-group-item no-assistance"><em>Ninguna asistencia confirmada</em></li>
        {% endfor %}
        </ul>
        
        {# ADD USER ASSISTANCE #}
        {% if canedit and item.allowassistances %}
        	<hr class="my-3">
        	<h3>Añadir personas:</h3>
            <div class="adduser">
                <div class="input-group" id="addUser">
                  <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user-plus"></i></span></div>
                  <input type="text" class="form-control" placeholder="Nombre de usuario" id="userSearch" name="targetUser" autocomplete="off">
                </div>
                
                {{ render(controller('ColectaUserBundle:User:userNamesSearchList')) }}
            </div>
        {% endif %}
        
        </div>
    {% endif %}
    
    {######## END ASSISTANCES ########}
    
    {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 15 } only %}
</div>

{% endblock %}



{% block javascripts %} 
<script>
$(document).ready(function(){
	$("#userSearch").on("keyup", function() {
	var value = $(this).val().toLowerCase();
	if(value == '') {
	    $('#usersList').hide();
	} else {
	    $('#usersList').show();
	    $("#usersList li").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	}
	});
});

function userSelected(name, id) {
	addAssistance(name, id);
	$('#usersList').hide();
	
}

function addAssistance(name, user_id) {
	    if($('#user'+user_id+'assistance').length == 0) { //if not already in list
		    $('#usersAssistances').append('<li id="user'+user_id+'assistance" class="list-group-item"><i class="fa fa-user fa-fw"></i> <a href="/usuario/'+user_id+'/" itemprop="attendee" class="attendee">'+name+'</a> <i class="fa fa-spinner fa-pulse"></i></li>');
			confirmAssistance(user_id);
			$('.no-assistance').remove();
	    } else {
		    $('#user'+user_id+'assistance').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
	    }
    }
    
    function confirmAssistance(user_id) {
	    $('#user'+user_id+'assistance .text-success i.fa-check').removeClass('fa-check').addClass('fa-spinner fa-pulse');
	    
	    $.ajax({
		    url: "/actividades/{{ item.slug }}/confirm/" + user_id,
		})
		.done(function (data) {
			$('#user'+data.user_id+'assistance .text-success, #user'+data.user_id+'assistance .text-danger').remove();
		
        	{% if haspassed %}$('#user'+data.user_id+'assistance .attendee').after(' <form action="" method="POST" onSubmit=""> <span class="assistance"><input name="user'+data.user_id+'points" type="text" onKeyUp="$(this).css(\'border\',\'1px solid #337ab7\');$(\'#user'+data.user_id+'assistance .save\').removeClass(\'d-none\');" value="'+data.points+'" class="text-right"> puntos | <input name="user'+data.user_id+'km" type="text" onKeyUp="$(this).css(\'border\',\'1px solid #337ab7\');$(\'#user'+data.user_id+'assistance .save\').removeClass(\'d-none\');" value="'+data.km+'" class="text-right"> km</span> <a href="#" onClick="updateAssistance('+data.user_id+');return false;" class="save d-none btn btn-primary"><i class="fa fa-save"></i> Guardar</button><a class="control text-danger" href="#" onClick="removeAssistance('+data.user_id+');return false;">Borrar <i class="fa fa-times"></i></a></form>');
        	{% endif %}
        	$('#user'+user_id+'assistance i.fa-spinner').remove();
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			$('#user'+data.user_id+'assistance .text-success i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-check');
			alert("Ha ocurrido un error."+errorThrown+" .... "+errorThrown);
		});
	}
	
	function removeAssistance(user_id) {
	    $('#user'+user_id+'assistance i.fa-times').removeClass('fa-times').addClass('fa-spinner fa-pulse');
	    
	    $.ajax({
		    url: "/actividades/{{ item.slug }}/remove/" + user_id,
		})
		.done(function (data) {
			$('#user'+data.user_id+'assistance').remove();
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			$('#user'+data.user_id+'assistance i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-times');
			alert("Ha ocurrido un error."+errorThrown+" .... "+errorThrown);
		});
	}
	
	function updateAssistance(user_id) {
	    $('#user'+user_id+'assistance i.fa-save').removeClass('fa-save').addClass('fa-spinner fa-pulse');
	    
	    $.post( "/actividades/{{ item.slug }}/update/" + user_id, $("#user"+user_id+"assistance form:first").serialize() )
		.done(function (data) {
			$('#user'+data.user_id+'assistance i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-save');
        	$('#user'+data.user_id+'assistance form input[name="user'+data.user_id+'points"]').val(data.points);
        	$('#user'+data.user_id+'assistance form input[name="user'+data.user_id+'km"]').val(data.km);
        	$('#user'+user_id+'assistance .save').addClass('d-none');
        	$('#user'+data.user_id+'assistance form input').css('border', '1px solid green');
        	$('#user'+data.user_id+'assistance .assistance').after('<i class="fa fa-check text-success removemenow"></i>');
        	$('.removemenow').fadeOut(1000);
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			$('#user'+data.user_id+'assistance i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-save');
			alert("Ha ocurrido un error."+errorThrown+" .... "+errorThrown);
		});
	}

</script>
{% endblock %}








{#
{% if item.canEdit(app.user) and (item.allowassistances or item.assistances | length and haspassed) %}
{% block stylesheets %}
    <style>
    .twitter-typeahead {
      width: 100%;
      position: relative;
      display: block !important;
    }
    .twitter-typeahead .tt-query,
    .twitter-typeahead .tt-hint {
      margin: 0;
      width: 100%;
      color: #555555;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .has-warning .twitter-typeahead .tt-query,
    .has-warning .twitter-typeahead .tt-hint {
      border-color: #c09853;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .has-error .twitter-typeahead .tt-query,
    .has-error .twitter-typeahead .tt-hint {
      border-color: #b94a48;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .has-success .twitter-typeahead .tt-query,
    .has-success .twitter-typeahead .tt-hint {
      border-color: #468847;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    .twitter-typeahead .tt-query:focus,
    .twitter-typeahead .tt-hint:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .has-warning .twitter-typeahead .tt-query:focus,
    .has-warning .twitter-typeahead .tt-hint:focus {
      border-color: #a47e3c;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    }
    .has-error .twitter-typeahead .tt-query:focus,
    .has-error .twitter-typeahead .tt-hint:focus {
      border-color: #953b39;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }
    .has-success .twitter-typeahead .tt-query:focus,
    .has-success .twitter-typeahead .tt-hint:focus {
      border-color: #356635;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    }
    .twitter-typeahead .tt-hint {
      color: #a1a1a1;
      z-index: 1;
      border: 1px solid transparent;
    }
    .input-group .twitter-typeahead .tt-query {
      z-index: 2;
    }
    .input-group .twitter-typeahead:first-child .tt-query,
    .input-group .twitter-typeahead:first-child .tt-hint {
      border-radius: 4px 0 0 4px !important;
    }
    .input-group .twitter-typeahead:last-child .tt-query,
    .input-group .twitter-typeahead:last-child .tt-hint {
      border-radius: 0 4px 4px 0 !important;
    }
    .input-group .twitter-typeahead .tt-query,
    .input-group .twitter-typeahead .tt-hint {
      height: 34px;
      font-size: 14px;
      padding: 6px 12px;
      line-height: 1.428571429;
    }
    .input-group.input-group-sm .twitter-typeahead:first-child .tt-query,
    .input-group.input-group-sm .twitter-typeahead:first-child .tt-hint {
      border-radius: 3px 0 0 3px !important;
    }
    .input-group.input-group-sm .twitter-typeahead:last-child .tt-query,
    .input-group.input-group-sm .twitter-typeahead:last-child .tt-hint {
      border-radius: 0 3px 3px 0 !important;
    }
    .input-group.input-group-sm .tt-query,
    .input-group.input-group-sm .tt-hint {
      height: 30px;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
    }
    .input-group.input-group-lg .twitter-typeahead:first-child .tt-query,
    .input-group.input-group-lg .twitter-typeahead:first-child .tt-hint {
      border-radius: 6px 0 0 6px !important;
    }
    .input-group.input-group-lg .twitter-typeahead:last-child .tt-query,
    .input-group.input-group-lg .twitter-typeahead:last-child .tt-hint {
      border-radius: 0 6px 6px 0 !important;
    }
    .input-group.input-group-lg .tt-query,
    .input-group.input-group-lg .tt-hint {
      height: 45px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
    }
    .tt-menu {
      width: 100%;
      min-width: 160px;
      margin-top: 36px;
      padding: 5px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      *border-right-width: 2px;
      *border-bottom-width: 2px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
    }
    .tt-suggestion {
      display: block;
      padding: 3px 20px;
    }
    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: #0081c2;
      background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
      background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
      background-image: -o-linear-gradient(top, #0088cc, #0077b3);
      background-image: linear-gradient(to bottom, #0088cc, #0077b3);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    }
    .tt-suggestion:hover {
      cursor: pointer;
      color: #fff;
      background-color: #0097cf;
    }
    .tt-suggestion.tt-cursor a {
      color: #fff;
    }
    .tt-suggestion p {
      margin: 0;
    }
    </style>
{% endblock %}
{% block javascripts %}    
    <script src="/js/typehead/typeahead.js"></script>
    <script>
    
    var userMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;
            
            // an array that will be populated with substring matches
            matches = [];
            
            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');
            
            // iterate through the pool of users and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, obj) {
                if (substrRegex.test(obj.tokens[0]) || substrRegex.test(obj.tokens[1])) {
                    matches.push(obj);
                }
            });
            
            cb(matches);
        };
    };
    
    var users = {{ render(controller('ColectaUserBundle:User:AjaxUserList')) }};

    $('#userSearch ').typeahead(
    {
        hint: true,
        highlight: true,
        minLength: 1
    },
    {
        name: 'colectaUsers',
        source: userMatcher(users),
        display: 'value',
        limit: 16
    });
    
    $('#userSearch').bind('typeahead:selected', function(obj, datum, name) {    
        addAssistance(datum.value, datum.tokens[2]);
        $('#userSearch').val('');
	});
    
    function addAssistance(name, user_id) {
	    if($('#user'+user_id+'assistance').length == 0) { //if not already in list
		    $('.assistances ul').append('<li id="user'+user_id+'assistance"><i class="fa fa-user fa-fw"></i> <a href="/usuario/'+user_id+'/" itemprop="attendee" class="attendee">'+name+'</a> <i class="fa fa-spinner fa-pulse"></i></li>');
			confirmAssistance(user_id);
			$('.no-assistance').remove();
	    } else {
		    $('#user'+user_id+'assistance').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
	    }
    }
    
    function confirmAssistance(user_id) {
	    $('#user'+user_id+'assistance .text-success i.fa-check').removeClass('fa-check').addClass('fa-spinner fa-pulse');
	    
	    $.ajax({
		    url: "/actividades/{{ item.slug }}/confirm/" + user_id,
		})
		.done(function (data) {
			$('#user'+data.user_id+'assistance .text-success, #user'+data.user_id+'assistance .text-danger').remove();
		
        	{% if haspassed %}$('#user'+data.user_id+'assistance .attendee').after(' <form action="" method="POST" onSubmit=""> <span class="assistance"><input name="user'+data.user_id+'points" type="text" onKeyUp="$(this).css(\'border\',\'1px solid #337ab7\');$(\'#user'+data.user_id+'assistance .save\').removeClass(\'hidden\');" value="'+data.points+'" class="text-right"> puntos | <input name="user'+data.user_id+'km" type="text" onKeyUp="$(this).css(\'border\',\'1px solid #337ab7\');$(\'#user'+data.user_id+'assistance .save\').removeClass(\'hidden\');" value="'+data.km+'" class="text-right"> km</span> <a href="#" onClick="updateAssistance('+data.user_id+');return false;" class="save hidden btn btn-primary"><i class="fa fa-save"></i> Guardar</button><a class="control text-danger" href="#" onClick="removeAssistance('+data.user_id+');return false;">Borrar <i class="fa fa-times"></i></a></form>');
        	{% endif %}
        	$('#user'+user_id+'assistance i.fa-spinner').remove();
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			$('#user'+data.user_id+'assistance .text-success i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-check');
			alert("Ha ocurrido un error."+errorThrown+" .... "+errorThrown);
		});
	}
	
	function removeAssistance(user_id) {
	    $('#user'+user_id+'assistance i.fa-times').removeClass('fa-times').addClass('fa-spinner fa-pulse');
	    
	    $.ajax({
		    url: "/actividades/{{ item.slug }}/remove/" + user_id,
		})
		.done(function (data) {
			$('#user'+data.user_id+'assistance').remove();
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			$('#user'+data.user_id+'assistance i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-times');
			alert("Ha ocurrido un error."+errorThrown+" .... "+errorThrown);
		});
	}
	
	function updateAssistance(user_id) {
	    $('#user'+user_id+'assistance i.fa-save').removeClass('fa-save').addClass('fa-spinner fa-pulse');
	    
	    $.post( "/actividades/{{ item.slug }}/update/" + user_id, $("#user"+user_id+"assistance form:first").serialize() )
		.done(function (data) {
			$('#user'+data.user_id+'assistance i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-save');
        	$('#user'+data.user_id+'assistance form input[name="user'+data.user_id+'points"]').val(data.points);
        	$('#user'+data.user_id+'assistance form input[name="user'+data.user_id+'km"]').val(data.km);
        	$('#user'+user_id+'assistance .save').addClass('hidden');
        	$('#user'+data.user_id+'assistance form input').css('border', '1px solid green');
        	$('#user'+data.user_id+'assistance .assistance').after('<i class="fa fa-check text-success removemenow"></i>');
        	$('.removemenow').fadeOut(1000);
		})
		.fail(function (jqXHR, textStatus, errorThrown) {
			$('#user'+data.user_id+'assistance i.fa-spinner').removeClass('fa-spinner fa-pulse').addClass('fa-save');
			alert("Ha ocurrido un error."+errorThrown+" .... "+errorThrown);
		});
	}
    </script>
{% endblock %}
{% endif %}#}