{% extends '::frontend.html.twig' %}

{% block title %}Actividades - {{ parent() }}{% endblock %}

{% block events 'active' %}

{% block article %}

<div class="title-block">
    {% if app.user %} <a href="{{ path('ColectaEventNew') }}" class="btn btn-small pull-right btn-primary">Crear evento <i class="icon-plus"></i></a> {% endif %}
    <h2>Actividades{% if page > 1 %} (página {{page}}){% endif %}</h2>
</div>

<div class="bigcalendar">
{% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
</div>

{% for item in items %}
    
    {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
{% else %}

    {% if app.user %}
        <h3 style="text-align:center">Pulsa ese botón para empezar a compartir <i class="icon-arrow-up icon-2x" style="color:#2F7ED4;margin-left:50px;"></i></h3>
    {% else %}
        <h3>Nadie ha escrito nada... por ahora.</h3>
    {% endif %}

{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaEventPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaEventPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}