{% extends '::frontend.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block article %}

{% include '::navigation.html.twig' with {'active': 'event'} %}

{% if app.user %} <a href="{{ path('ColectaEventNew') }}" class="btn btn-small pull-right btn-success">Crear evento <i class="icon-plus"></i></a> {% endif %}

<h2>Actividades{% if page > 1 %} (página {{page}}){% endif %}</h2>

<div class="bigcalendar">
{% render "ColectaActivityBundle:Event:calendar" with {'date':'today'} %}
</div>

{% for item in items %}
    
    {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
    
{% else %}
    <div class="monocontent text-center">
        <i class="fa fa-{{ itemIcons['Activity/Event'] }} fa-4x"></i>
        <p class="lead">Los eventos que se añadan aparecerán aquí.</p>
    </div>
{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaEventPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaEventPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}