{% extends 'ColectaItemBundle:Default:itemMicro.html.twig' %}

{% block itemBody %}
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-10">   
            <p class="details"><a href="{{ path('userProfile', { 'id': item.author.id }) }}" class="username"><img src="{{ path('userAvatar',{'uid':item.author.id,'width':20,'height':20}) }}"> {{item.author.name}}</a> {% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': item.date } only %}{% if item.category %} en <a class="category" href="{{ path('ColectaCategoryView', { 'slug': item.category.slug }) }}">{{ item.category.name }}</a>{% endif %}</p>
                 
            <div id="summary-{{ item.slug }}">
                {{ item.text[0:summary_max_length] | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
                {% if item.text | length > summary_max_length %}<button type="button" class="btn btn-link btn-small" onClick="$('#readmore-{{ item.slug }}').show(); $('#summary-{{ item.slug }}').hide(); return false;">( ... leer más )</button>{% endif %}
            </div>
            
            {% if item.text | length > summary_max_length %}
                <div id="readmore-{{ item.slug }}" style="display:none">{{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }} </div>
            {% endif %}
        </div>
        
        {% set sameday = item.dateini | date('Y') == item.dateend | date('Y') and item.dateini | date('z') == item.dateend | date('z') %}
        <div class="date col-xs-12 col-sm-3 col-md-2 ">
                <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">
                <span class="weekday">{{ item.dateini | date('l') | replace ({
            'Monday':'LUN',
            'Tuesday':'MAR',
            'Wednesday':'MIÉ',
            'Thursday':'JUE',
            'Friday':'VIE',
            'Saturday':'SÁB',
            'Sunday':'DOM'
        }) }} | {% set month = item.dateini | date('n') | replace({
            '1':'ENE',
            '2':'FEB',
            '3':'MAR',
            '4':'ABR',
            '5':'MAY',
            '6':'JUN',
            '7':'JUL',
            '8':'AGO',
            '9':'SEP',
            '10':'OCT',
            '11':'NOV',
            '12':'DIC'
        }) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateini | date('y') }}{% endif %}</span> 
                <span class="monthday">{{ item.dateini | date('d') }}</span> 
                <span class="hour">{{ item.dateini | date('H:i') }}{% if sameday %} - {{ item.dateend | date('H:i') }}{% endif%}</span> 
                {% if not sameday %}<span class="label label-default">+{% if item.daysDistance > 0 %}{{ item.daysDistance }} días{% else %}{{ item.hoursDistance }} horas{% endif %}</span>{% endif %}
                </a>
        </div>
    </div>
    {% include 'ColectaActivityBundle:Default:properties.html.twig' with { item: item } only %}
{% endblock %}