{% extends 'ColectaItemBundle:Default:itemMicro.html.twig' %}

{% block thumbnail %}
    <span class="microdate">
        <strong>{{ item.dateini | date('d') }}</strong> 
        <small>{{ item.dateini | date('l') | replace ({
            'Monday':'LUN',
            'Tuesday':'MAR',
            'Wednesday':'MIÉ',
            'Thursday':'JUE',
            'Friday':'VIE',
            'Saturday':'SÁB',
            'Sunday':'DOM'
        }) }} | {% set month = item.dateini | date('n') | replace({
            '1':'ENE',
            '2':'FEB',
            '3':'MAR',
            '4':'ABR',
            '5':'MAY',
            '6':'JUN',
            '7':'JUL',
            '8':'AGO',
            '9':'SEP',
            '10':'OCT',
            '11':'NOV',
            '12':'DIC'
        }) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateini | date('y') }}{% endif %}</small> 
        </br>
        {% set sameday = item.dateini | date('Y') == item.dateend | date('Y') and item.dateini | date('z') == item.dateend | date('z') %}
        <span class="hour">{{ item.dateini | date('H:i') }}{% if sameday %} - {{ item.dateend | date('H:i') }}{% else %} +{% if item.daysDistance > 0 %}{{ item.daysDistance }} días{% else %}{{ item.hoursDistance }} horas{% endif %}{% endif %}</span>
    </span>
{% endblock %}