<div class="event mini">

    <div class="date">
        <span class="weekday">{{ item.dateini | date('l') | replace ({
            'Monday':'Lunes',
            'Tuesday':'Martes',
            'Wednesday':'Miércoles',
            'Thursday':'Jueves',
            'Friday':'Viernes',
            'Saturday':'Sábado',
            'Sunday':'Domingo'
        }) }}</span>
        <span class="monthday">{{ item.dateini | date('d') }}</span> 
        <span class="month">{% set month = item.dateini | date('n') | replace({
            '1':'Enero',
            '2':'Febrero',
            '3':'Marzo',
            '4':'Abril',
            '5':'Mayo',
            '6':'Junio',
            '7':'Julio',
            '8':'Agosto',
            '9':'Septiembre',
            '10':'Octubre',
            '11':'Noviembre',
            '12':'Diciembre'
        }) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month | slice(0,3) ~ ' ' ~ item.dateini | date('Y') }}{% endif %}</span>
        <span class="hour">{{ item.dateini | date('H:i') }}</span>
    </div>
    
    <h2><a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    
    <p>{{ item.summary | nl2br }}{% if item.description | length > item.summary | length %}<span id="linkrm-{{ item.slug }}"><button type="button" class="btn btn-link btn-small" onClick="document.getElementById('readmore-{{ item.slug }}').style.display = '';document.getElementById('linkrm-{{ item.slug }}').style.display = 'none';return false;">( ... leer más )</button></span> <span id="readmore-{{ item.slug }}" style="display:none">{{ item.description[item.summary|length:item.description|length -item.summary|length] | nl2br}} </span>{% endif %}</p>
    
    {% include 'ColectaActivityBundle:Default:properties.html.twig' with { item: item } only %}
</div>