{% extends 'ColectaItemBundle:Default:itemMini.html.twig' %}

{% set dias_semana = {
            'Monday':'Lunes',
            'Tuesday':'Martes',
            'Wednesday':'Miércoles',
            'Thursday':'Jueves',
            'Friday':'Viernes',
            'Saturday':'Sábado',
            'Sunday':'Domingo'
        }%}
{% set meses = {
            '1':'enero',
            '2':'febrero',
            '3':'marzo',
            '4':'abril',
            '5':'mayo',
            '6':'junio',
            '7':'julio',
            '8':'agosto',
            '9':'septiembre',
            '10':'octubre',
            '11':'noviembre',
            '12':'diciembre'
        }%}
        
{% block itemBody %}
    <p class="event-date">
        <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}"><i class="fa fa-calendar-o"></i>
        {{ item.dateini | date('l') | replace (dias_semana) }}, 
        {{ item.dateini | date('d') }} 
        de {% set month = item.dateini | date('n') | replace(meses) %}{% if item.dateini | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateini | date('y') }}{% endif %}
        
        {% if item.dateini | date('Y') == item.dateend | date('Y') and item.dateini | date('z') == item.dateend | date('z') %} 
            {# Same Day#}
            </a> <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}"><i class="fa fa-clock-o"></i> {{ item.dateini | date('H:i') }} a {{ item.dateend | date('H:i') }}</a>
        {% else %}
            {# Different days #}
             <i class="fa fa-clock-o"></i> {{ item.dateini | date('H:i') }} </a>
                <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}"><i class="fa fa-long-arrow-right"></i>
                {{ item.dateend | date('l') | replace (dias_semana) }}, 
                {{ item.dateend | date('d') }} 
                de {% set month = item.dateend | date('n') | replace(meses) %}{% if item.dateend | date('Y') == 'today' | date('Y') %}{{month}}{% else %}{{ month }} &rsquo;{{ item.dateend | date('y') }}{% endif %}
                <i class="fa fa-clock-o"></i> {{ item.dateend | date('H:i') }}</a>
        {% endif %}
    </p>
    
    
    {% set properties = [] %}
    {% if item.distance > 0 %}{% set properties = properties|merge([item.distance ~ ' km']) %}{% endif %}
    {% if item.uphill > 0 %}{% set properties = properties|merge(['desnivel: ' ~ item.uphill ~ ' m']) %}{% endif %}
    {% if item.difficulty != '' %}{% set properties = properties|merge(['dificultad: ' ~ item.difficulty | replace({'easy':'fácil', 'moderate':'moderada', 'hard':'difícil', 'very hard':'muy difícil', 'experts only':'sólo expertos'})]) %}{% endif %}
    
    {% if properties|length > 0 %}
        <p class="properties"><strong>{{ properties | join(' | ') }}</strong></p>
    {% endif %}
                    
    <div id="summary-{{ item.slug }}">
        {{ item.text[0:summary_max_length] | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
        {% if item.text | length > summary_max_length %}<button type="button" class="btn btn-link btn-small" onClick="$('#readmore-{{ item.slug }}').show(); $('#summary-{{ item.slug }}').hide(); return false;">( ... leer más )</button>{% endif %}
    </div>
    
    {% if item.text | length > summary_max_length %}
        <div id="readmore-{{ item.slug }}" style="display:none">{{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }} </div>
    {% endif %}
{% endblock %}