<h2><a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">{{ item.dateini | date('d/m/Y H:i:s') }} {{ item.name }}</a></h2>
<p>{{ item.summary }}</p>

<ul>
    <li>Distancia: {{ item.distance }}</li>
    <li>Subida: {{ item.uphill }} m</li>
    <li>Bajada: {{ item.downhill }} m</li>
    <li>Tiempo: ?</li>
    <li>Dificultad: {{ item.difficulty }}</li>
</ul>