<div class="event mini">
    <h2><a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">
    <div class="date">
        <span class="weekday">{{ item.dateini | date('l') | replace ({
            'Monday':'Lunes',
            'Tuesday':'Martes',
            'Wednesday':'Miércoles',
            'Thursday':'Jueves',
            'Friday':'Viernes',
            'Saturday':'Sábado',
            'Sunday':'Domingo'
        }) }}</span>
        <span class="monthday">{{ item.dateini | date('d') }}</span> 
        <span class="month">{{ item.dateini | date('n') | replace({
            '1':'Enero',
            '2':'Febrero',
            '3':'Marzo',
            '4':'Abril',
            '5':'Mayo',
            '6':'Junio',
            '7':'Julio',
            '8':'Agosto',
            '9':'Septiembre',
            '10':'Octubre',
            '11':'Noviembre',
            '12':'Diciembre'
        }) }}</span>
        <span class="hour">{{ item.dateini | date('H:i') }}</span>
    </div>
    {{ item.name }}</a></h2>
    
    <p>{{ item.summary }}</p>
    
    <ul class="properties">
        <li><strong>{{ item.distance }} km</strong> Distancia</li>
        <li><strong>{{ item.uphill }} m</strong> Subida</li>
        <li><strong>{{ item.downhill }} m</strong> Bajada</li>
        <li><strong>?</strong> Tiempo</li>
        <li><strong><img src="/img/difficulty/{{ item.difficulty | replace({' ':'-'}) }}.gif" width="70" height="12" alt="{{ item.difficulty | replace({'easy':'fácil', 'moderate':'moderado', 'hard':'difícil', 'very hard':'muy difícil', 'experts only':'sólo expertos'}) }}"></strong> Dificultad</li>
    </ul>
</div>