{% extends '::backend.html.twig' %}

{% block content %} 

    {% include '::backendNavigation.html.twig' with {'active': 'users'} %}

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Listado de usuarios</h2>
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="" class="btn btn-default btn-block">Gestionar perfiles <i class="fa fa-flag"></i></a>
            
        </div>
        <div class="col-xs-6 col-sm-3">
            <a href="{{ path('ColectaBackendNewUser') }}" class="btn btn-primary btn-block">Crear usuario <i class="fa fa-user"></i></a>
        </div>
    </div>
    
    <div class="monocontent">
        <table class="table table-condensed table-hover">
        <thead><tr><th>Nombre</th><th>Perfil</th><th class="hidden-xs">Registrado</th><th>Acciones</th></tr></thead>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('userProfile', {'id':user.id}) }}">{{ user.name }}</a></td>
                <td><span class="label label-{% if not user.role.siteAccess %}danger{% elseif not user.role.contribute %}warning{% elseif user.role.siteConfig %}primary{% else %}default{% endif %}">{{ user.role.description }}</span></td>
                <td class="hidden-xs">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': user.registered } only %}</td>
                <td> <a class="btn btn-xs btn-success" href="{{ path('ColectaBackendUserProfile',{user_id: user.id}) }}">Editar <i class="fa fa-pencil"></i></a> <a class="btn btn-xs btn-default" href="{{ path('userMessageNewTo', {'user_id':user.id}) }}">Mensaje <i class="fa fa-envelope"></i></a></td>
            </tr> 
        {% endfor %}
        </table>
    </div>
{% endblock%}