{% extends '::backend.html.twig' %}

{% block title %}Gestionar Roles{% endblock %}

{% block article %} 
    
    <h2>Gestionar Roles</h2>
    
    {% include 'ColectaBackendBundle:Default:navigation.html.twig' with { 'active' : 'user' } %}
    
    <div class="monocontent tabs">
        <a href="{{ path('ColectaBackendRoleCreate') }}" class="btn btn-primary">Crear nuevo Rol <i class="fa fa-plus"></i></a>
        <a href="{{ path('ColectaBackendUserIndex') }}" class="btn btn-default"><i class="fa fa-long-arrow-left fa-fw"></i> Listado de usuarios</a>
        <hr>
        
        <table class="table table-hover">
        <thead><tr><th>Nombre</th><th>Usuarios</th><th>Acciones</th></tr></thead>
        {% for role in roles %}
            {% set amount = role['amount'] %}
            {% set role = role[0] %}
            <tr>
                <td><span class="label label-{% if not role.siteAccess %}danger{% elseif not role.contribute %}warning{% elseif role.siteConfig %}primary{% else %}default{% endif %}">{{ role.description }}</span></td>
                <td>{{ amount }}</td>
                <td>{% if role.name == 'ROLE_CUSTOM' %}<a class="text-success" href="{{ path('ColectaBackendRoleEdit',{role_id: role.id}) }}">editar</a> / {% endif %}<a class="text-primary" href="{{ path('ColectaBackendRoleEdit',{role_id: role.id}) }}">clonar</a>{% if role.name == 'ROLE_CUSTOM' and amount == 0 %} / <a class="text-danger" href="{{ path('ColectaBackendRoleDelete',{role_id: role.id}) }}">Eliminar</a>{% endif %}</td>
            </tr> 
        {% endfor %}
        </table>
    </div>
{% endblock%}