{% extends '::frontend_main.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}

{% block content %}
    <h2 class=" pt-3"><i class="fa fa-{{ page.icon }}"></i> {{ page.name }}</h2>
    
    <div class="monocontent">
        <p>{{ page.text | usercontent | raw | nl2br }}</p>
        
        {% if page.contact and page.contactData is iterable and not app.session.flashbag.get('pageFormSent') | length > 0 %}
            <hr>
            {# CHECK EXPIRATION #}
            {% if page.contactData['expiration'] is defined and page.contactData['expiration'] | date('U') < 'now' | date('U') %}
                <div class="alert alert-warning">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span> 
                    
                    {% if page.contactData['expirationText'] is defined %}
                        {{ page.contactData['expirationText'] }}
                    {% else %}
                        El formulario ha expirado.
                    {% endif%}
                </div>
            {% else %}
                <form action="{{ path('ColectaPage', {slug: page.slug}) }}" method="POST" class="form-horizontal" onSubmit="$('#ContactSubmit').attr('disabled','disabled').addClass('disabled'); $('#ContactSubmitText').html('Enviando...'); $('#ContactSubmitLoading').addClass('icon-refresh icon-spin');">
                    <fieldset>
                    
                      <input type="text" class="form_web" name="phone" value=""> {# anti-spam system #}
                    
                      {% for key,field in page.contactData['fields'] %}
                      
                      <div class="form-group">
                        <label class="control-label" for="Contact{{ key }}">{{ field['title'] }}</label>
                        <div>
                            {% if field['type'] == 'textarea' %}
                                <textarea class="form-control" id="Contact{{ key }}" name="field{{ key }}" rows="5">{{ contactRequest.data[key] | default( field['value'] | default('')) }}</textarea>
                            {% elseif field['type'] == 'checkbox' %}
                                <div class="checkbox"><input type="checkbox" id="Contact{{ key }}" name="field{{ key }}" {% if contactRequest.data[key] | default(field['value'] | default(false)) %}checked{% endif %}></div>
                            {% elseif field['type'] == 'list' %}
                                <select class="form-control"  id="Contact{{ key }}" name="field{{ key }}">
                                {% for option in field['value'] | split(',') %}
                                    <option value="{{ option }}"{% if contactRequest.data[key] is defined and contactRequest.data[key] == option %} selected="selected"{% endif %}>{{ option }}</option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" class="form-control" id="Contact{{ key }}" name="field{{ key }}" value="{{ contactRequest.data[key] | default( field['value'] | default('')) }}">
                            {% endif %}
                            
                            {% if field['help'] is defined %}
                                <p class="help-block">{{ field['help'] }}</p>
                            {% endif %}
                        </div>
                      </div>
                      
                      {% endfor %}
                      
                      <input type="hidden" class="form_web" name="valid_id" value="{{ valid_id }}"> {# anti-spam system #}
                      
                      <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success" id="ContactSubmit"><i id="ContactSubmitLoading"></i> <span id="ContactSubmitText">Enviar formulario</span></button>
                        </div>
                      </div>
                      
                    </fieldset>
                </form>
            {% endif %} {# /expiration #}
        {% endif %} {# /contact page #}
        
        {% if app.user and app.user.role.siteConfigSettings %}
            <p><small><a href="{{ path('ColectaBackendPage', {'page_id':page.id}) }}" class=""><i class="fa fa-pencil"></i> Administrar contenido</a></small></p>
        {% endif %}
    </div>
{% endblock %}