{% extends '::frontend.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}

{% block article %}
    <h2><i class="fa fa-{{ page.icon }}"></i> {{ page.name }}</h2>
    
    <div class="monocontent">
        {{ page.text | usercontent | raw | nl2br }}
    
        {% if page.contact and page.contactData is iterable and not app.session.flashbag.get('pageFormSent') | length > 0 %}
            <hr>
            {# CHECK EXPIRATION #}
            {% if page.contactData['expiration'] is defined and page.contactData['expiration'] | date('U') < 'now' | date('U') %}
                <div class="alert alert-warning">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span> 
                    
                    {% if page.contactData['expirationText'] is defined %}
                        {{ page.contactData['expirationText'] }}
                    {% else %}
                        El formulario ha expirado.
                    {% endif%}
                </div>
            {% else %}
                <form action="{{ path('ColectaPage', {slug: page.slug}) }}" method="POST" class="form-horizontal" onSubmit="$('#ContactSubmit').attr('disabled','disabled').addClass('disabled'); $('#ContactSubmitText').html('Enviando...'); $('#ContactSubmitLoading').addClass('icon-refresh icon-spin');">
                    <fieldset>
                    
                      <input type="text" class="hidden" name="website" value=""> {# anti-spam system #}
                    
                      {% for key,field in page.contactData['fields'] %}
                      
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="Contact{{ key }}">{{ field['title'] }}</label>
                        <div class="col-sm-9">
                            {% if field['type'] == 'textarea' %}
                                <textarea class="form-control" id="Contact{{ key }}" name="field{{ key }}" rows="5">{{ contactRequest.data[key] | default( field['default'] | default('')) }}</textarea>
                            {% elseif field['type'] == 'checkbox' %}
                                <input type="checkbox" id="Contact{{ key }}" name="field{{ key }}" {% if contactRequest.data[key] | default(field['default'] | default(false)) %}checked{% endif %}>
                            {% else %}
                                <input type="text" class="form-control" id="Contact{{ key }}" name="field{{ key }}" value="{{ contactRequest.data[key] | default( field['default'] | default('')) }}">
                            {% endif %}
                            
                            {% if field['help'] is defined %}
                                <p class="help-block">{{ field['help'] }}</p>
                            {% endif %}
                        </div>
                      </div>
                      
                      {% endfor %}
                      
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success" id="ContactSubmit"><i id="ContactSubmitLoading"></i> <span id="ContactSubmitText">Enviar</span></button>
                        </div>
                      </div>
                      
                    </fieldset>
                </form>
            {% endif %} {# /expiration #}
        {% endif %} {# /contact page #}
    
    </div>
{% endblock %}