{% extends '::frontend.html.twig' %}

{% block title %}Rendimiento de {{ user.name }}{% endblock %}

{% block article %}

<div class="row" style="margin-bottom:10px">
    <div class="col-sm-2 col-xs-4">
        <img class="img-responsive" src="{% if user.avatar %}{{ path('userAvatar',{'uid':user.id,'width':100,'height':100}) }}{% else %}/img/unknown.gif{% endif %}">
    </div>
    
    <div class="col-sm-10 col-xs-12">
        <div class="row">
            <h2>{{ user.name }} <br><small>Rendimiento {% if years | length > 1 or years | length == 1 and years[0].year != year %}{% for y in years %}<a href="{{ path('ColectaUserAssistancesYear',{id:user.id,year:y.year}) }}" class="btn btn-xs {% if y.year == year %}btn-success{% else %}btn-default{% endif %}">{{ y.year }}</a> {% endfor %}{% endif %}</small></h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" id="myTab">
                    <li><a href="{{ path('userProfile', {'id':user.id}) }}" data-toggle="tab">Publicaciones <i class="fa fa-pencil-square-o"></i></a></li>
                    <li class="active"><a href="{{ path('ColectaUserAssistances', {'id':user.id}) }}" data-toggle="tab">Rendimiento <i class="fa fa-bar-chart-o"></i></a></li>
                    {% if app.user and app.user.id != user.id and user.role.name != 'ROLE_BANNED' %}<li><a href="{{ path('userMessageNewTo', {'user_id':user.id}) }}">Enviar Mensaje <i class="fa fa-envelope-o"></i></a></li>{% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="monocontent">    
    <div id="chart" style="height:270px"></div>
    
    <table class="table table-condensed table-hover">
    <thead><tr><th class="span2">Fecha</th><th>Actividad</th><th>Distancia</th><th>Puntos</th></tr></thead>
    
    {% set accumulated = 0 %}
    {% set totalpoints = 0 %}
    {% set lastyearmonth = '' %}
    
    {% for asssistance in assistances %}
        <tr{% if lastyearmonth != '' and lastyearmonth != asssistance.event.dateini | date('Ym') %} style="border-top: 2px solid #CCC;"{% endif %}>
            <td>{{ asssistance.event.dateini | date('d') }} {% include '::month.html.twig' with {'date':asssistance.event.dateini, 'short':1} %} {{ asssistance.event.dateini | date('Y') }}</td>
            <td><a href="{{ path('ColectaEventView', { 'slug': asssistance.event.slug }) }}">{{ asssistance.event.name }}</a></td>
            <td>{{ asssistance.km | number_format(1,'.',',')}} km</td>
            <td>{% if points[asssistance.event.id] is defined %}{{ points[asssistance.event.id].points }} <i class="fa fa-star" style="font-size:10px; color:green;"></i>{% set totalpoints = totalpoints + points[asssistance.event.id].points %}{% endif %}</td>
        </tr>
        {% set accumulated = accumulated + asssistance.km %}
        {% set lastyearmonth = asssistance.event.dateini | date('Ym') %}
    {% endfor %}
    
    <tr><td></td><td style="text-align:right"><strong>TOTAL</strong></td><td>{{ accumulated | number_format(1,'.',',')}} km</td><td>{{ totalpoints }} <i class="fa fa-star" style="font-size:10px; color:green;"></i></td></tr>
    
    </table>
</div>

{% endblock%}

{% block javascripts %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script>
    
    {% set last = assistances | length - 1 %}
    {% if last > 0 and assistances[0].event.dateini | date('Y') != assistances[last].event.dateini | date('Y') %}
        {% set printyear = true %}
    {% else %}
        {% set printyear = false %}
    {% endif %}
    
    {% set categories = '' %}
    {% set data = '' %}
    {% set lastMonthName, thisMonthName = '', '' %}
    {% set lastMonthValue = 0 %}
    
    {% for asssistance in assistances %}
    
        {# NOMBRE DEL MES #}
        {% set thisMonthName = asssistance.event.dateini | date('m') | replace({'01':'Ene','02':'Feb','03':'Mar','04':'Abr','05':'May','06':'Jun','07':'Jul','08':'Ago','09':'Sep','10':'Oct','11':'Nov','12':'Dic'}) %}
        {% if printyear %}
            {% set thisMonthName = thisMonthName ~ ' ' ~ asssistance.event.dateini | date('Y') %}
        {% endif %}
        
        {% if lastMonthName != thisMonthName %}
            {% if not loop.first %}
                {% if categories != '' %}{% set categories = categories ~ ',' %}{% endif %}
                {% if data != '' %}{% set data = data ~ ',' %}{% endif %}
                
                {% set categories = categories ~ "'" ~ lastMonthName ~ "'" %}
                {% set data = data ~ lastMonthValue  %}
            {% endif %}
            {% set lastMonthName = thisMonthName %}
            {% set lastMonthValue = 0 %}
        {% endif %}
        
        {% set lastMonthValue = lastMonthValue + asssistance.km %}
    {% endfor %}
    
    {# LAST CHANCE #}
    {% if lastMonthValue > 0 %}
        {% if categories != '' %}{% set categories = categories ~ ',' %}{% endif %}
        {% if data != '' %}{% set data = data ~ ',' %}{% endif %}
        
        {% set categories = categories ~ "'" ~ lastMonthName ~ "'" %}
        {% set data = data ~ lastMonthValue  %}
    {% endif %}
    
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                
                spacingRight: 0,
                spacingLeft: 0, 
                spacingTop: 6,
                spacingBottom: 4,
                type: 'column'
            },
            credits: {
                enabled : false
            },
            legend: {
                enabled: false
            },
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            xAxis: {
                categories: [{{ categories | raw }}]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Distancia (km)'
                }
            },
            tooltip: {
            },
            plotOptions: {
            },
            
            series: [{name: 'Acumulado',data: [{{ data }}] }]
        });
    });
    </script>
{% endblock %}