{% extends '::frontend.html.twig' %}

{% block article %}

<div class="title-block">
    <h2><img src="{% if user.avatar %}{{ path('userAvatar',{'uid':user.id,'width':100,'height':100}) }}{% else %}/img/unknown.gif{% endif %}">{{ user.name }} <br><span>Actividades con asistencia confirmada</span></h2>
</div>

<div class="pagination">
    <ul>
        <li><a href="{{ path('userProfile', {'id':user.id}) }}">Historial</a></li>
        <li class="active"><a href="{{ path('ColectaUserAssistances', {'id':user.id}) }}">Asistencias</a></li>
        {% if user.role.name != 'ROLE_BANNED' %}<li><a href="{{ path('userMessageNewTo', {'user_id':user.id}) }}">Enviar Mensaje</a></li>{% endif %}
    </ul>
</div>

{% for a in assistances %}
    {% set path = 'Colecta' ~ a.event.type ~ ':micro.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': a.event } only %}
{% else %}
    <p><strong>No consta como asistente a ningún evento.</strong></p>
{% endfor %}
{% endblock %}