{% extends '::frontend.html.twig' %}

{% block title %}Rendimiento de {{ user.name }}{% endblock %}

{% block article %}  
		{#<a class="btn btn-sm btn-outline-primary" href="{{ path('userProfile', {'id':user.id}) }}">Ver publicaciones <i class="far fa-list"></i></a>#}
		
        <h2>Rendimiento de <a class="" href="{{ path('userProfile', {'id':user.id}) }}">{{ user.name }}</a> en {{ year }}</h2>
        
        {% if years | length > 1 or years | length == 1 and years[0].year != year %}
            <p class="text-muted">
                {% for y in years %}
                    {% if y.year != year %}
                        <a href="{{ path('ColectaUserAssistancesYear',{id:user.id,year:y.year}) }}" class="">{{ y.year }}</a> 
                    {% else %}
                        {{ y.year }}
                    {% endif %}
                    
                    {% if not loop.last %} | {% endif %}
                {% endfor %}
            </p>
        {% endif %}
	        
        <div id="chart" style="height:270px"></div>
        
        <table class="table table-condensed table-hover">
        <thead><tr><th class="span2">Fecha</th><th>Actividad</th><th>Distancia</th><th>Puntos</th></tr></thead>
        
        {% set accumulated = 0 %}
        {% set totalpoints = 0 %}
        {% set lastyearmonth = '' %}
        
        {% for assistance in assistances %}
            <tr{% if lastyearmonth != '' and lastyearmonth != assistance.event.dateini | date('Ym') %} style="border-top: 2px solid #CCC;"{% endif %}>
                <td>{{ assistance.event.dateini | date('d') }} {% include '::month.html.twig' with {'date':assistance.event.dateini, 'short':1} %}</td>
                <td><a href="{{ path('ColectaEventView', { 'slug': assistance.event.slug }) }}">{{ assistance.event.name }}</a></td>
                <td>{{ assistance.km | number_format(1,'.',',')}} km</td>
                <td>{% if points[assistance.event.id] is defined %}{{ points[assistance.event.id].points }} p{% set totalpoints = totalpoints + points[assistance.event.id].points %}{% endif %}</td>
            </tr>
            {% set accumulated = accumulated + assistance.km %}
            {% set lastyearmonth = assistance.event.dateini | date('Ym') %}
        {% endfor %}
        
        <tr><td></td><td style="text-align:right"><strong>TOTAL</strong></td><td>{{ accumulated | number_format(1,'.',',')}} km</td><td>{{ totalpoints }} p</td></tr>
        
        </table>
{% endblock%}

{% block javascripts %}    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script>
    
    {% set last = assistances | length - 1 %}
    {% if last > 0 and assistances[0].event.dateini | date('Y') != assistances[last].event.dateini | date('Y') %}
        {% set printyear = true %}
    {% else %}
        {% set printyear = false %}
    {% endif %}
    
    {% set monthsNames = {'01':'Ene','02':'Feb','03':'Mar','04':'Abr','05':'May','06':'Jun','07':'Jul','08':'Ago','09':'Sep','10':'Oct','11':'Nov','12':'Dic'} %}
    
    {% set categories = '' %}
    {% set data = '' %}
    {% set lastMonthName, thisMonthName = '', '' %}
    {% set lastMonthValue, lastMonthNumber = 0, 0 %}
    
    {% for assistance in assistances %}
    
        {# NOMBRE DEL MES #}
        {% set thisMonthName = assistance.event.dateini | date('m') | replace(monthsNames) %}
        {% if printyear %}
            {% set thisMonthName = thisMonthName ~ ' ' ~ assistance.event.dateini | date('Y') %}
        {% endif %}
        
        {% if lastMonthName != thisMonthName %}
            {% if not loop.first %}
                {% if categories != '' %}{% set categories = categories ~ ',' %}{% endif %}
                {% if data != '' %}{% set data = data ~ ',' %}{% endif %}
                
                {% set categories = categories ~ "'" ~ lastMonthName ~ "'" %}
                {% set data = data ~ lastMonthValue  %}
                
                {% if lastMonthNumber + 1 < assistance.event.dateini | date('m') %}
                    {% for i in range(lastMonthNumber + 1, assistance.event.dateini | date('m') -1 ) %}
                        {% if i < 10 %}{% set i = '0' ~ i %}{% endif %}
                        {% set categories = categories ~ ",'" ~ (i | replace(monthsNames)) ~ "'" %}
                        {% set data = data ~ ',0'  %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% set lastMonthName = thisMonthName %}
            {% set lastMonthValue = 0 %}
            {% set lastMonthNumber = assistance.event.dateini | date('m') %}
        {% endif %}
        
        {% set lastMonthValue = lastMonthValue + assistance.km %}
    {% endfor %}
    
    {# LAST CHANCE #}
    {% if lastMonthValue > 0 %}
        {% if categories != '' %}{% set categories = categories ~ ',' %}{% endif %}
        {% if data != '' %}{% set data = data ~ ',' %}{% endif %}
        
        {% set categories = categories ~ "'" ~ lastMonthName ~ "'" %}
        {% set data = data ~ lastMonthValue  %}
    {% endif %}
    
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                
                spacingRight: 0,
                spacingLeft: 0, 
                spacingTop: 6,
                spacingBottom: 4,
                type: 'column'
            },
            {% if web_theme_colors is defined and web_theme_colors | length > 4 %}colors: ['{{ web_theme_colors[5] }}'],{% endif %}
            credits: {
                enabled : false
            },
            legend: {
                enabled: false
            },
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            xAxis: {
                categories: [{{ categories | raw }}]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Distancia (km)'
                }
            },
            tooltip: {
            },
            plotOptions: {
            },
            
            series: [{name: 'Acumulado',data: [{{ data }}] }]
        });
    });
    </script>
{% endblock %}