{% extends '::frontend.html.twig' %}

{% block article %}
<div class="title-block">
    <h2>Editar mi perfil</h2>
</div>

<div class="monocontent">
    <form action="{{ path('userEditProfile') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-4 col-lg-3 control-label" for="UserName">Nombre</label>
            <div class="col-sm-8 col-lg-9">
                {{ form_widget(form.name, { 'attr': {'id': 'UserName','class' : 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 col-lg-3 control-label" for="UserMail">Email</label>
            <div class="col-sm-8 col-lg-9">
                {{ form_widget(form.mail, { 'attr': {'id': 'UserMail','class' : 'form-control'} }) }}
                {{ form_errors(form.mail) }}
            </div>
        </div>
        
        <hr>
        
        <div class="form-group">
            <label class="col-sm-4 col-lg-3 control-label" for="UserPassword1">Nueva Contraseña</label>
            <div class="col-sm-8 col-lg-9">
                {{ form_widget(form.pass.pass1, { 'attr': {'id': 'UserPassword1', 'autocomplete':'off','class' : 'form-control'} }) }}
                {{ form_errors(form.pass.pass1) }}
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 col-lg-3 control-label" for="UserPassword2">Repite Contraseña</label>
            <div class="col-sm-8 col-lg-9">
                {{ form_widget(form.pass.pass2, { 'attr': {'id': 'UserPassword2', 'autocomplete':'off','class' : 'form-control'} }) }}
                {{ form_errors(form.pass.pass2) }}
            </div>
        </div>
        
        <hr>
        
        <div class="form-group">
            <label class="col-sm-4 col-lg-3 control-label" for="UserAvatar">Avatar<br></label>
            <div class="col-sm-8 col-lg-9">
                <img class="pull-left" style="margin-right: 10px;" width="25" height="25" src="{{ path('userAvatar',{'uid':app.user.id,'width':100,'height':100}) }}">
                {{ form_widget(form.file, { 'attr': {'id': 'UserAvatar'} }) }}
                {{ form_errors(form.file) }}
            </div>
        </div>
        
        {{ form_rest(form) }}
        <div class="form-group">
            <div class="col-lg-offset-3 col-sm-offset-4 col-sm-8 col-lg-9">
                <input class="btn btn-primary" type="submit" value="Guardar cambios" />
            </div>
        </div>
    </form>
</div>
{% endblock %}

