<div class="row mb-3">
	<div class="col-3 col-sm-12">
		<div class="profileAvatar mt-2"><img class="img-fluid" width="255" height="250" src="{{ path('userAvatar',{'uid':user.id,'width':250,'height':250}) }}"></img></div>
	</div>
	<div class="col-9 col-sm-12">
		{% if user.profile and not user.profile.empty and app.user and app.user.role.userView %}
		    <p class="mt-2"><strong>{{ user.profile.name }} {{ user.profile.surname }}</strong> {{ user.profile.idNumber ? '(' ~ user.profile.idNumber ~ ')' }} {% if user.profile.partnerId and app.user and app.user.role.userEdit %}<a href="{{ path('ColectaBackendUserProfile',{user_id: user.id}) }}">#{{ user.profile.partnerId }}</a>{% endif %}</p>
		    <p class="text-secondary">{% if user.profile.birthDate %}{{ user.profile.birthDate | age }} años<br>{% endif %}
		    {% if user.profile.address %}<i class="far fa-fw fa-home"></i> {{ user.profile.address }}<br>{% endif %} 
		    {% if user.profile.phone %}<i class="far fa-fw fa-phone"></i> {{ user.profile.phone }}<br>{% endif %}
		    </p>
		    
		    {% if app.user and app.user.id == user.id and user.role.name != 'ROLE_BANNED' %}<p><a href="{{ path('userEditProfile') }}"><i class="far fa-edit"></i> Editar perfil</a></p>{% endif %}
		{% else %}
			<p class="mt-2"><strong>{{ user.name }}</strong></p>
		{% endif %}	
		
		{% if app.user and app.user.id != user.id and user.role.messageSend %}
			<a href="{{ path('userConversation', {'user_id':user.id}) }}"><i class="far fa-envelope fa-fw"></i> Enviar Mensaje</a>
		{% endif %}
	</div>
</div>