{% extends '::frontend.html.twig' %}

{% block title %}Perfil de {{ user.name }}{% endblock %}

{% block article %}

    <h2>Historial de publicaciones{% if page > 1 %}<small> página {{page}}</small>{% endif %}</h2>
    
    {% include 'ColectaUserBundle:User:profileHeader.html.twig' with { 'active' : 'items' } %}
    
    {% for item in items %}
        
        <div class="item" id="item{{ item.id}}">        
            {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
            {% set path = path | replace({'/':'Bundle:'}) %}
            {% include path with { 'item': item } only %}
            
            {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
        </div>
    
    {% else %}
        <p class="lead">No ha publicado nada... por ahora.</p>
    {% endfor %}
    
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('userItems', {'id': user.id, 'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('userItems', {'id': user.id, 'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endblock %}