{% extends '::frontend.html.twig' %}

{% block title %}Perfil de {{ user.name }}{% endblock %}

{% block article %}

<div class="row" style="margin-bottom:10px">
    <div class="col-sm-2 hidden-xs">
        <img class="img-responsive" src="{% if user.avatar %}{{ path('userAvatar',{'uid':user.id,'width':120,'height':120}) }}{% else %}/img/unknown.gif{% endif %}">
    </div>
    
    <div class="col-sm-10 col-xs-12">
    
        <h2>{{ user.name }} <br><small>Historial de publicaciones{% if page > 1 %} página {{page}}{% endif %}</small></h2>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-sm btn-default active" href="{{ path('userProfile', {'id':user.id}) }}">Historial</a> 
                    <a class="btn btn-sm btn-default" href="{{ path('ColectaUserAssistances', {'id':user.id}) }}">Asistencias</a> 
                    {% if app.user and app.user.id != user.id and user.role.name != 'ROLE_BANNED' %}<a class="btn btn-sm btn-default" href="{{ path('userMessageNewTo', {'user_id':user.id}) }}">Enviar Mensaje</a>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% for item in items %}
    
    <div class="item" id="item{{ item.id}}">        
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        
        {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
    </div>

{% else %}
    <h3>No ha publicado nada... por ahora.</h3>
{% endfor %}

<ul class="pager">
  <li class="previous{% if page == 1 %} disabled{% endif %}">
    <a href="{% if page > 1 %}{{ path('userItems', {'id': user.id, 'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
  </li>
  <li class="next{% if not thereAreMore %} disabled{% endif %}">
    <a href="{% if thereAreMore %}{{ path('userItems', {'id': user.id, 'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
  </li>
</ul>
{% endblock %}