<div class="profileHeader clearfix well">
    <img class="pull-right avatar" width="75" height="75" src="{{ path('userAvatar',{'uid':user.id,'width':75,'height':75}) }}">
    
    <h2>{{ user.name }}</h2>
    
    {% if user.profile and not user.profile.empty and app.user and app.user.role.userView %}
        <p><strong>{{ user.profile.name }} {{ user.profile.surname }}</strong> {{ user.profile.idNumber ? '(' ~ user.profile.idNumber ~ ')' }} {% if user.profile.partnerId and app.user and app.user.role.userEdit %}<a href="{{ path('ColectaBackendUserProfile',{user_id: user.id}) }}">#{{ user.profile.partnerId }}</a>{% endif %}</p>
        <p>{% if user.profile.sex %} <i class="fa fa-fw fa-{{ user.profile.sex == 'male' ? 'mars' : 'venus' }}"></i>{% endif %} {% if user.profile.birthDate %}{{ user.profile.birthDate | age }} años {% endif %}
        {% if user.profile.address %}<i class="fa fa-fw fa-home"></i> {{ user.profile.address }}{% endif %} {% if user.profile.phone %}<i class="fa fa-fw fa-phone"></i> {{ user.profile.phone }}{% endif %}</p>
    {% endif %}

    <ul class="nav nav-pills">
        <li{% if active == 'items' %} class="active"{% endif %}><a href="{{ path('userProfile', {'id':user.id}) }}">Publicaciones</a></li>
        <li{% if active == 'assistances' %} class="active"{% endif %}><a href="{{ path('ColectaUserAssistances', {'id':user.id}) }}">Rendimiento <i class="fa fa-bar-chart-o"></i></a></li>
        {% if app.user and app.user.id != user.id and user.role.messageSend %}<li><a href="{{ path('userConversation', {'user_id':user.id}) }}">Enviar Mensaje <i class="fa fa-envelope-o"></i></a></li>{% endif %}
        {% if app.user and app.user.id == user.id and user.role.name != 'ROLE_BANNED' %}<li><a href="{{ path('userEditProfile') }}"><i class="fa fa-edit"></i> Editar perfil</a></li>{% endif %}
    </ul>
</div>