{% extends '::frontend.html.twig' %}

{% block article %}

<div class="title-block">
    <h2><img src="{% if user.avatar %}{{ path('userAvatar',{'uid':user.id,'width':100,'height':100}) }}{% else %}/img/unknown.gif{% endif %}">{{ user.name }} <br><span>Historial de publicaciones</span></h2>
</div>

<div class="pagination">
    <ul>
        <li class="active"><a href="{{ path('userProfile', {'id':user.id}) }}">Historial</a></li>
        <li><a href="{{ path('ColectaUserAssistances', {'id':user.id}) }}">Asistencias</a></li>
        <li><a href="{{ path('userMessageNewTo', {'user_id':user.id}) }}">Enviar Mensaje</a></li>
    </ul>
</div>

{% if app.user and app.user.id == 1 %}
<p>Código de recuperación: {{ thecode }}</p>
{% endif %}

{% for item in items %}
<div class="item">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}
</div>
{% endfor %}

<ul class="pager">
  <li class="previous{% if page == 1 %} disabled{% endif %}">
    <a href="{% if page > 1 %}{{ path('userItems', {'id': user.id, 'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
  </li>
  <li class="next{% if not thereAreMore %} disabled{% endif %}">
    <a href="{% if thereAreMore %}{{ path('userItems', {'id': user.id, 'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
  </li>
</ul>
{% endblock %}