{% extends '::backend.html.twig' %}

{% block title %}Crear Página{% endblock %}

{% block article %} 
    
    <h2>Crear Página</h2>
    
    {% include 'ColectaBackendBundle:Default:navigation.html.twig' with { 'active' : 'page' } %}
    
    <div class="monocontent tabs">     
        <a href="{{ path('ColectaBackendPageIndex') }}" class="btn btn-default"><i class="fa fa-long-arrow-left fa-fw"></i> Gestionar Contenido</a>
        
        <hr>
           
        <form class="form-horizontal" method="post" action="{% if page.id %}{{ path('ColectaBackendPage', {page_id:page.id}) }}{% else %}{{ path('ColectaBackendNewPage') }}{% endif %}">
            <div class="form-group">
                <label class="col-sm-4 col-lg-3 control-label" for="PageName">Título de la página</label>
                <div class="col-sm-8 col-lg-9">
                    <input type="text" name="pageName" id="PageName" class="form-control" value="{{ page.name }}">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-4 col-lg-3 control-label" for="PageText">Texto</label>
                <div class="col-sm-8 col-lg-9">
                    <div id="toolbar">
                        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" class="btn btn-default" title="Título"><i class="fa fa-text-height fa-fw"></i></a>
                         | 
                        <a data-wysihtml5-command="bold" class="btn btn-default" title="Negrilla"><i class="fa fa-bold fa-fw"></i></a>
                        <a data-wysihtml5-command="italic" class="btn btn-default" title="Cursiva"><i class="fa fa-italic fa-fw"></i></a>
                        <a data-wysihtml5-command="underline" class="btn btn-default" title="Subrayar"><i class="fa fa-underline fa-fw"></i></a>
                         | 
                        <a data-wysihtml5-command="createLink" class="btn btn-default" title="Enlace"><i class="fa fa-link fa-fw"></i></a>
                        <a data-wysihtml5-command="removeLink" class="btn btn-default" title="Quitar enlace"><i class="fa fa-chain-broken fa-fw"></i></a>
                         | 
                        <a data-wysihtml5-command="insertUnorderedList" class="btn btn-default" title="Lista desordenada"><i class="fa fa-list-ul fa-fw"></i></a>
                        <a data-wysihtml5-command="insertOrderedList" class="btn btn-default" title="Lista ordenada"><i class="fa fa-list-ol fa-fw"></i></a>
                        
                        <div data-wysihtml5-dialog="createLink" style="display:none" class="linkBox">
                            <label>
                                Enlace:
                                <input data-wysihtml5-dialog-field="href" value="http://">
                            </label>
                            <a data-wysihtml5-dialog-action="save" class="btn btn-default">OK</a>
                            <a data-wysihtml5-dialog-action="cancel" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                    
                    <textarea rows="8" name="pageText" id="PageText" class="form-control">{{ page.text }}</textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-4 col-lg-3 control-label">Navegación</label>
                <div class="col-sm-8 col-lg-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="pageSidebarShow"{% if page.sidebarShow or page.id < 1 %} checked="checked"{% endif %}> Mostrar enlace en la barra de navegación.							
						</label>
					</div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-4 col-lg-3 control-label">Roles a los que va dirigida</label>
                <div class="col-sm-8 col-lg-9">
                        <div class="checkbox">
    						<label>
    							<input type="checkbox" name="pageTargetRole0"{% if 0 in page.targetRoles or page.id < 1 %} checked="checked"{% endif %}> Anónimo
    						</label>
    					</div>
                    {% for role in roles %}
                        <div class="checkbox">
    						<label>
    							<input type="checkbox" name="pageTargetRole{{ role.id }}"{% if role.id in page.targetRoles or page.id < 1 %} checked="checked"{% endif %}> {{ role.description }}
    						</label>
    					</div>
                        {% endfor %}
                    <p class="help-block">Los roles que no queden seleccionados no podrán acceder al contenido.</p>
                </div>
            </div>
            
            {% set icons = ['info-circle', 'bicycle', 'beer', 'bolt', 'camera', 'flag', 'flag-checkered', 'smile-o', 'exclamation-triangle', 'trophy', 'futbol-o', 'envelope', 'envelope-o', 'exclamation-circle', 'female', 'male', 'archive', 'ban', 'binoculars', 'book', 'coffee', 'birthday-cake', 'circle', 'paper-plane-o', 'question', 'star-o', 'users'] %}
            
            <div class="form-group">
                <label class="col-sm-4 col-lg-3 control-label">Icono</label>
                <div class="col-sm-8 col-lg-9 row">
                    <div class="col-xs-4 col-md-3 col-lg-2">
                        <label class="radio-inline"><input type="radio" name="pageIcon" value="" {% if page.icon == '' %}checked="checked"{% endif %}> (ninguno)</label>
                    </div>
                    
                    {% for icon in icons %}
                        <div class="col-xs-4 col-md-3 col-lg-2">
                            <label class="radio-inline"><input type="radio" name="pageIcon" value="{{ icon }}" {% if page.icon == icon %}checked="checked"{% endif %}> <i class="fa fa-{{ icon }} fa-fw"></i></label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <hr>
            
            <div class="form-group">
                <label class="col-sm-4 col-lg-3 control-label">Formulario de contacto</label>
                <div class="col-sm-8 col-lg-9">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="pageContact" name="pageContact"{% if page.contact %} checked="checked"{% endif %}> Crear formulario de contacto.							
						</label>
					</div>
					<div id="contactForm"{% if not page.contact %} style="display:none"{% endif %}>
					    <hr>
					    <div id="contactFormFields">
					    {% if page.contactData.fields is defined %}{% for field in page.contactData.fields %}
					        <div class="contactFormField" id="contactFormField{{ loop.index0 }}">
					            <span class="fieldNumber">#{{ loop.index }} </span>
    				            <span class="text-danger pull-right" onClick="deleteField({{ loop.index0 }})">eliminar</span>
    				            
    				            <label id="contactFormField{{ loop.index0 }}TypeLabel" for="contactFormField{{ loop.index0 }}Type">Tipo de campo</label>
    				            <select class="form-control" name="contactFormField{{ loop.index0 }}Type" id="contactFormField{{ loop.index0 }}Type">
    				                <option value="text"{% if field.type == 'text' %} selected="selected"{% endif %}>Texto</option>
    				                <option value="textarea"{% if field.type == 'textarea' %} selected="selected"{% endif %}>Texto de párrafo</option>
    				                <option value="checkbox"{% if field.type == 'checkbox' %} selected="selected"{% endif %}>Opción si/no</option>
    				                <option value="list"{% if field.type == 'list' %} selected="selected"{% endif %}>Elegir de una lista</option>
    				            </select><br>
    				            
    				            <label id="contactFormField{{ loop.index0 }}TitleLabel" for="contactFormField{{ loop.index0 }}Title">Título de la pregunta</label>
    				            <input class="form-control" type="text" name="contactFormField{{ loop.index0 }}Title" id="contactFormField{{ loop.index0 }}Title" value="{{ field.title }}"><br>
    				            
    				            <label id="contactFormField{{ loop.index0 }}HelpLabel" for="contactFormField{{ loop.index0 }}Help">Texto de ayuda <sup class="text-muted">(Opcional)</sup></label>
    				            <input class="form-control" type="text" name="contactFormField{{ loop.index0 }}Help" id="contactFormField{{ loop.index0 }}Help" value="{{ field.help }}"><br>
    				            
    				            <label id="contactFormField{{ loop.index0 }}ValueLabel" for="contactFormField{{ loop.index0 }}Value">Valor <sup class="text-muted">(Opcional)</sup></label>
    				            <input class="form-control" type="text" name="contactFormField{{ loop.index0 }}Value" id="contactFormField{{ loop.index0 }}Value" value="{{ field.value }}">
    				            <p class="help-block">Si es tipo "Elegir de una lista" inserta las opciones separadas por comas.</p>
					        </div>
					    {% endfor %}{% endif %}
					    </div>
					    
					    <button type="button" class="btn btn-success btn-block" onClick="newField();">Insertar otro campo</button>
					    
					    <hr>
					    <label id="contactFormEmail" for="contactFormEmail">Dirección de contacto</label>
    				    <input class="form-control" type="text" name="contactFormEmail" id="contactFormEmail" value="{{ page.contactData is defined and page.contactData.email is defined ? page.contactData.email | default('') : '' }}">
					</div>
                </div>
            </div>
                        
            <div class="form-group">
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-lg-offset-3 col-lg-9">
                    <input type="submit" value="Publicar" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
{% endblock%}

{% block javascripts %}
<script src="/js/wysihtml5x/wysihtml5x-toolbar.min.js"></script>
<script src="/js/wysihtml5x/parser_rules/advanced_and_extended.js"></script>
<script> 
var editor = new wysihtml5.Editor('PageText', {
    toolbar: 'toolbar',
    parserRules:  wysihtml5ParserRules
});

$('#pageContact').change(function () {
    if($(this).is(':checked')) {
        $('#contactForm').show();
        if(fields == 0) {
            newField();
        }
    } else {
        $('#contactForm').hide();
    }
});

var fields = {{ page.contactData | length }};

function newField() {
    $('#contactFormFields').append('<div class="contactFormField" id="contactFormField'+fields+'"><span class="fieldNumber">#'+(fields + 1)+' </span><span class="text-danger pull-right" onClick="deleteField('+fields+')">eliminar</span><label id="contactFormField'+fields+'TypeLabel" for="contactFormField'+fields+'Type">Tipo de campo</label><select class="form-control" name="contactFormField'+fields+'Type" id="contactFormField'+fields+'Type"><option value="text">Texto</option><option value="textarea">Texto de párrafo</option><option value="checkbox">Opción si/no</option><option value="list">Elegir de una lista</option></select><br><label id="contactFormField'+fields+'TitleLabel" for="contactFormField'+fields+'Title">Título de la pregunta</label><input class="form-control" type="text" name="contactFormField'+fields+'Title" id="contactFormField'+fields+'Title"><br><label id="contactFormField'+fields+'HelpLabel" for="contactFormField'+fields+'Help">Texto de ayuda <sup class="text-muted">(Opcional)</sup></label><input class="form-control" type="text" name="contactFormField'+fields+'Help" id="contactFormField'+fields+'Help"><br><label id="contactFormField'+fields+'ValueLabel" for="contactFormField'+fields+'Value">Valor <sup class="text-muted">(Opcional)</sup></label><input class="form-control" type="text" name="contactFormField'+fields+'Value" id="contactFormField'+fields+'Value"><p class="help-block">Si es tipo "Elegir de una lista" inserta las opciones separadas por comas.</p></div>');
    
    fields++;
}

function deleteField(id) {
    if(fields > 1) {
        $('#contactFormField'+id).remove();
    
        for(var i = id+1; i < fields; i++) {
            updateFieldId(i, i-1);
        }
        
        fields--;
    }
}

function updateFieldId(previd, postid) {
    $('#contactFormField'+previd+' .fieldNumber').html('#'+ (postid + 1) + ' ');
    $('#contactFormField'+previd+' span.pull-right').attr('onClick', 'deleteField('+postid+')');
    $('#contactFormField'+previd).attr('id', 'contactFormField'+postid);
    $('#contactFormField'+previd+'TypeLabel').attr('id', 'contactFormField'+postid+'TypeLabel').attr('for', 'contactFormField'+postid+'Type');
    $('#contactFormField'+previd+'Type').attr('id', 'contactFormField'+postid+'Type').attr('name', 'contactFormField'+postid+'Type');
    $('#contactFormField'+previd+'TitleLabel').attr('id', 'contactFormField'+postid+'TitleLabel').attr('for', 'contactFormField'+postid+'Title');
    $('#contactFormField'+previd+'Title').attr('id', 'contactFormField'+postid+'Title').attr('name', 'contactFormField'+postid+'Title');
    $('#contactFormField'+previd+'HelpLabel').attr('id', 'contactFormField'+postid+'HelpLabel').attr('for', 'contactFormField'+postid+'Help');
    $('#contactFormField'+previd+'Help').attr('id', 'contactFormField'+postid+'Help').attr('name', 'contactFormField'+postid+'Help');
    $('#contactFormField'+previd+'ValueLabel').attr('id', 'contactFormField'+postid+'ValueLabel').attr('for', 'contactFormField'+postid+'Value');
    $('#contactFormField'+previd+'Value').attr('id', 'contactFormField'+postid+'Value').attr('name', 'contactFormField'+postid+'Value');
}
</script>
{% endblock %}