{% set notificationsIcons = {'comment':'comment-o', 'reply':'comments-o', 'assist':'calendar', 'unassist':'calendar-o'}%}

<li class="list-group-item{% if not notification.dismiss %} active{% endif %}">
    {% if not notification.dismiss %}
        <a href="{{ path('userNotificationDismiss', {'id' : notification.id}) }}" class="close pull-right">×</a>
    {% endif %}
    
    <i class="fa fa-{{ notificationsIcons[notification.what] }}"></i>
    
    {{ notification.who.name }} 
    
    {% if notification.pluspeople > 0 %} y {{ notification.pluspeople }} persona{% if notification.pluspeople > 1 %}s{% endif %} más {% endif %}
    
    {% if notification.what == 'comment' %}
        ha{% if notification.pluspeople > 0 %}n{% endif %} comentado en 
    {% elseif notification.what == 'reply' %}
        ha{% if notification.pluspeople > 0 %}n{% endif %} contestado a 
    {% elseif notification.what == 'assist' %}
        va{% if notification.pluspeople > 0 %}n{% endif %} a asistir a 
    {% elseif notification.what == 'unassist' %}
        ya no va{% if notification.pluspeople > 0 %}n{% endif %} a asistir a 
    {% endif %}
    
    {% set simpletype = notification.item.type | replace({'Item/':'','Activity/':'','Files/':'','Colective/':''}) %}
    
    <a href="{{ path('Colecta' ~ simpletype ~'View', {'slug':notification.item.slug}) }}">{{ notification.item.name }}</a>
    
    <br>
    
    <small class="text-muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': notification.date } only %}</small>
</li>