{% if app.user %}
<form action="{{ path('ColectaFileUpload') }}" method="POST" class="form-horizontal well" {{ form_enctype(form) }}>
    <fieldset>
        
        <div class="control-group">
        <label class="control-label" for="PostFile">Archivo</label>
        <div class="controls">
          {{ form_widget(form.file) }}
        </div>
        </div>
        
        <div class="control-group">
        <label class="control-label" for="PostName">Título</label>
        <div class="controls">
          {{ form_widget(form.name) }}
        </div>
        </div>
      
        <div class="control-group">
        <label class="control-label" for="PostText">Texto</label>
        <div class="controls">
          {{ form_widget(form.description) }}
        </div>
        </div>
      
        <div class="control-group">
            <label class="control-label" for="PostFolder">Carpeta</label>
            <div class="controls">
                    {{ form_widget(form.folder, { 'id': 'PostFolder' }) }}
                <input type="text" id="NewFolder" name="newFolder" style="display:none" placeholder="Nombre">
                <button class="btn newfolder" type="button" onClick="toggleFolderCreate()" id="folderCreateButton"><i class="icon-plus-sign"></i> Nueva carpeta</button>
            </div>
        </div>
        
        {% include 'ColectaItemBundle:Default:categoryform.html.twig' %}
        
        {{ form_rest(form) }}
        
        <div class="form-actions">
            <button class="btn">Guardar como borrador</button>
            <button type="submit" class="btn btn-primary">Publicar ahora</button>
        </div>
    </fieldset>
</form>
{% else %}
<div class="alert">Tienes que <a href="{{ path('userLogin') }}">iniciar sesión</a></div>
{% endif %}