{% if app.user %}
<form action="{{ formaction }}" method="POST" class="form-horizontal well" enctype="multipart/form-data">
    <fieldset>
        
        <div class="control-group">
        <label class="control-label" for="PostFile">Archivo</label>
        <div class="controls">
            {% if item.filename %}
                <a href="{{ path( "ColectaFileDelete", {'slug':item.slug}) }}" class="btn btn-danger"><i class="icon-trash"></i> Eliminar archivo</a><br>
                {% if item.filetype in ['jpeg','gif','png'] %}<img class="thumbnail" height="100" width="100" src="{{ path('ColectaFileThumbnail', {'slug':item.slug, 'width':'160', 'height':'160'}) }}">{% endif %}
            {% else %}
            <input type="file" onchange="previewImage(this,130,32)" multiple="multiple" required="required" name="files[]">  <i class="icon-spinner icon-spin icon-2x hidden" id="fileLoading"></i>
            <ul class="imagePreview thumbnails"></ul>
            {% endif %}
        </div>
        </div>
        
        <div class="control-group">
        <label class="control-label" for="PostName">Título</label>
        <div class="controls">
            <input type="text" maxlength="255" required="required" name="name" value="{{ item.name }}">
        </div>
        </div>
      
        <div class="control-group">
        <label class="control-label" for="PostText">Texto</label>
        <div class="controls">
          <textarea name="description">{{ item.description }}</textarea>
        </div>
        </div>
      
        <div class="control-group">
            <label class="control-label" for="FileFolder">Carpeta</label>
            <div class="controls">
                    <select name="folder" id="FileFolder">
                        {% for folder in folders %}
                            <option value="{{ folder.id }}"{% if folder == item.folder %}selected="selected"{% endif %}>{{ folder.name }}</option>
                        {% endfor %}
                    </select>
                <input type="text" id="NewFolder" name="newFolder" style="display:none" placeholder="Nombre">
                <button class="btn newfolder" type="button" onClick="toggleFolderCreate()" id="folderCreateButton"><i class="icon-plus-sign"></i> Nueva carpeta</button>
            </div>
        </div>
        
        {% render 'ColectaItemBundle:Category:formlist' with {'selected':0} %}
        
        <div class="form-actions">
            <button class="btn disabled" disabled="disabled">Guardar como borrador</button>
            <button type="submit" class="btn btn-primary">Publicar ahora</button>
        </div>
    </fieldset>
</form>
{% else %}
<div class="alert">Tienes que <a href="{{ path('userLogin') }}">iniciar sesión</a></div>
{% endif %}