{% extends '::frontend.html.twig' %}

{% block article %}
<h2>{{ item.name }}</h2>

{% if item.filetype in ['jpg','gif','png'] %} 
    <img src="{{ item.url }}"> 
{% else %}
    <a href="{{ item.url }}">Enlace</a>
{% endif %}

<p>{{ item.description }}</p>
{% if item.folder %}<p>Pertenece a la carpeta:: <a href="{{ path('ColectaFolderView', { 'slug': item.folder.slug }) }}">{{ item.folder.name }}</a></p>{% endif %}

{% endblock %}