{% extends '::frontend.html.twig' %}

{% block files 'active' %}

{% block article %}

{% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}

<h2>{{ item.name }}</h2>

{% if item.filetype in ['jpg','gif','png'] %} 
    <img style="width:100%;" src="{{ item.URLPath }}"> 
{% else %}
    <a href="/{{ item.URLPath }}">Enlace</a>
{% endif %}

<p>{{ item.description | nl2br }}</p>
{% if item.folder %}<p>Pertenece a la carpeta: <a href="{{ path('ColectaFolderView', { 'slug': item.folder.slug }) }}">{{ item.folder.name }}</a></p>{% endif %}

{% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}

{% endblock %}