{% extends '::frontend.html.twig' %}

{% block files 'active' %}

{% block article %}
<div class="file full">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    <h2>{{ item.name }}</h2>
    
    {% if item.filetype in ['jpeg','gif','png'] %}
        <a href="{{ item.URLPath }}" class=""><img src="{{ path('ColectaFileResize', {'slug':item.slug, 'width':'560', 'height':'560'}) }}"></a>
    {% else %}
        <a href="{{ path('ColectaFileDownload',{ 'slug': item.slug, 'type': item.filetype }) }}" class="btn btn-success"><i class="icon-download-alt icon-large"></i> <strong>Descargar fichero <span style="text-transform: uppercase;">{{ item.filetype }}</span></strong></a>
    {% endif %}
    
    <p>{{ item.description | nl2br }}</p>
    {% if item.folder %}<p>Pertenece a la carpeta: <a href="{{ path('ColectaFolderView', { 'slug': item.folder.slug }) }}">{{ item.folder.name }}</a></p>{% endif %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}
</div>
{% endblock %}