{% extends '::frontend.html.twig' %}

{% block title %}{{ item.name }} | Archivos{% endblock %}

{% block article %}
{% set canEdit = app.user and item.canEdit(app.user) %}

<div class="full item{% if canEdit %} editable{% endif %}">
    {% include 'ColectaItemBundle:Default:itemDetails.html.twig' with { item: item } only %}
    <h2>
        <a href="{{ path('ColectaEventView', { 'slug': item.slug }) }}">{{ item.name }}</a>
    </h2>
    
    {% if item.filetype in ['jpeg','gif','png'] %}
        {% set next = item.folder.getNextPicture(item) %}
        {% set previous = item.folder.getPreviousPicture(item) %}
        <div class="fullimage" style="width:auto;height:480px;background: url('{{ path('ColectaFileResize', {'slug':item.slug, 'width':'850', 'height':'480'}) }}') scroll no-repeat center center #FFF; background-size: contain;">
            <a style="height:480px" href="{% if previous %}{{ path('ColectaFileView', {'slug':previous.slug}) }}{% else %}#{% endif%}" class="pull-left{% if previous %} active{% endif %} col-xs-3"><i class="fa fa-angle-left fa-4x"></i></a>
            <a style="height:480px" href="{% if next %}{{ path('ColectaFileView', {'slug':next.slug}) }}{% else %}#{% endif%}" class="pull-right text-right{% if next %} active{% endif %} col-xs-9"><i class="fa fa-angle-right fa-4x"></i></a>
        </div>
        <a class="pull-right" href="{{ path('ColectaFileDownload',{ 'slug': item.slug, 'type': item.filetype }) }}"><small>Descargar original <i class="fa fa-download"></i></small></a>
    {% elseif item.filetype in ['mp4','ogg','webm'] %}
        <video id="video_player" class="video-js vjs-default-skin vjs-big-play-centered" controls="" preload="auto" data-setup='{}' src="{{ path('ColectaFileDownload',{ 'slug': item.slug, 'type': item.filetype }) }}" type="video/{{ item.filetype }}" width="auto" height="auto"></video>
        <br>
        <a href="{{ path('ColectaFileDownload',{ 'slug': item.slug, 'type': item.filetype }) }}" class="btn btn-sm btn-warning"><i class="fa fa-download fa-lg"></i> <strong>Descargar fichero <span style="text-transform: uppercase;">{{ item.filetype }}</span></strong></a>
    {% else %}
        <a href="{{ path('ColectaFileDownload',{ 'slug': item.slug, 'type': item.filetype }) }}" class="btn btn-warning"><i class="fa fa-download fa-lg"></i> <strong>Descargar fichero <span style="text-transform: uppercase;">{{ item.filetype }}</span></strong></a>
    {% endif %}
    
    {{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
    <p>{% if item.folder %}<p>Pertenece a la carpeta: <a href="{{ path('ColectaFolderView', { 'slug': item.folder.slug }) }}">{{ item.folder.name }}</a></p>{% endif %}
    
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    
    {# more items on this folder #}
    
    {% set folderlength = item.folder.files | length %}
    {% if folderlength > 1 %}
        
        <div class="row thumbnails fullview">
        
        {% for thisitem in item.folder.files %}
            <div class="col-xs-6 col-sm-3">
                {% if thisitem.filetype in ['jpeg','gif','png'] %}
                    <a href="{{ path('ColectaFileView', { 'slug': thisitem.slug }) }}"><img class="img-responsive{% if thisitem == item %} current{% endif %}" width="275" height="275" src="{{ path('ColectaFileThumbnail', {'slug':thisitem.slug, 'width':275, 'height':275}) }}"></a>
                {% elseif thisitem.filetype in ['mp4','ogg','webm'] %}
                    <a href="{{ path('ColectaFileView', { 'slug': thisitem.slug }) }}" class="btn btn-warning btn-block"><i class="fa fa-video-camera icon-large"></i> {{ thisitem.name }}</a>
                {% else %}
                    <a class="btn btn-warning btn-block" href="{{ path('ColectaFileView', { 'slug': thisitem.slug }) }}">{{ thisitem.name }}</a>
                {% endif %}
            </div>
        {% endfor %}
        
        </div>
        
    {% endif %}
    
    {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 15 } only %}
</div>



{% endblock %}

{% if item.filetype in ['mp4','ogg','webm'] %}
    {% block stylesheets %}
        <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
        <script src="//vjs.zencdn.net/4.12/video.js"></script> {# not a stylesheet but needs to be loaded on the head tag #}
        <style>
        .video-js .vjs-tech {
            height: auto !important;
            position: relative !important;
        }
        </style>
    {% endblock %}
{% endif %}