{% extends '::frontend.html.twig' %}

{% block title %}Archivos{% endblock %}

{% block article %}

    {% if app.user %} <a href="{{ path('ColectaFileNew')}}" class="btn btn-small btn-default pull-right">Nueva publicación <i class="fa fa-plus"></i></a> {% endif %}
    <h2>Archivos{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>

    {% for item in items %}
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
    {% else %}
         <div class="monocontent text-center">
            <i class="fa fa-{{ itemIcons['Files/Folder'] }} fa-4x"></i>
            <h2>Ésta es la página de Archivos</h2>
            <p>Los archivos que se añadan aparecerán aquí.</p>
        </div>
    {% endfor %}
    {% if page > 1 or thereAreMore %}
        <ul class="pager">
          <li class="previous{% if page == 1 %} disabled{% endif %}">
            <a href="{% if page > 1 %}{{ path('ColectaFilePage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="next{% if not thereAreMore %} disabled{% endif %}">
            <a href="{% if thereAreMore %}{{ path('ColectaFilePage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}

{% endblock %}