{% extends '::frontend.html.twig' %}

{% block files 'active' %}

{% block javascripts %}
<script>
<!--
    var uploading = false;
    var currentFileIndex = -1;
    var TheFiles = [];
    
    $('#File').change(function(){
        var files = this.files;
        var fp = $('#filesPreview');
        if(files.length) {
            fp.show();
            
            //Show the files
            for(var i = 0; i < files.length; i++) {
                var f = files[i];
                var j = (i + TheFiles.length);
                fp.append('<div class="pv" id="UFC'+j+'"><div class="uploadmessage">Preparando '+f.name+'</div><div class="progress progress-striped"><div class="bar" id="progress'+j+'" style="width: 0%;"></div></div></div>');
            }
            
            //Start upload
            for(var i = 0; i < files.length; i++) {
                TheFiles.push(files[i]);
            }
            
            uploadTheFiles();
            
            $('#FileLabel').html('Más archivos');
        }
    });
    
    function uploadTheFiles() {
        if(!uploading && TheFiles.length) {
            uploading = true;
            preventSubmit = true;
            uploadNext();
        }
    }
    function uploadNext() {
        currentFileIndex++;
        var i = currentFileIndex;
        
        if(TheFiles.length <= i){ 
            //We reached the end
            currentFileIndex--;
            endOfUploads();
            return;
        } 
        
        $('#UFC'+i+' .uploadmessage').html('Subiendo...');
        
        uploadFile(TheFiles[i]);
    }
    function endOfUploads() {
        uploading = false;
    }
    function uploadFile(file) {
        var fd = new FormData();
        
        fd.append("file", file);
        
        var xhr = new XMLHttpRequest();
        
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        
        xhr.open("POST", "{% if folder is defined %}../{% endif %}../XHR/upload/");
        
        xhr.send(fd);
    }
    
    function uploadProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);
            $('#progress'+currentFileIndex).css('width',percentComplete.toString() + '%');
        }
        else {
            $('#progress'+currentFileIndex).css('width','40%');
        }
    }
    
    function uploadComplete(evt) {
        /* This event is raised when the server send back a response */
        var res = evt.target.responseText;
        
        if(res.length > 180) {
            uploadFailed();
        } else {
            $('#UFC'+currentFileIndex).html('<img src="{% if folder is defined %}../{% endif %}../XHR/preview/'+$.trim(res)+'" style="width:250px;height:190px;background-color:#AAA"><input type="text" name="file'+currentFileIndex+'Name" placeholder="Nombre..." onFocus="if(this.value == \'Nombre...\') this.value=\'\'"><textarea name="file'+currentFileIndex+'Description" placeholder="Descripción..." onFocus="if($(this).val(\'Descripción...\')) $(this).val(\'\')"></textarea><small class="btn btn-link btn-small" onClick="deleteFile('+currentFileIndex+')">(Eliminar archivo)</small><input type="hidden" name="file'+currentFileIndex+'Token" value="'+res+'"><input type="hidden" name="file'+currentFileIndex+'Delete" value="0" id="file'+currentFileIndex+'Delete">');
            
            //Placeholder problems
            var phitest = document.createElement('input');
            if(!('placeholder' in phitest)) {
                $('#UFC'+currentFileIndex+' input[type=text]').val('Nombre...')
                $('#UFC'+currentFileIndex+' textarea').val('Descripción...')
            }
            
            uploadNext();
        }
    }
    
    function uploadFailed(evt) {
        $('#UFC'+currentFileIndex).html('Ha ocurrido un fallo en la subida.');
        uploadNext();
    }
    
    function uploadCanceled(evt) {
        $('#UFC'+currentFileIndex).html('La subida del archivo se ha cancelado.');
        uploadNext();
    }
    
    function deleteFile(i) {
        $('#UFC'+i).hide();
        $('#file'+i+'Delete').val('1');
    }
    
    function process() {
        $('#FileControlGroup').remove();
        $('#FileSubmit').attr('disabled','disabled').addClass('disabled'); 
        $('#FileSubmitText').html('Enviando...'); 
        $('#FileSubmitLoading').addClass('icon-refresh icon-spin');
        
        $('#ProcessForm').attr('action','{% if folder is defined  %}{{ path('ColectaFileXHRProcess', {'slug':folder.slug}) }}{% else %}{{ path('ColectaFileNew') }}{% endif %}').attr('onSubmit','').submit();
    }
    
    {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    
-->
</script>
{% endblock %}

{% block stylesheets %}
<style>
    #filesPreview {
        {% if not app.session.get('TheFiles') %}display:none;{% endif %}
        overflow:hidden;
        margin-bottom: 40px;
    }
    #filesPreview .pv {
        float: left;
        padding: 7px;
        width: 45%;
        min-height: 312px;
        border: 1px solid #ccc;
        margin: 0 4px 4px 0;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
        background-color:#FFF;
    }
    #filesPreview .pv .uploadmessage {
        margin-top: 50px;
    }
    #filesPreview .pv input, #filesPreview .pv textarea {
        width: 240px;
        resize: none;
    }
    #filesPreview .pv small {
        color: darkred;
    }
</style>
{% endblock %}

{% block article %}

<div class="title-block">
    <h2>Subir Archivos</h2>
</div>

<form action="{% if folder is defined  %}{{ path('ColectaFilePick', {'slug':folder.slug}) }}{% else %}{{ path('ColectaFileNew') }}{% endif %}" method="POST" class="form-horizontal well" enctype="multipart/form-data" onSubmit="{% if not app.session.get('TheFiles') %}if(TheFiles.length){% endif %} return false;" id="ProcessForm">
    
    {% if folder is not defined %}
    
        <div class="control-group">
            <label class="control-label">Nombre Carpeta</label>
            <div class="controls">
                <input type="text" name="name">
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">Descripción</label>
            <div class="controls">
                <textarea name="description"></textarea>
            </div>
        </div>
    
    {% render 'ColectaItemBundle:Category:formlist' with {'selected': 0} %}
    
    {% else %}
        {% include 'ColectaFilesBundle:Folder:micro.html.twig' with { 'item': folder } only %}
        
    {% endif %}

    <hr>
    
    <ul id="filesPreview">
        {% if app.session.get('TheFiles') %}
            {% for f in app.session.get('TheFiles')%}
                <div class="pv" id="UFC{{ loop.index0 }}">
                    <img src="preview/{{ f.token }}" style="width:250px;height:190px;background-color:#AAA">
                    <input type="text" name="file{{ loop.index0 }}Name" placeholder="Nombre..." value="{{ f.name }}">
                    <textarea name="file{{ loop.index0 }}Description" placeholder="Descripción...">{{ f.description }}</textarea>
                    <small class="btn btn-link btn-small" onClick="deleteFile({{ loop.index0 }})">(Eliminar archivo)</small>
                    <input type="hidden" name="file{{ loop.index0 }}Token" value="{{ f.token }}">
                    <input type="hidden" name="file{{ loop.index0 }}Delete" value="0" id="file{{ loop.index0 }}Delete">
                </div>
            {% endfor %}
        {% endif %}
    </ul>
    
    <div class="control-group" id="FileControlGroup">
        <label class="control-label" for="File" id="FileLabel">{% if folder is defined %}Subir {% endif %}Archivos</label>
        <div class="controls">
            <input id="File" type="file"{% if not app.session.get('TheFiles') %} multiple="multiple"{% endif %} name="file[]"> {% if app.session.get('TheFiles') %}<button onClick="$(this).html('Subiendo...').attr('disabled','disabled').addClass('disabled');$('#ProcessForm').attr('onSubmit','').submit()" type="submit" class="btn btn-primary">Subir otro archivo</button>{% endif %}
            <p class="muted">Selecciona uno o varios archivos</p>
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn disabled" disabled="disabled">Guardar como borrador</button>
        <button type="submit" class="btn btn-primary" id="FileSubmit" onClick="{% if not app.session.get('TheFiles') %}if(TheFiles.length) {% endif %}process()"><i id="FileSubmitLoading"></i> <span id="FileSubmitText">Publicar ahora</span></button>
    </div>
</form>
{% endblock %}