{% extends '::backend.html.twig' %}

{% block chat 'active' %}

{% block content %}
    
    <h2>{{ lotteryCampaign.name }}<br><small>{{ targetUser.name }}</small></h2>
    
    <div class="monocontent">        
        {% set total = 0 %}
        
        <ul class="list-group">
            {% for ls in lotteryShreds %}
                <li class="list-group-item">
                    <span class="badge">{{ ls.end - ls.start + 1 }}</span>
                    
                    {% if ls.returned %}
                        <span class="label label-danger">Devueltas</span>
                        {% set total = total - ls.end + ls.start - 1 %}
                    {% else %}
                        {% if ls.paid %}
                            <span class="label label-primary">Recogida</span>
                        {% else %}
                            <span class="label label-warning">Pendiente de pago</span>
                        {% endif %}
                        {% set total = total + ls.end - ls.start + 1 %}
                    {% endif %}
                    
                    papeletas de la {{ ls.start }} a la {{ ls.end }} {% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': ls.date } only %}
                    
                    <br>
                    
                    <a class="btn btn-link btn-sm" href="{{ path('ColectaBackendLotteryRemoveShred', { shred_id : ls.id }) }}" onClick="return confirm('¿Seguro que desea eliminar esta transacción?')">Borrar <i class="far fa-trash"></i></a> 
                    {% if not ls.returned %}
                        <a class="btn btn-link btn-sm" href="#" onClick="$('#lotteryShred{{ ls.id }}').show(); return false;">Devolución <i class="far fa-sign-out"></i></a>
                        {% if ls.paid %}
                            <a class="btn btn-link btn-sm" href="{{ path('ColectaBackendLotteryUnpaidShred', { shred_id : ls.id }) }}">Marcar pendiente de pago <i class="far fa-warning"></i></a>
                        {% else %}
                            <a class="btn btn-link btn-sm" href="{{ path('ColectaBackendLotteryPaidShred', { shred_id : ls.id }) }}">Marcar pagado <i class="far fa-check"></i></a>
                        {% endif %}
                    {% endif %}
                    
                    <form id="lotteryShred{{ ls.id }}" style="display:none" action="{{ path('ColectaBackendLotteryReturnShred', { shred_id : ls.id }) }}" method="post">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12" style="padding-top:5px; text-align:right;">
                                <strong>Realizar devolución:</strong>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon">de</span>
                                    <input type="text" class="form-control" name="start" value="{{ ls.start }}">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-addon">a</span>
                                    <input type="text" class="form-control" name="end" value="{{ ls.end }}">
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <button type="submit" class="btn btn-success btn-block">Enviar</button>
                            </div>
                        </div>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
        <div class="row well well-sm">
            <div class="col-sm-3 col-xs-6">
                <h4>Papeletas: <span class="label label-primary">{{ total }}</span></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Jugado: <span class="label label-primary">{{ (lotteryCampaign.ticketPrice - lotteryCampaign.ticketBenefit ) * total }}€</span></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Décimos: <span class="label label-primary">{{ (lotteryCampaign.ticketPrice - lotteryCampaign.ticketBenefit ) * total / 20 }}</span></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Beneficio: <span class="label label-primary">{{ lotteryCampaign.ticketBenefit * total }}€</span></h4>
            </div>
        </div>
        
        <p style="color:#777">*Precio papeleta: {{ lotteryCampaign.ticketPrice }}€ | Beneficio por papeleta: {{ lotteryCampaign.ticketBenefit }}€ | Importe jugado por papeleta: {{ lotteryCampaign.ticketPrice - lotteryCampaign.ticketBenefit }}€</p>
    </div>
        
{% endblock%}