{% extends '::frontend_main.html.twig' %}

{% block title %}{{ category.name }} | Categorías{% endblock %}

{% block content %}
			
	<h2 class="pt-3">Categoría <em>{{ category.name }}</em>{% if page > 1 %} <small> página {{ page }}</small>{% endif %}</h2>
	
	{% for item in items %}
	    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
	    {% set path = path | replace({'/':'Bundle:'}) %}
	    {% include path with { 'item': item } only %}
	{% else %}
	    <div class="monocontent">
	        <p class="lead">No hay publicaciones en esta categoría</p>
	    </div>
	{% endfor %}
	
	<ul class="pager">
	  <li class="previous{% if page == 1 %} disabled{% endif %}">
	    <a href="{% if page > 1 %}{{ path('ColectaCategoryPage', {'slug':category.slug, 'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
	  </li>
	  <li class="next{% if not thereAreMore %} disabled{% endif %}">
	    <a href="{% if thereAreMore %}{{ path('ColectaCategoryPage', {'slug':category.slug, 'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
	  </li>
	</ul>
{% endblock %}