{% extends '::frontend.html.twig' %}

{% block categories 'active' %}

{% block article %}

<div class="title-block">
    <h2>Publicado en <em>{{ category.name }}</em></h2>{% if page > 1 %} <span>página {{page}}</span>{% endif %}
</div>

{% for item in items %}
    {% set typeicon = {'Item/Post':'file','Activity/Event':'calendar','Activity/Route':'globe','Activity/Place':'map-marker','Files/Folder':'folder-open'} %}
    {% set type = item.type %}
    <h2>
        <span style="font-size: 14px;" class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-{{ typeicon[type] }} icon-fixed-width icon-light"></i>
        </span> 
        
        <a href="{{ path('Colecta' ~ item.type | replace({'Item/':'','Activity/':'','Files/':'','Colective/':''}) ~ 'View', {'slug':item.slug}) }}">{{ item.name }}</a>
    </h2>
{% else %}
    <p class="lead">Ninguna publicación en esta categoría</p>
{% endfor %}

<ul class="pager">
  <li class="previous{% if page == 1 %} disabled{% endif %}">
    <a href="{% if page > 1 %}{{ path('ColectaCategoryPage', {'slug':category.slug, 'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
  </li>
  <li class="next{% if not thereAreMore %} disabled{% endif %}">
    <a href="{% if thereAreMore %}{{ path('ColectaCategoryPage', {'slug':category.slug, 'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
  </li>
</ul>

{% endblock %}