{% extends '::frontend.html.twig' %}

{% block title %}Mensajes recibidos{% endblock %}

{% block article %}

<div class="row title mb-2">
    <div class="col-sm-{{ app.user.role.messageSend ? '9' : '12' }}">
        <h2>Mensajes</h2>
    </div>
    {% if app.user.role.messageSend %}
    <div class="col-sm-3">
        <a class="btn btn-outline-primary btn-block post-content" href="{{ path('userMessageNew')}}"><i class="far fa-plus"> Nuevo</i></a>
    </div>
    {% endif %}
</div>

{% if messages | length > 0 %}
<ul class="messages list-group">
    {% for message in messages %}
        <a href="{{ path('userConversation', {'user_id':(message.origin == app.user) ? message.destination.id : message.origin.id}) }}" class="list-group-item clearfix{% if message.origin != app.user and not message.dismiss %} active{% endif %}">
                <img class="pull-left" src="{{ path('userAvatar',{'uid':(message.origin == app.user) ? message.destination.id : message.origin.id,'width':40,'height':40}) }}">
                
                <small class="text-muted pull-right">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': message.date } only %}</small>
            
                <p><strong>{{ (message.origin == app.user) ? message.destination.name : message.origin.name }}</strong> <br>{% if message.origin == app.user %}<i class="far fa-reply"></i> {% endif %}{{ message.text }}</p>
        </a>
    {% endfor %}
</ul>
{% else %}
    <p class="lead">No tienes ningún mensaje</p>
{% endif %}

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'messages'} %}
{% endblock %}