{% extends '::frontend.html.twig' %}

{% block title %}Mensajes recibidos{% endblock %}

{% block article %}

<div class="row title">
    <div class="col-sm-6">
        <h2>Mensajes Recibidos</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userSentMessages') }}">Enviados <i class="fa fa-plane"></i></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-success btn-block" href="{{ path('userMessageNew')}}">Nuevo <i class="fa fa-plus"></i></a>
    </div>
</div>

<ul class="messages list-group">
    {% for message in messages %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1 col-sm-2 hidden-xs">
                    <img class="img-responsive" src="{{ path('userAvatar',{'uid':message.origin.id,'width':40,'height':40}) }}">
                </div>
                
                <div class="col-md-9 col-sm-10 col-xs-12">
            
                    <p><strong>{{ message.origin.name }}</strong> <small class="text-muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': message.date } only %}</small></p>
                    
                    {% if message.responseto %}
                        <p class="text-muted">{{ message.responseto.text | usercontent | raw | nl2br }}</p>
                        <hr>
                    {% endif %}
                    
                    <p>{{ message.text | usercontent | raw | nl2br }}</p>
                </div>
                
                <div class="col-md-2 col-xs-12">
                    <a href="{{ path('userMessageResponse',{'responseto':message.id}) }}" class="btn btn-sm btn-block btn-default">Responder <i class="fa fa-mail-reply"></i></a>
                </div>
            </div>
        </li>
    {% else %}
        <li class="list-group-item clearfix"><p class="lead">No tienes ningún mensaje</p></li>
    {% endfor %}
</ul>

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'messages'} %}
{% endblock %}