{% extends '::frontend.html.twig' %}

{% block title %}Responder mensaje{% endblock %}

{% block article %}

<div class="row">
    <div class="col-sm-6">
        <h2><i class="fa fa-envelope fa-fw"></i> Responder</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userMessages') }}">Mensajes recibidos <i class="fa fa-inbox"></i></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userSentMessages') }}">Mensajes enviados <i class="fa fa-plane"></i></a>
    </div>
</div>

{% if app.user %}
    <div class="monocontent">
        <form action="{{ path('userMessageResponse', {'responseto':originalMessage.id}) }}" method="POST" class="form-horizontal" onSubmit="$('#updateBtnLoading').addClass('fa fa-refresh fa-spin')">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="MessageName">Para:</label>
                <div class="col-sm-9 col-lg-10">
                  <input type="text" class="form-control" id="userSearch" name="destination" value="{{ destination }}" autocomplete="off"> <i id="destinationLoading" class="fa fa-cog fa-spin hidden"></i>
                  <ul id="userResults" class="dropdown-menu span3" style="position:static;float:none;" role="menu" aria-labelledby="dropdownMenu"></ul>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label">Responder a:</label>
                <div class="col-sm-9 col-lg-10">
                  <p>{{ originalMessage.text }}
                </div>
              </div>
              <div class="form-group{% if app.session.flashbag.get('MessageTextError') %} error{% endif %}">
                <label class="col-sm-3 col-lg-2 control-label" for="MessageText">Texto:</label>
                <div class="col-sm-9 col-lg-10">
                  <textarea class="form-control" id="MessageText" name="text" rows="4">{% for MessageText in app.session.flashbag.get('MessageText') %}{{ MessageText }}{% endfor %}</textarea>
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-lg-offset-2 col-sm-offset-3 col-sm-9 col-lg-10">
                    <button type="submit" class="btn btn-primary" id="updateBtn"><i id="updateBtnLoading"></i> Enviar Mensaje </button>
                </div>
              </div>
            </fieldset>
        </form>
    </div>
{% else %}
    <div class="alert">Tienes que <a href="{{ path('userLogin') }}">iniciar sesión</a></div>
{% endif %}


{% endblock %}

{% block javascripts %} 
<script>
    $(document).ready(function() {
        $('#MessageText').focus();
    });
    
    var xhr;
    var searchagain = false;
    
    function showResults()
    {
        if($('#userSearch').val().length < 2) {
            hideResults();
            return;
        }
        
        $('#destinationLoading').removeClass('hidden');
        
        if(xhr && xhr.readyState != 4) {
            searchagain = true;
        } else {        
            
            xhr = $.ajax({
                url: '{{ path('ColectaAjaxUserSearch') }}?search='+$('#userSearch').val(),
                success: function(json) {
                    $('#userResults').html('');
                    $('#userResults').css('display','none');
                    for(var i = 0; i < json.length; i++) {
                        $('#userResults').append('<li id="userResult'+(i + 1)+'"><a tabindex="-1" href="#'+json[i].id+'" onClick="$(\'#userSearch\').val(\''+json[i].name+'\');hideResults();highlightUpdateBtn();return false;"> '+json[i].name+'</a></li>');
                    } 
                    if(json.length) { $('#userResults').css('display','block'); }
                    //$('#searchButton').removeAttr("disabled"); 
                },
                cache: false
            }).done(function() { 
                if(searchagain) 
                {
                    searchagain = false;
                    showResults();
                }
                else
                {
                    $('#destinationLoading').addClass('hidden');
                }
            });
        }
    }
    
    //Key up
    $('#userSearch').keyup(function(e){
        if($('#userResults li').length) {
            var current = $('#userResults li.active');
            var currentN = 0;
            if(current.length) {
                currentN = parseInt(current.attr('id').substring(10));
            } 
            
            if(e.keyCode == 40){
                if($('#userResult'+(currentN + 1)).length) {
                    $('#userResult'+(currentN)).removeClass('active');
                    $('#userResult'+(currentN + 1)).addClass('active');
                    return;
                }
                return;
            } else if(e.keyCode == 38){
                if($('#userResult'+(currentN - 1)).length) {
                    $('#userResult'+(currentN)).removeClass('active');
                    $('#userResult'+(currentN - 1)).addClass('active');
                    return;
                }
                return;
            } else if(e.keyCode == 13){
                if($('#userResult'+(currentN)).length) {
                    $('#userResult'+(currentN)+' a').click();
                    return;
                }
                return;
            }
        }
        
        showResults();
    });
    
    function hideResults() 
    {
        $('#userResults').html('');
        $('#userResults').css('display','none');
    }
    
    function highlightUpdateBtn() 
    {
        $('#updateBtn').addClass('btn-primary');
    }
    
    $(document).ready(function() {
        {% if userTo is defined %} $('#MessageText').focus(); {% else %} $('#userSearch').focus(); {% endif %}  
    });
    
</script>
{% endblock %}