{% extends '::frontend.html.twig' %}

{% block title %}Mensajes enviados{% endblock %}

{% block article %}


<div class="row">
    <div class="col-sm-6">
        <h2>Mensajes Enviados</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userMessages') }}">Mensajes recibidos <i class="fa fa-inbox"></i></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-primary btn-block" href="{{ path('userMessageNew')}}">Nuevo mensaje <i class="fa fa-plus"></i></a>
    </div>
</div>

<ul class="list-group">
    {% for message in messages %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    <img width="40" height="40" src="{% if message.origin.avatar %}{{ path('userAvatar',{'uid':message.origin.id,'width':40,'height':40}) }}{% else %}/img/unknown.gif{% endif %}">
                </div>
                
                <div class="col-sm-9 col-xs-8">
            
                    <p><strong>{{ message.origin.name }}</strong> {{ message.text | usercontent | raw | nl2br }}</p>
            
                    {% if message.responseto %}
                        <br><small>En respuesta a:</small>
                        <blockquote>
                            {{ message.responseto.text | usercontent | raw | nl2br }}
                        </blockquote>
                    {% endif %}
            
                    <small class="muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': message.date } only %}</small>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <a href="{{ path('userMessageResponse',{'responseto':message.id}) }}" class="btn btn-sm btn-block btn-default" style="min-width:25px;"><span class="hidden-xs">Responder <i class="fa fa-mail-reply"></i></span><span class="visible-xs"><i class="fa fa-mail-reply"></i></span></a>
                </div>
            </div>
        </li>
    {% else %}
        <li class="list-group-item clearfix"><p class="lead">No tienes ningún mensaje</p></li>
    {% endfor %}
</ul>

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'messages'} %}
{% endblock %}