{% extends '::frontend.html.twig' %}

{% block title %}Mensajes enviados{% endblock %}

{% block article %}


<div class="row title">
    <div class="col-sm-6">
        <h2>Mensajes Enviados</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userMessages') }}">Recibidos <i class="fa fa-inbox"></i></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-success btn-block" href="{{ path('userMessageNew')}}">Nuevo <i class="fa fa-plus"></i></a>
    </div>
</div>

<ul class="messages list-group">
    {% for message in messages %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    <img width="40" height="40" src="{{ path('userAvatar',{'uid':message.destination.id,'width':40,'height':40}) }}">
                </div>
                
                <div class="col-sm-11 col-xs-10">
            
                    <p>Para <strong>{{ message.destination.name }}</strong> <small class="text-muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': message.date } only %}</small></p>
                    
                    {% if message.responseto %}
                        <p class="text-muted">{{ message.responseto.text | usercontent | raw | nl2br }}</p>
                        <hr>
                    {% endif %}
                    
                    <p>{{ message.text | usercontent | raw | nl2br }}</p>
                </div>
            </div>
        </li>
    {% else %}
        <li class="list-group-item clearfix"><p class="lead">No tienes ningún mensaje</p></li>
    {% endfor %}
</ul>

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'messages'} %}
{% endblock %}