{% extends '::frontend.html.twig' %}

{% block title %}Mensajes enviados{% endblock %}

{% block article %}


<div class="row">
    <div class="col-sm-6">
        <h2>Mensajes Enviados</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userMessages') }}">Mensajes recibidos <i class="fa fa-inbox"></i></a>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-primary btn-block" href="{{ path('userMessageNew')}}">Nuevo mensaje <i class="fa fa-plus"></i></a>
    </div>
</div>

<div class="list-group">
    {% for message in messages %}
        <a href="{{ path('userMessageResponse',{'responseto':message.id}) }}" class="list-group-item">
            <h4><img width="30" height="30" src="{% if message.origin.avatar %}{{ path('userAvatar',{'uid':message.origin.id,'width':30,'height':30}) }}{% else %}/img/unknown.gif{% endif %}"> a {{ message.origin.name }}</h4>
            
            <p>{{ message.text | usercontent | raw | nl2br }}</p>
            
            {% if message.responseto %}
                <br><small>En respuesta a:</small>
                <blockquote>
                    {{ message.responseto.text | usercontent | raw | nl2br }}
                </blockquote>
            {% endif %}
            
            <small class="muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': message.date } only %}</small>
        </a>
    {% else %}
        <p class="lead">No has enviado ningún mensaje</p>
    {% endfor %}
</div>

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'messages'} %}
{% endblock %}