{% extends '::frontend.html.twig' %}

{% block title %}Mensajes enviados{% endblock %}

{% block article %}

<div class="row title mb-2">
    <div class="col-sm-{{ app.user.role.messageSend ? '6' : '9' }}">
        <h2>Mensajes Enviados</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default btn-block" href="{{ path('userMessages') }}">Recibidos <i class="far fa-inbox"></i></a>
    </div>
    {% if app.user.role.messageSend %}
    <div class="col-sm-3">
        <a class="btn btn-success btn-block" href="{{ path('userMessageNew')}}">Nuevo <i class="far fa-plus"></i></a>
    </div>
    {% endif %}
</div>

<ul class="messages list-group">
    {% for message in messages %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1 col-sm-2 hidden-xs">
                    <img class="img-responsive" src="{{ path('userAvatar',{'uid':message.destination.id,'width':40,'height':40}) }}">
                </div>
                
                <div class="col-md-11 col-sm-10 col-xs-12">
            
                    <p>Para <strong>{{ message.destination.name }}</strong> <small class="text-muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': message.date } only %}</small></p>
                    
                    {% if message.responseto %}
                        <p class="text-muted">{{ message.responseto.text | usercontent | raw | nl2br }}</p>
                        <hr>
                    {% endif %}
                    
                    <p>{{ message.text | usercontent | raw | nl2br }}</p>
                </div>
            </div>
        </li>
    {% else %}
        <li class="list-group-item clearfix"><p class="lead">No tienes ningún mensaje</p></li>
    {% endfor %}
</ul>

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'messages'} %}
{% endblock %}