{% extends '::frontend.html.twig' %}

{% block title %}Editar {{ item.name }} | Lugares{% endblock %}

{% block article %}

    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <h2>Editar {{ item.name }}</h2>
        </div>
        <div class="col-sm-4 col-lg-3">
            <a class="btn btn-default btn-block" href="{{ path('ColectaPlaceView', {'slug':item.slug}) }}"><i class="fa fa-angle-double-left"></i> Volver al mapa</a>
        </div>
    </div>

    <div class="monocontent">
        <div class="col-lg-offset-2">
            <form action="" method="get" onSubmit="searchLocation(); return false;">        
                <div class="input-group">
                    <input class="form-control" id="PlaceMapSearch" type="text" placeholder="Nombre del lugar...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" onClick="searchLocation();"><i class="fa fa-search" id="mapSearchIcon"></i> Ubicar en el mapa</button>
                    </span>
                </div>
            </form>
            
            <ul aria-labelledby="dropdownMenu" role="menu" style="position: static; float: none; display: block;margin-bottom: 20px;" class="dropdown-menu hidden" id="mapResults"></ul>
            
            <div id="map" style="height:200px;margin:15px 0"></div>
            
            <div class="alert alert-info" id="PlaceInfo2">
                <i class="fa fa-info-circle fa-lg"></i> <strong>Información: </strong> Haz click en el mapa para cambiar la localización.
            </div>
        </div>
                
        <hr>
              
        <form onSubmit="if(document.getElementById('map').className != 'active'){searchLocation(); return false;} {% if rich_text_editor %}return postForm(){% endif %}" action="{{ path('ColectaPlaceEdit', {'slug':item.slug}) }}" method="POST" class="form-horizontal" id="PlaceForm">
            <fieldset>
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="PlaceName">Nombre</label>
                <div class="col-sm-9 col-lg-10">
                  <input type="text" class="form-control" id="PlaceName" name="name" value="{{ item.name }}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 col-lg-2 control-label" for="PlaceText">Descripción</label>
                <div class="col-sm-9 col-lg-10">
                  <textarea class="form-control" id="PlaceText" name="text" rows="5">{% if rich_text_editor %}{% spaceless %}{{ item.text | nl2br| nonl | raw }}{% endspaceless %}{% else %}{{ item.text | striptags(allowed_tags) }}{% endif %}</textarea>
                </div>
              </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="PostText">Categoría</label>
                    <div class="col-sm-9 col-lg-10">
                        {% render 'ColectaItemBundle:Category:formlist' with {'selected':item.category.id} %}
                    </div>
                </div>
              
              <div class="form-group">
                <div class="col-lg-offset-2 col-sm-offset-3 col-sm-9 col-lg-10">
                    <input type="hidden" name="latitude" id="PlaceLatitude" value="{{ item.latitude }}">
                    <input type="hidden" name="longitude" id="PlaceLongitude" value="{{ item.longitude }}">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a href="{{ path('ColectaPlaceDelete', {slug: item.slug}) }}" class="btn btn-danger" onClick="return confirm('¿Seguro que quieres eliminar este contenido?')"><i class="icon-trash"></i> Eliminar</a>
                </div>
              </div>
            </fieldset>
        </form>
    </div>
    
    <hr>
    <h3>Enlazar con otros contenidos</h3>
    <div class="monocontent">
        {% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}
    </div>

{% endblock %}

{% block stylesheets %}
    {% if rich_text_editor %}
        <link rel="stylesheet" href="/css/summernote.css" />
    {% endif %}
{% endblock %}

{% block javascripts %}    
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    {% if rich_text_editor %}
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/summernote.min.js"></script>
    {% endif %}
    
    <script>
        var geocoder;
        var map;
        var marker;
        
        function searchLocation() {
            $('#mapSearchIcon').removeClass('icon-search').addClass('icon-refresh icon-spin');
            
            if(!geocoder) {
                geocoder = new google.maps.Geocoder();
            }
            
            var address = $('#PlaceMapSearch').val();
            
            $('#mapResults').addClass('hidden');
            
            geocoder.geocode( { 'address': address}, function(results, status) {
            
                if (status == google.maps.GeocoderStatus.OK) {
                    
                    if(results.length > 1) {
                        $('#mapResults').html('');
                        for(var i = 0; i < results.length; i++) {
                            $('#mapResults').append('<li id="mapResult'+(i + 1)+'"><a tabindex="-1" href="#result'+i+'" onClick="mapPosition(new google.maps.LatLng('+results[i].geometry.location.lat()+', '+results[i].geometry.location.lng()+'));$(\'#PlaceName\').val(\''+results[i].formatted_address+'\');$(\'#mapResults\').addClass(\'hidden\');return false;"> '+results[i].formatted_address+'</a></li>');
                        }
                        
                        $('#mapResults').removeClass('hidden');
                    } else {
                        mapPosition(results[0].geometry.location);
                        $('#PlaceName').val(results[0].formatted_address);
                    }
                    
                } else {
                    if(status == 'ZERO_RESULTS') {
                        alert('No hemos encontrado ningun sitio con esas palabras. \nPrueba de nuevo');
                    } else {
                        alert('Ha ocurrido un error: ' + status);
                    }
                }
                
                $('#mapSearchIcon').addClass('icon-search').removeClass('icon-refresh icon-spin');
            });
        }
        
        function mapPosition(position) { //google maps latlng object
            //If not active, create map
            if(! $('#map').hasClass('active')) {
                $('#map').addClass('active');
                map = new google.maps.Map(document.getElementById('map'), {zoom: 15,center:position, mapTypeId: google.maps.MapTypeId.TERRAIN, streetViewControl: false});
                google.maps.event.addListener(map, 'click', function(event) {
                    mapPosition(event.latLng);
                });
                
                $('#PlaceLatitude').val(position.lat());
                $('#PlaceLongitude').val(position.lng());
                
            } else {
                map.panTo(position);
                $('#PlaceLatitude').val(position.lat());
                $('#PlaceLongitude').val(position.lng());
            }
            
            if(!marker) {
                marker = new google.maps.Marker({
                    map: map,
                    position:position
                });
            } else {
                marker.setPosition(position);
            }
        }
        
    {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    
    {% include 'ColectaItemBundle:Default:relateitems.js.twig' %}    
    
    $(function() {
        mapPosition(new google.maps.LatLng( {{ item.latitude }}, {{ item.longitude }} ));
    });
    
    {% if rich_text_editor %}
        $(document).ready(function() {
            $('#PlaceText').summernote({
                height: 180,
                toolbar: [
                //['style', ['style']], // no style button
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['fontsize', ['fontsize']],
                //['color', ['color']],
                ['para', ['ul', 'ol']],
                //['height', ['height']],
                ['insert', [/*'picture',*/ 'link']], // no insert buttons
                //['table', ['table']], // no table button
                //['help', ['help']] //no help button
                ]
            });
        });
        
        var postForm = function() {
            var content = $('textarea[id="PlaceText"]').html($('#PlaceText').code());
        }
    {% endif %}
    
    </script>
{% endblock %}