{% extends '::frontend.html.twig' %}

{% block places 'active' %}

{% block javascripts %}    
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var geocoder;
        var map;
        var marker;
        
        function searchLocation() {
            $('#mapSearchIcon').removeClass('icon-search').addClass('icon-refresh icon-spin');
            
            if(!geocoder) {
                geocoder = new google.maps.Geocoder();
            }
            
            var address = $('#PlaceMapSearch').val();
            
            $('#mapResults').addClass('hidden');
            
            geocoder.geocode( { 'address': address}, function(results, status) {
            
                if (status == google.maps.GeocoderStatus.OK) {
                    
                    if(results.length > 1) {
                        $('#mapResults').html('');
                        for(var i = 0; i < results.length; i++) {
                            $('#mapResults').append('<li id="mapResult'+(i + 1)+'"><a tabindex="-1" href="#result'+i+'" onClick="mapPosition(new google.maps.LatLng('+results[i].geometry.location.lat()+', '+results[i].geometry.location.lng()+'));$(\'#PlaceName\').val(\''+results[i].formatted_address+'\');$(\'#mapResults\').addClass(\'hidden\');return false;"> '+results[i].formatted_address+'</a></li>');
                        }
                        
                        $('#mapResults').removeClass('hidden');
                    } else {
                        mapPosition(results[0].geometry.location);
                        $('#PlaceName').val(results[0].formatted_address);
                    }
                    
                } else {
                    if(status == 'ZERO_RESULTS') {
                        alert('No hemos encontrado ningun sitio con esas palabras. \nPrueba de nuevo');
                    } else {
                        alert('Ha ocurrido un error: ' + status);
                    }
                }
                
                $('#mapSearchIcon').addClass('icon-search').removeClass('icon-refresh icon-spin');
            });
        }
        
        function mapPosition(position) { //google maps latlng object
            //If not active, create map
            if(! $('#map').hasClass('active')) {
                $('#map').addClass('active');
                map = new google.maps.Map(document.getElementById('map'), {zoom: 15,center:position, mapTypeId: google.maps.MapTypeId.TERRAIN, streetViewControl: false});
                google.maps.event.addListener(map, 'click', function(event) {
                    mapPosition(event.latLng);
                });
                
                $('#PlaceLatitude').val(position.lat());
                $('#PlaceLongitude').val(position.lng());
                
            } else {
                map.panTo(position);
                $('#PlaceLatitude').val(position.lat());
                $('#PlaceLongitude').val(position.lng());
            }
            
            if(!marker) {
                marker = new google.maps.Marker({
                    map: map,
                    position:position
                });
            } else {
                marker.setPosition(position);
            }
        }
        
    {% include 'ColectaItemBundle:Default:categoryform.js.twig' %}
    
    {% include 'ColectaItemBundle:Default:relateitems.js.twig' %}    
    
    $(function() {
        mapPosition(new google.maps.LatLng( {{ item.latitude }}, {{ item.longitude }} ));
    });
    </script>
{% endblock %}
{% block article %}

{% if item.author == app.user %}

<div class="title-block">
    <h2>Editar Lugar</h2>
</div>

<div class="well">
    <form action="" method="get" onSubmit="searchLocation(); return false;">        
        <div class="input-append">
            <input class="span4" id="PlaceMapSearch" size="16" type="text">
            <button class="btn" type="button" onClick="searchLocation();"><i class="icon-search" id="mapSearchIcon"></i> Buscar en el mapa</button>
        </div>
    </form>
    
    <ul aria-labelledby="dropdownMenu" role="menu" style="position: static; float: none; display: block;margin-bottom: 20px;" class="dropdown-menu hidden" id="mapResults"></ul>
    
    <div id="map"></div>
    
    <div class="alert alert-info" id="PlaceInfo2">
        <i class="icon-info-sign"></i> <strong>Información: </strong> Haz click en el mapa para cambiar la localización.
    </div>
          
    <form onSubmit="if(document.getElementById('map').className != 'active'){searchLocation(); return false;}" action="{{ path('ColectaPlaceEdit') }}" method="POST" class="form-horizontal" id="PlaceForm">
        <hr>
        
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="PlaceName">Nombre del lugar</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="PlaceName" name="name" value="{{ item.name }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="PlaceDescription">Descripción</label>
            <div class="controls">
              <textarea class="input-xlarge" id="PlaceDescription" name="description" rows="3">{{ item.description }}</textarea>
            </div>
          </div>
          
          {% include 'ColectaItemBundle:Default:categoryform.html.twig' %}
          
          <div class="form-actions">
            <input type="hidden" name="latitude" id="PlaceLatitude" value="{{ item.latitude }}">
            <input type="hidden" name="longitude" id="PlaceLongitude" value="{{ item.longitude }}">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </fieldset>
    </form>
</div>

{% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}

{% endif %}

{% endblock %}