{% extends '::frontend.html.twig' %}

{% block title %}{{ item.name}} |Lugares{% endblock %}

{% block article %}

<div class="item panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="{{ path('ColectaPlaceView', { 'slug': item.slug }) }}">{{ item.name }}</a>
            {% if app.user and item.canEdit(app.user) %}
                <a href="{{ path('ColectaPlaceEdit', {slug:item.slug}) }}" class="pull-right" title="Editar"><i class="fa fa-pencil"></i> Editar</a>
            {% endif %}
        </h3>
    </div>
    
    <div class="panel-body">
        {% include 'ColectaItemBundle:Default:itemDetails.html.twig' with { item: item } only %}
        
        {{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }}
        
        <div class="row">
            <div id="map" style="width:auto;height:300px;"></div>
        </div>
        
        {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    </div>
    
    <div class="panel-footer">
        {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 5 } only %}
    </div>
</div>

{% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}

{% endblock %}

{% block javascripts %}  
    <script src="/js/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var map;
        var marker;
        
        map = new google.maps.Map(document.getElementById('map'), {zoom: 13,center:new google.maps.LatLng({{ item.latitude }},{{ item.longitude }}), mapTypeId: google.maps.MapTypeId.TERRAIN, streetViewControl: false});
        marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng({{ item.latitude }},{{ item.longitude }})
                    });
        
    </script>
{% endblock %}