{% extends '::frontend.html.twig' %}

{% block places 'active' %}

{% block javascripts %}  
    <script src="/js/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var map;
        var marker;
        
        map = new google.maps.Map(document.getElementById('map'), {zoom: 13,center:new google.maps.LatLng({{ item.latitude }},{{ item.longitude }}), mapTypeId: google.maps.MapTypeId.TERRAIN, streetViewControl: false});
        marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng({{ item.latitude }},{{ item.longitude }})
                    });
        
    </script>
{% endblock %}

{% block article %}
<div class="place full">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    <h2>{{ item.name }}</h2>
    
    <div id="map" style="width:auto;height:300px;"></div>

    <p>{{ item.description | usercontent | raw | nl2br }}</p>
    
    {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item, 'collapse': 18 } only %}
</div>
{% endblock %}