{% extends '::frontend.html.twig' %}

{% block title %}Lugares{% endblock %}

{% block article %}

    {% include '::navigation.html.twig' with {'active': 'place'} %}

    {% if app.user %} <a href="{{ path('ColectaPlaceNew')}}" class="btn btn-small btn-default pull-right">Nueva publicación <i class="fa fa-plus"></i></a> {% endif %}
    <h2>Lugares{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>

    {% for item in items %}
    <div class="item" id="item{{ item.id}}">        
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    </div>
    {% else %}
        <p class="lead">Nadie ha publicado nada... por ahora.</p>
    {% endfor %}
    
    {% if page > 1 or thereAreMore %}
        <ul class="pager">
          <li class="previous{% if page == 1 %} disabled{% endif %}">
            <a href="{% if page > 1 %}{{ path('ColectaPlacePage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="next{% if not thereAreMore %} disabled{% endif %}">
            <a href="{% if thereAreMore %}{{ path('ColectaPlacePage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}

{% endblock %}