{% set mapwidth = 564 %}
{% set mapheight = 250 %}
<div class="place mini">
    <h2><a href="{{ path('ColectaPlaceView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    
    <a href="{{ path('ColectaPlaceView', { 'slug': item.slug }) }}" class="maplink"><img src="http://maps.google.com/maps/api/staticmap?center={{ item.latitude ~ ',' ~ item.longitude }}&zoom=13&size={{ mapwidth }}x{{ mapheight }}&maptype=terrain&markers=color:blue%7C{{ item.latitude ~ ',' ~ item.longitude }}&sensor=false" width="{{ mapwidth }}" height="{{ mapheight }}"></a>
    
    <p>{{ item.summary | nl2br }}{% if item.description | length > item.summary | length %}<span id="linkrm-{{ item.slug }}"><button type="button" class="btn btn-link btn-small" onClick="document.getElementById('readmore-{{ item.slug }}').style.display = '';document.getElementById('linkrm-{{ item.slug }}').style.display = 'none';return false;">( ... leer más )</button></span> <span id="readmore-{{ item.slug }}" style="display:none">{{ item.description[item.summary|length:item.description|length -item.summary|length] | nl2br}} </span>{% endif %}</p>
</div>