<div class="place mini">
    <a href="{{ path('ColectaPlaceView', { 'slug': item.slug }) }}" class="thumbnail"><img class="" src="http://maps.google.com/maps/api/staticmap?center={{ item.latitude ~ ',' ~ item.longitude }}&zoom=13&size=260x180&maptype=roadmap&markers=color:blue%7C{{ item.latitude ~ ',' ~ item.longitude }}&sensor=false" width="260" height="180"></a>
    <h2><a href="{{ path('ColectaPlaceView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    <p>{{ item.summary }}</p>
</div>