<div class="row">
    <div class="col-xs-6">
    	<p>distancia: <strong>{{ kmsSum }}km</strong></p> 
    	<p><i class="fa fa-caret-{% if kmsSum - prev_kmsSum == 0 %}up text-muted{% elseif kmsSum - prev_kmsSum > 0 %}up text-success{% else %}down text-danger{% endif %}" style=""></i> {{ kmsSum - prev_kmsSum }}km <small class="text-muted">respecto a anterior</small></p>
    </div>
    <div class="col-xs-6">
    	<p>puntos: <strong>{{ pointsSum }}</strong></p> 
    	<p><i class="fa fa-caret-{% if kmsSum - prev_kmsSum == 0 %}up text-muted{% elseif pointsSum - prev_pointsSum > 0 %}up text-success{% else %}down text-danger{% endif %}"></i> {{ pointsSum - prev_pointsSum }} <small class="text-muted">respecto a anterior</small></p>
    </div>
</div>

<ul id="performancesGraph">{% spaceless %}
	{% for i in 1..30 %}
	<li{% if daysAgoKms[30-i] %} style="height:{{ daysAgoKms[30-i] / max(daysAgoKms) * 50 }}px"{% endif %}></li>
	{% endfor %}
{% endspaceless %}</ul>

<p><small><a href="{{ path('ColectaUserAssistances', {'id':app.user.id}) }}">Ver mi rendimiento anual <i class="fa fa-bar-chart fa-fw"></i></a></small></p>