<div class="row mb-2 pb-3">
	{% if kmsSum + pointsSum > 0 %}
    <div class="col-6">
    	<p>distancia: <strong>{{ kmsSum }}km <i class="far fa-caret-{% if kmsSum - prev_kmsSum == 0 %}up text-muted{% elseif kmsSum - prev_kmsSum > 0 %}up text-success{% else %}down text-danger{% endif %}"></i></strong></p> 
    	<p class="periodCompare">{% if kmsSum - prev_kmsSum == 0 %}<small> +{% elseif kmsSum - prev_kmsSum > 0 %}<small style="color:green">+{% else %}<small style="color:darkred">{% endif %} {{ kmsSum - prev_kmsSum }}km</small> <br><small class="text-muted">frente a los 30 días anteriores</small></p>
    </div>
    <div class="col-6">
    	<p>puntos: <strong>{{ pointsSum }} <i class="far fa-caret-{% if kmsSum - prev_kmsSum == 0 %}up text-muted{% elseif pointsSum - prev_pointsSum > 0 %}up text-success{% else %}down text-danger{% endif %}"></i></strong></p> 
    	<p class="periodCompare">{% if kmsSum - prev_kmsSum == 0 %}<small> +{% elseif pointsSum - prev_pointsSum > 0 %}<small style="color:green">+{% else %}<small style="color:darkred">{% endif %} {{ pointsSum - prev_pointsSum }}</small> <br><small class="text-muted">frente a los 30 días anteriores</small></p>
    </div>
    {% else %}
    	<div class="col-12"><p class="text-secondary"><em>Sin actividad los últimos 30 días.</em></p></div>
    {% endif %}
</div>
{% if kmsSum > 0 %}
<ul id="performancesGraph">{% spaceless %}
	{% for i in 1..30 %}
	<li{% if daysAgoKms[30-i] %} style="height:{{ daysAgoKms[30-i] / max(daysAgoKms) * 50 }}px"{% endif %}></li>
	{% endfor %}
{% endspaceless %}</ul>
{% endif %}