{% extends '::frontend.html.twig' %}

{% block article %} 
    
    <h2>Ranking {{ year }}</h2>
    {% if years | length > 1 or years | length == 1 and years[0].year != year %}
        <p class="text-muted">
            {% for y in years %}
                {% if y.year != year %}
                    <a href="{{ path('ColectaActivitiesYearRank',{year:y.year}) }}" class="">{{ y.year }}</a> 
                {% else %}
                    {{ y.year }}
                {% endif %}
                
                {% if not loop.last %} | {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    
    <div class="monocontent">
        <table class="table table-condensed table-hover">
        <thead><tr><th style="width: 75px;">Puntos</th><th style="width: 100px;">Acumulado</th><th style="width: 150px;">Nombre</th><th>Ranking</th></tr></thead>
        {% set maxpoints = points[users[0].id] %}
        {% for user in users %}
            <tr>
                <td>{{ points[user.id] | number_format(0) }} p</td>
                <td>{{ kms[user.id] | number_format(1,'.',',') }} km</td>
                <td><a href="{{ path('ColectaUserAssistancesYear', {'id':user.id, year: year}) }}">{{ user.name }}</a></td>
                <td><div class="progress"><div class="progress-bar progress-bar-primary" style="width: {% if maxpoints > 0 %}{{ (points[user.id] / maxpoints * 100) | number_format(1,'.',',') }}{% else %}0{% endif %}%;"></div></div></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock%}