{% extends '::frontend.html.twig' %}

{% block routes 'active' %}

{% block javascripts %}    
    <script src="/js/jquery.min.js"></script>
    <script>

{% include 'ColectaItemBundle:Default:relateitems.js.twig' %}
    
    function toggleCategoryCreate() {
            var button = $('#categoryCreateButton');
            if(button.hasClass('newcategory')) {
                button.removeClass('newcategory').addClass('selectcategory');
                button.html('Seleccionar una categoría existente');
                $('#EventCategory').hide();
                $('#EventNewCategory').show().focus();
            } else {
                button.removeClass('selectcategory').addClass('newcategory');
                button.html('Crear una nueva categoría');
                $('#EventCategory').show();
                $('#EventNewCategory').hide().attr('value','');
            }
        }
    
    </script>
{% endblock %}
{% block article %}

{% if item.author == app.user %}
<div class="title-block">
    <h2>Editar Ruta</h2>
</div>
<form action="{{ path('ColectaRouteEdit', {slug:item.slug}) }}" method="POST" class="form-horizontal well">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Nombre</label>
        <div class="controls">
          {{ form_widget(form.name) }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Descripción</label>
        <div class="controls">
          {{ form_widget(form.description) }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteName">Distancia</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.distance, {'attr':{'class':'input-small','value': item.distance}}) }}<span class="add-on"> km</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Subida</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.uphill, {'attr':{'class':'input-small','value': item.uphill}}) }}<span class="add-on"> metros</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Bajada</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.downhill, {'attr':{'class':'input-small','value': item.downhill}}) }}<span class="add-on"> metros</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Tiempo</label>
        <div class="controls">
          {% set secconds, minutes, hours, days = 0, 0, 0, 0 %}
          {% if item.time < 60 %}
            {% set secconds = item.time %}
          {% else %}
            {% set minutes = item.time // 60 %}
            {% set secconds = item.time - minutes * 60 %}
            
            {% if minutes >= 60 %}
                {% set hours = minutes // 60 %}
                {% set minutes = minutes - hours * 60 %}
                
                {% if hours >= 24 %}
                    {% set days = hours // 24 %}
                    {% set hours = hours - days * 24 %}
                {% endif %}
            {% endif %}
          {% endif %}
            <input type="text" class="spanhalf" name="days" value="{{ days }}"> dias,  
            
            <select name="hours" style="width:auto">
            {% for hour in 0..23 %}
                <option value="{{ hour }}"{% if hour == hours %}selected="selected"{% endif%}>{{ hour }}</option>
            {% endfor %}
            </select>            
             horas y 
            
            <select name="minutes" style="width:auto">
            {% for minute in 0..59 %}
                <option value="{{ minute }}"{% if minute == minutes %}selected="selected"{% endif%}>{{ minute }}</option>
            {% endfor %}
            </select>
             minutos 
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Velocidad media</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.avgspeed, {'attr':{'value': item.avgspeed}}) }}<span class="input-small uneditable-input">{{ item.avgspeed }}</span><span class="add-on"> km/h</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Velocidad máxima</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.maxspeed, {'attr':{'value': item.maxspeed}}) }}<span class="input-small uneditable-input">{{ item.maxspeed }}</span><span class="add-on"> km/h</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Cota inferior</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.minheight, {'attr':{'class':'input-small','value': item.minheight}}) }}<span class="add-on"> metros</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteFile">Cota superior</label>
        <div class="controls">
          <div class="input-append">
            {{ form_widget(form.maxheight, {'attr':{'class':'input-small','value': item.maxheight}}) }}<span class="add-on"> metros</span>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="RouteName">Dificultad</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="difficulty" id="RouteDifficultyEasy" value="easy"{% if item.difficulty == 'easy' %} checked{% endif %}>
                <img src="/img/difficulty/easy.gif" alt="fácil" width="70" height="12">
                Fácil
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" id="RouteDifficultyModerate" value="moderate"{% if item.difficulty == 'moderate' %} checked{% endif %}>
                <img src="/img/difficulty/moderate.gif" alt="moderado" width="70" height="12">
                Moderado
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" id="RouteDifficultyHard" value="hard"{% if item.difficulty == 'hard' %} checked{% endif %}>
                <img src="/img/difficulty/hard.gif" alt="difícil" width="70" height="12">
                Difícil
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" id="RouteDifficultyVeryhard" value="very hard"{% if item.difficulty == 'very hard' %} checked{% endif %}>
                <img src="/img/difficulty/very-hard.gif" alt="muy difícil" width="70" height="12">
                Muy difícil
            </label>
            <label class="radio">
                <input type="radio" name="difficulty" id="RouteDifficultyExpertsonly" value="experts only"{% if item.difficulty == 'experts only' %} checked{% endif %}>
                <img src="/img/difficulty/experts-only.gif" alt="sólo expertos" width="70" height="12">
                Sólo expertos
            </label>
        </div>
      </div>
      
      {{ form_rest(form) }}
      
      <div class="control-group">
        <label class="control-label" for="EventCategory">Categoría</label>
        <div class="controls">
          <select id="EventCategory" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}"{% if item.category.slug == category.slug %} selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
          </select><input type="text" id="EventNewCategory" name="newCategory" style="display:none"><br>
          <button class="btn btn-link newcategory" type="button" onClick="toggleCategoryCreate()" id="categoryCreateButton">Crear una nueva categoría</button>
        </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" id="RouteSubmit">Actualizar</button>
      </div>
    </fieldset>
</form>

{% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}

{% endif %}

{% endblock %}