{% extends '::frontend.html.twig' %}

{% block title %}Rutas{% endblock %}

{% block article %}
    
    {% if app.user %} <a href="{{ path('ColectaRouteNew')}}" class="btn btn-small btn-success pull-right">Nueva publicación <i class="fa fa-plus"></i></a> {% endif %}
    <h2>Rutas{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
    
    {% for item in items %}
    <div class="item" id="item{{ item.id}}">
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    </div>
    {% else %}
         <div class="monocontent text-center">
            <i class="fa fa-{{ itemIcons['Activities/Route'] }} fa-4x"></i>
            <h2>Ésta es la página de Rutas</h2>
            <p>Se irá llenando de contenido conforme los vayas publicando</p>
        </div>
    {% endfor %}
    
    {% if page > 1 or thereAreMore %}
        <ul class="pager">
          <li class="previous{% if page == 1 %} disabled{% endif %}">
            <a href="{% if page > 1 %}{{ path('ColectaRoutePage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="next{% if not thereAreMore %} disabled{% endif %}">
            <a href="{% if thereAreMore %}{{ path('ColectaRoutePage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}

{% endblock %}