{% extends 'ColectaItemBundle:Default:itemMini.html.twig' %}

{% block itemBody %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">  
            <p class="details"><a href="{{ path('userProfile', { 'id': item.author.id }) }}" class="username"><img src="{{ path('userAvatar',{'uid':item.author.id,'width':20,'height':20}) }}"> {{item.author.name}}</a> {% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': item.date } only %}{% if item.category %} en <a class="category" href="{{ path('ColectaCategoryView', { 'slug': item.category.slug }) }}">{{ item.category.name }}</a>{% endif %}</p>
            
            <div id="summary-{{ item.slug }}">
                {{ item.text[0:summary_max_length] | striptags(allowed_tags) | cleancode | raw | nl2br }}
                {% if item.text | length > summary_max_length %}<button type="button" class="btn btn-link btn-small" onClick="$('#readmore-{{ item.slug }}').show(); $('#summary-{{ item.slug }}').hide(); return false;">( ... leer más )</button>{% endif %}
            </div>
            
            {% if item.text | length > summary_max_length %}
                <div id="readmore-{{ item.slug }}" style="display:none">{{ item.text | usercontent | striptags(allowed_tags) | cleancode | raw | nl2br }} </div>
            {% endif %}
        </div>
        <div class="mapcaption col-xs-12 col-sm-4 ">
            <a href="{{ path('ColectaRouteView', { 'slug': item.slug }) }}"><img style="width:100%" src="{{ path('ColectaRouteMap',{id : item.id}) }}"></a>
        </div>
    </div>
    
    {% include 'ColectaActivityBundle:Default:properties.html.twig' with { item: item } only %}
{% endblock %}