{% set new = app.user and app.session.get('sinceLastVisit') and app.session.get('sinceLastVisit') != 'dismiss' and app.session.get('sinceLastVisit') < item.date %}

<div class="route mini">
    <div class="unity">
        <a href="{{ path('ColectaRouteView', { 'slug': item.slug }) }}" class="maplink"><img class="" src="{{ path('ColectaRouteMap',{id : item.id}) }}"></a>
        
        <h2>{% if new %}<i class="icon-asterisk" style="color:orange;"></i> {% endif %}<a href="{{ path('ColectaRouteView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
        
        <p>{{ item.summary | usercontent | raw | nl2br }}{% if item.description | length > item.summary | length %}<span id="linkrm-{{ item.slug }}"><button type="button" class="btn btn-link btn-small" onClick="document.getElementById('readmore-{{ item.slug }}').style.display = '';document.getElementById('linkrm-{{ item.slug }}').style.display = 'none';return false;">( ... leer más )</button></span> <span id="readmore-{{ item.slug }}" style="display:none">{{ item.description[item.summary|length:item.description|length -item.summary|length] | usercontent | raw | nl2br }} </span>{% endif %}</p>
    </div>
    
    {% include 'ColectaActivityBundle:Default:properties.html.twig' with { item: item } only %}
</div>