{% extends '::frontend.html.twig' %}

{% block title %}Mapas{% endblock %}

{% block article %}
    
    {% if app.user %} <a href="{{ path('ColectaRouteNew')}}" class="btn btn-small btn-primary pull-right">Nueva publicación <i class="fa fa-plus"></i></a> {% endif %}
    <h2>Rutas{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
    
    {% for item in items %}
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}
    {% else %}
        <div class="monocontent text-center">
            <h3><i class="fa fa-{{ itemIcons['Activity/Route'] }} fa-fw"></i> Las rutas y los lugares que se añadan aparecerán aquí.</h3>
        </div>
    {% endfor %}
    
    {% if page > 1 or thereAreMore %}
        <ul class="pager">
          <li class="previous{% if page == 1 %} disabled{% endif %}">
            <a href="{% if page > 1 %}{{ path('ColectaMapPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="next{% if not thereAreMore %} disabled{% endif %}">
            <a href="{% if thereAreMore %}{{ path('ColectaMapPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}

{% endblock %}