{% extends '::frontend_main.html.twig' %}

{% block title %}Mapas{% endblock %}

{% block content %}
            <div class="d-flex justify-content-between pt-3">
            	<h2>Rutas{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
            	{% if app.user and app.user.role.name != 'ROLE_BANNED' %}<p><a href="{{ path('ColectaRouteNew')}}" class="btn btn-success"><i class="far fa-plus fa-fw"></i> Publicar</a></p>{% endif %}
            </div>
            
            {% for item in items %}
                {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
                {% set path = path | replace({'/':'Bundle:'}) %}
                {% include path with { 'item': item } only %}
            {% else %}
                <div class="monocontent">
                    <h3><i class="far fa-{{ itemIcons['Activity/Route'] }} fa-fw"></i> Las rutas que se añadan aparecerán aquí.</h3>
                </div>
            {% endfor %}
            
            {% if page > 1 or thereAreMore %}
                <ul class="pagination justify-content-center">
                  <li class="page-item{% if page == 1 %} disabled{% endif %}">
                    <a class="page-link" href="{% if page > 1 %}{{ path('ColectaMapPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
                  </li>
                  <li class="page-item{% if not thereAreMore %} disabled{% endif %}">
                    <a class="page-link" href="{% if thereAreMore %}{{ path('ColectaMapPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
                  </li>
                </ul>
            {% endif %}
{% endblock %}