{% set isRoute = item.type == 'Activity/Route' %}
<ul class="properties row list-unstyled">
    <li class="col-lg-6">Distancia: <br><strong>{% if item.distance > 0 %}{{ item.distance }} km{% else %}--{% endif %}</strong></li>
    
    
    <li class="col-lg-6">Desnivel: <br><strong>{% if item.uphill > 0 %}{{ item.uphill }} m{% else %}--{% endif%}</strong></li>
    
    
    {% if item.time > 0 %}
        {% set secconds, minutes, hours, days = 0, 0, 0, 0 %}
        {% if item.time < 60 %}
            {% set secconds = item.time %}
        {% else %}
            {% set minutes = item.time // 60 %}
            {% set secconds = item.time - minutes * 60 %}
            
            {% if minutes >= 60 %}
                {% set hours = minutes // 60 %}
                {% set minutes = minutes - hours * 60 %}
                
                {% if hours >= 24 %}
                    {% set days = hours // 24 %}
                    {% set hours = hours - days * 24 %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    
    <li class="col-lg-6">Duración: <br><strong>{% if item.time > 0 %}{% if days > 0 %}{{ days }}d {% endif %}{{ hours }}h {{ minutes }}m{% else %}--{% endif%}</strong> </li>
    
    <li class="col-lg-6">Dificultad: <br><strong>{% if item.difficulty != '' %}{{ item.difficulty | replace({'easy':'fácil', 'moderate':'moderada', 'hard':'difícil', 'very hard':'muy difícil', 'experts only':'sólo expertos'}) }}{% else %}--{% endif %}</strong> </li>    
</ul>