{% extends '::frontend.html.twig' %}

{% block home 'active' %}

{% block article %}

<div class="title-block">
    <h2>Inicio</h2>{% if page > 1 %} <span>página {{page}}</span>{% endif %}
</div>

    {% if app.user %}
        <form style="margin: 20px;">
            <input type="text" style="border-radius: 0px 0px 0px 0px; display: block; width: 98%; margin-bottom: -1px;" placeholder="Título">
            <textarea placeholder="Descripción" style="margin-bottom: 0px; border-radius: 0px 0px 0px 0px; resize: vertical; width: 98%;"></textarea>
            <ul style="background-color: rgb(238, 238, 238); overflow: hidden; padding: 4px 6px; width: 98%; border: 1px solid rgb(204, 204, 204); margin: -1px 0px 0px;" class="unstyled"><li style="color: rgb(136, 136, 136); cursor: pointer; padding: 2px 6px; margin-right: 5px;" class="pull-left"><i class="icon-calendar-empty"></i> Evento</li><li class="pull-left" style="color: rgb(136, 136, 136); cursor: pointer; padding: 2px 6px; margin-right: 5px;"><i class="icon-globe"></i> Ruta</li><li class="pull-left" style="color: rgb(136, 136, 136); cursor: pointer; padding: 2px 6px; margin-right: 5px;"><i class="icon-map-marker"></i> Lugar</li><li class="pull-left" style="cursor: pointer; margin-right: 5px; padding: 1px 6px; border: 1px solid rgb(187, 187, 187); background-color: rgb(221, 221, 221); color: rgb(34, 34, 34);"><i class="icon-folder-open"></i> Archivo</li><li class="pull-right"><button class="btn btn-small btn-primary">Publicar</button></li><li class="pull-right"><select style="width: 120px; padding: 2px; height: 26px; margin: 0px 8px;" id="Category" name="category">
                            <option value="1">General</option>
                            <option value="2">El Club</option>
                            <option value="3">Fotos</option>
                            <option value="4">Rutas</option>
                            <option value="5">Seguridad</option>
                            <option value="6">Próxima Ruta</option>
                            <option value="7">Travesías</option>
                            <option value="8">GPS</option>
                            <option value="9">Pedales de Hassia</option>
                            <option value="10">Curiosidades</option>
                            <option value="12">Yo Ruedo</option>
                            <option value="13">Propuestas</option>
                            <option value="14">Gátova</option>
                            <option value="15">Compra-Venta</option>
                            <option value="16">La Web</option>
                            <option value="0" style="font-style: italic; color: rgb(153, 153, 153);">Nueva Categoría</option>
                      </select><input type="text" id="NewCategory" name="newCategory" style="display:none" placeholder="Nombre">
              </li></ul>
        </form>
    {% endif %}

{% set slv = app.session.get('sinceLastVisit') %}
{% if slv and slv != 'dismiss' and colectauser.sinceLastVisitItems > 0 %}
    <div class="sys">
        <a class="close pull-right" href="{{ path('ColectaSinceLastVisitDismiss') }}">&times;</a>
        <i class="icon-eye-open pull-left icon-4x"></i>
        <h2><a href="{{ path('ColectaSinceLastVisit') }}">Ver todo lo que me he perdido desde mi última visita <i class="icon-double-angle-right"></i></a></h2>
        <p>{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': slv } only %}</p>
    </div>
{% endif %}

{% for item in items %}
    
<div class="item">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 5 } only %}
</div>
{% else %}
    {% if not app.user %}
        <h3>Nadie ha escrito nada... por ahora.</h3>
    {% endif %}
{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}