{% extends '::frontend_main.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    {% if not app.user and web_description and page <= 1 %}<p class="lead mt-3">{{ web_description | nl2br }}</p>{% endif %}

	{# NEXT ACTIVITIES #}
    {% if nextactivities | length and page <= 1 %}
    	
        {% set dias_semana = {
            'Monday':'lunes',
            'Tuesday':'martes',
            'Wednesday':'miércoles',
            'Thursday':'jueves',
            'Friday':'viernes',
            'Saturday':'sábado',
            'Sunday':'domingo'
        }%}
    	<div class="card bg-white mt-3 mb-4 border-0 rounded box-shadow"id="nextactivities">
            <div class="card-body">
            {% for item in nextactivities %}
            	<div class="{% if not loop.last %}mb-3{% endif %}">
	                {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
	                {% set path = path | replace({'/':'Bundle:'}) %}
	                {% include path with { 'item': item } only %}
                </div>
            {% endfor %}
        	</div>
        </div>
    {% endif %}

    {# GRAPHS #}
    {% if app.user and app.user.role.name != 'ROLE_BANNED' and page <= 1 %}
    <div class="bg-white rounded box-shadow my-3">
	    <div class="row">
	    	<div class="col-md-6 mt-2">
	            <div class="ranksummary" onclick="window.location.assign('{{ path('ColectaActivitiesRank') }}')" style="cursor:pointer">
	                <div class="p-2 px-sm-3">
	                    <h3>Ranking:</h3>
	                    
	                    <div id="ranksummary"><i class="far fa-refresh fa-spin"></i> Cargando... </div>                            
	                </div>
	            </div>
	        </div>
	        <div class="col-md-6 mt-2">
	           <div class="performancesummary" onclick="window.location.assign('{{ path('ColectaUserAssistances', {'id':app.user.id}) }}')" style="cursor:pointer">
	                <div class="p-2 px-sm-3">
	                    <h3>Tu Actividad:</h3>
	                    
	                    <div id="performancesummary"><i class="far fa-refresh fa-spin"></i> Cargando... </div> 
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    {% endif %}

        
    <div class="d-flex justify-content-between pt-3">
		<h2>Últimas publicaciones{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
		{% if app.user and app.user.role.name != 'ROLE_BANNED' %}<p><a href="{{ path('ColectaPostNew')}}" class="btn btn-success"><i class="far fa-plus fa-fw"></i> Publicar </a></p>{% endif %}
	</div>
    
    {% for item in items %}
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    {% else %}
        {% if app.user %}
        <br><br>
        <div class="jumbotron">
            <h1>¡Listos para empezar!</h1>
            {% if app.user and app.user.role.name != 'ROLE_BANNED' %}
            <p class="lead">¿Qué quieres hacer ahora?</p>
            <p>{% if app.user and app.user.role.getSiteConfig %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendIndex') }}" role="button"><i class="far fa-magic fa-fw"></i> Personalizar la web</a> <a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendNewUser') }}" role="button"><i class="far fa-user-plus fa-fw"></i> Crear nuevo usuario</a>{% elseif app.user and app.user.role.contribute %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaItemNew') }}" role="button"><i class="far fa-plus fa-fw"></i> Nueva publicación</a>{% endif %} <a class="btn btn-primary btn-lg" href="{{ path('userEditProfile') }}" role="button"><i class="far fa-user fa-fw"></i> Editar mi perfil</a></p>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    
    {# PAGINATION #}
    
    {% if page > 1 or thereAreMore %}
        <ul class="pagination justify-content-center">
          <li class="page-item{% if page == 1 %} disabled{% endif %}">
            <a class="page-link" href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="page-item{% if not thereAreMore %} disabled{% endif %}">
            <a class="page-link" href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}
    
{% endblock %}

{% block stylesheets %}
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <link rel="stylesheet" href="/css/summernote.css" />
        {% endif %}
        <link rel="stylesheet" href="/js/pickadate/themes/default.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.date.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.time.css" />
        <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: pointer;
            background-color: #FFF;
        }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}  
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <script src="/js/summernote.min.js"></script>
        {% endif %}
        <script src="/js/pickadate/picker.js"></script>
        <script src="/js/pickadate/picker.date.js"></script>
        <script src="/js/pickadate/picker.time.js"></script>
        <script src="/js/pickadate/legacy.js"></script>
        <script src="/js/pickadate/translations/es_ES.js"></script>
        
        <script src="/js/userInteraction.js"></script>
        <script>        
        
        $(document).ready(function() {
            $("#ranksummary").load( "{{ path('ColectaActivitiesRankSummary') }}" );
            $("#performancesummary").load( "{{ path('ColectaPerformanceSummary') }}" );
        });
            
        </script>
    {% endif %}
    
{% endblock %}