{% extends '::frontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block article %}
    <div class="row dashboard">    
        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
        	{# CUSTOM NAVIGATION #}
            {{ render(controller('ColectaSiteBundle:Page:navigation')) }}
            
        	<form id="searchForm" role="search" action="{{ path('ColectaSearch') }}" method="GET">
                <div class="inner-addon right-addon">
                    <input type="text" class="form-control" name="q" id="searchInput" value="{{ app.request.get('q') }}" placeholder="Buscar...">
                    <i class="fa fa-search" onClick="$('#searchForm').submit()"></i>
                </div>
            </form>
            	
            {# CATEGORIES #}
            <div class="categories">
                <p class="lead" onClick="$('#categoriesList').toggleClass('hidden-xs');">Categorías <i class="fa fa-caret-down"></i></p>
                <ul class="list-unstyled hidden-xs" id="categoriesList">
                    {% for categoryItem in categories %}
                    <li><a href="{{ path('ColectaCategoryView',{'slug':categoryItem.slug}) }}">{{ categoryItem.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            {#}
                {% if adsense %}
                    <hr>
                    {{ adsense | raw }}
                {% endif %}
            {#}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
        	<h2>Inicio{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
    
		    {% if not app.user and web_description and page <= 1 %}<p class="lead">{{ web_description | nl2br }}</p>{% endif %}
    
        	{# NEXT ACTIVITIES #}
            {% if nextactivities | length and page <= 1 %}
            	
                {% set dias_semana = {
                    'Monday':'lunes',
                    'Tuesday':'martes',
                    'Wednesday':'miércoles',
                    'Thursday':'jueves',
                    'Friday':'viernes',
                    'Saturday':'sábado',
                    'Sunday':'domingo'
                }%}
                <div class="panel card panel-default">
                    <div class="row nextactivities">
                    {% for item in nextactivities %}
                    	<div class="col-md-6">
	                        <div class="panel-body">
	                            <h3>{% if item.dateini | date('z') == 'today' | date('z') %}Hoy{% elseif item.dateini | date('z') == 'today'  | date('z') + 1 %}Mañana{% else %}Próximo {{ item.dateini | date('l') | replace (dias_semana) }}{% endif %}:</h3>
	                            {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
	                            {% set path = path | replace({'/':'Bundle:'}) %}
	                            {% include path with { 'item': item } only %}
	                        </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        
            {# GRAPHS #}
            {% if app.user %}
            <div class="row nextactivities">
            	<div class="col-md-6">
                    <div class="panel card panel-default ranksummary" onclick="window.location.assign('{{ path('ColectaActivitiesRank') }}')">
                        <div class="panel-body">
	                        <h3>Ranking:</h3>
	                        
                            <div id="ranksummary"><i class="fa fa-refresh fa-spin"></i> Cargando... </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                   <div class="panel card panel-default performancesummary" onclick="window.location.assign('{{ path('ColectaUserAssistances', {'id':app.user.id}) }}')">
                        <div class="panel-body">
                            <h3>Tus últimos 30 días:</h3>
                            
                            <div id="performancesummary"><i class="fa fa-refresh fa-spin"></i> Cargando... </div> 
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        
                
            {#% set shownItems = [] %}
            
            {% for item in items if item.id not in shownItems %}
                {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
                {% set path = path | replace({'/':'Bundle:'}) %}
                {% include path with { 'item': item } only %}
                
                {% set shownItems = shownItems | merge([item.id]) %}
                {% for ri in item.related %}
                    {% set shownItems = shownItems | merge([ri.id]) %}
                {% endfor %}
            {% else %}
                {% if app.user %}
                <div class="jumbotron">
                    <h1>¡Listos para empezar!</h1>
                    {% if app.user and app.user.role.name != 'ROLE_BANNED' %}
                    <p>¿Qué quieres hacer ahora?</p>
                    <p>{% if app.user and app.user.role.getSiteConfig %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendIndex') }}" role="button"><i class="fa fa-magic fa-fw"></i> Personalizar la página</a> <a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendNewUser') }}" role="button"><i class="fa fa-user-plus fa-fw"></i> Crear nuevo usuario</a>{% elseif app.user and app.user.role.contribute %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaItemNew') }}" role="button"><i class="fa fa-plus fa-fw"></i> Nueva publicación</a>{% endif %} <a class="btn btn-primary btn-lg" href="{{ path('userEditProfile') }}" role="button"><i class="fa fa-user fa-fw"></i> Editar mi perfil</a></p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %#}
            
            {% for item in items %}
                {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
                {% set path = path | replace({'/':'Bundle:'}) %}
                {% include path with { 'item': item } only %}
            {% else %}
                <div class="monocontent text-center">
                    <i class="fa fa-{{ itemIcons['Item/Post'] }} fa-4x"></i>
                    <p class="lead">Las publicaciones que se añadan aparecerán aquí.</p>
                </div>
            {% endfor %}
            
            {% if page > 1 or thereAreMore %}
                <ul class="pager">
                  <li class="previous{% if page == 1 %} disabled{% endif %}">
                    <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
                  </li>
                  <li class="next{% if not thereAreMore %} disabled{% endif %}">
                    <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
                  </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <link rel="stylesheet" href="/css/summernote.css" />
        {% endif %}
        <link rel="stylesheet" href="/js/pickadate/themes/default.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.date.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.time.css" />
        <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: pointer;
            background-color: #FFF;
        }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}  
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <script src="/js/summernote.min.js"></script>
        {% endif %}
        <script src="/js/pickadate/picker.js"></script>
        <script src="/js/pickadate/picker.date.js"></script>
        <script src="/js/pickadate/picker.time.js"></script>
        <script src="/js/pickadate/legacy.js"></script>
        <script src="/js/pickadate/translations/es_ES.js"></script>
        
        <script src="/js/userInteraction.js"></script>
        <script>        
        
        $(document).ready(function() {
            $("#ranksummary").load( "{{ path('ColectaActivitiesRankSummary') }}" );
            $("#performancesummary").load( "{{ path('ColectaPerformanceSummary') }}" );
        });
            
        </script>
    {% endif %}
{% endblock %}