{% extends '::frontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block article %}

    <h2>Inicio{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
    
    {% if not app.user and web_description and page <= 1 %}<p class="lead">{{ web_description | nl2br }}</p>{% endif %}
    
    <div class="row dashboard">    
        <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
            {# NEXT ACTIVITIES #}
            {% if nextactivities | length and page <= 1 %}
                {% set dias_semana = {
                    'Monday':'Lunes',
                    'Tuesday':'Martes',
                    'Wednesday':'Miércoles',
                    'Thursday':'Jueves',
                    'Friday':'Viernes',
                    'Saturday':'Sábado',
                    'Sunday':'Domingo'
                }%}
                
                {% for item in nextactivities %}
                    <div class="panel dashboard panel-default" onClick="window.location.assign('{{ path('ColectaEventView', { 'slug': item.slug }) }}')">
                        <div class="panel-body">
                            <h3>{% if item.dateini | date('z') == 'today' | date('z') %}Hoy{% elseif item.dateini | date('z') == 'today'  | date('z') + 1 %}Mañana{% else %}Próximo {{ item.dateini | date('l') | replace (dias_semana) }}{% endif %}:</h3>
                            {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
                            {% set path = path | replace({'/':'Bundle:'}) %}
                            {% include path with { 'item': item } only %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            {# CUSTOM NAVIGATION #}
            {{ render(controller('ColectaSiteBundle:Page:navigation')) }}
            
            {# CATEGORIES #}
            <div class="categories">
                <p class="lead" onClick="$('#categoriesList').toggleClass('hidden-xs');">Categorías <i class="fa fa-caret-down"></i></p>
                <ul class="list-unstyled hidden-xs" id="categoriesList">
                    {% for categoryItem in categories %}
                    <li><a href="{{ path('ColectaCategoryView',{'slug':categoryItem.slug}) }}">{{ categoryItem.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
        
            {# ACTIVITIES #}
            {#% if app.user %}
                <div class="panel dashboard panel-default">
                    <div class="panel-body row">
                        <div class="col-sm-6">
                            <h3><a href="{{ path('ColectaUserAssistances', {'id':app.user.id}) }}">Rendimiento:</a></h3>
                        </div>
                        
                        <div class="col-sm-6">
                            <h3><a href="{{ path('ColectaActivitiesRank') }}">Ranking:</a></h3>
                        </div>
                    </div>
                </div>
            {% endif %#}
        
                
            {% set shownItems = [] %}
            
            {% for item in items if item.id not in shownItems %}
                {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
                {% set path = path | replace({'/':'Bundle:'}) %}
                {% include path with { 'item': item } only %}
                
                {% set shownItems = shownItems | merge([item.id]) %}
                {% for ri in item.related %}
                    {% set shownItems = shownItems | merge([ri.id]) %}
                {% endfor %}
            {% else %}
                {% if app.user %}
                <div class="jumbotron">
                    <h1>¡Listos para empezar!</h1>
                    {% if app.user and app.user.role.name != 'ROLE_BANNED' %}
                    <p>¿Qué quieres hacer ahora?</p>
                    <p>{% if app.user and app.user.role.getSiteConfig %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendIndex') }}" role="button"><i class="fa fa-magic fa-fw"></i> Personalizar la página</a> <a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendNewUser') }}" role="button"><i class="fa fa-user-plus fa-fw"></i> Crear nuevo usuario</a>{% elseif app.user and app.user.role.contribute %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaItemNew') }}" role="button"><i class="fa fa-plus fa-fw"></i> Nueva publicación</a>{% endif %} <a class="btn btn-primary btn-lg" href="{{ path('userEditProfile') }}" role="button"><i class="fa fa-user fa-fw"></i> Editar mi perfil</a></p>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            
            {% if page > 1 or thereAreMore %}
                <ul class="pager">
                  <li class="previous{% if page == 1 %} disabled{% endif %}">
                    <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
                  </li>
                  <li class="next{% if not thereAreMore %} disabled{% endif %}">
                    <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
                  </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <link rel="stylesheet" href="/css/summernote.css" />
        {% endif %}
        <link rel="stylesheet" href="/js/pickadate/themes/default.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.date.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.time.css" />
        <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: pointer;
            background-color: #FFF;
        }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}  
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <script src="/js/summernote.min.js"></script>
        {% endif %}
        <script src="/js/pickadate/picker.js"></script>
        <script src="/js/pickadate/picker.date.js"></script>
        <script src="/js/pickadate/picker.time.js"></script>
        <script src="/js/pickadate/legacy.js"></script>
        <script src="/js/pickadate/translations/es_ES.js"></script>
        
        <script src="/js/userInteraction.js"></script>
        <script>        
        {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    
        {% if rich_text_editor %}
            $(document).ready(function() {
                $('#FileText').summernote({
                    height: 180,
                    toolbar: [
                    //['style', ['style']], // no style button
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    //['fontsize', ['fontsize']],
                    //['color', ['color']],
                    ['para', ['ul', 'ol']],
                    //['height', ['height']],
                    ['insert', [/*'picture',*/ 'link']], // no insert buttons
                    //['table', ['table']], // no table button
                    ['help', ['help']] //no help button
                    ]
                });
            });
            
            var postForm = function() {
                var content = $('textarea[name="text"]').html($('#FileText').code());
            }
        {% endif %}
        
        var EventDateini = $('#EventDateini').pickadate({
            format: 'dd-mm-yyyy',
            onSet: function(context) {
                var picker = EventDateend.pickadate('picker');
                if(context.select > picker.get('select').pick)
                {
                    picker.set('select', context.select);
                }
                picker.set('min', new Date(context.select));
            }
        });
        
        var EventDateend = $( "#EventDateend" ).pickadate({
            format: 'dd-mm-yyyy',
            min: $('#EventDateini').val()
        });
        
        $('#EventDateiniTime').pickatime({
            interval: 10,
            format: 'HH:i'
        });
        $('#EventDateendTime').pickatime({
            interval: 10,
            format: 'HH:i'
        });
        </script>
    {% endif %}
{% endblock %}