{% extends '::frontend.html.twig' %}

{% block home 'active' %}

{% block article %}

<div class="title-block">
    {% if app.user %}
        <div class="dropdown pull-right">
            <button onclick="return false;" type="button" class="btn btn-small btn-primary pull-right">Publicar <i class="icon-chevron-down icon-white" id="ddarrow"></i></button>
            <ul id="dropdown" aria-labelledby="dropdownMenu" role="menu" class="dropdown-menu download">
                <li><a href="{{ path('ColectaPostNew')}}" tabindex="-1"><i class="icon-file"></i> Texto</a></li>
                <li><a href="{{ path('ColectaEventNew')}}" tabindex="-1"><i class="icon-calendar"></i> Actividad</a></li>
                <li><a href="{{ path('ColectaRouteNew')}}" tabindex="-1"><i class="icon-globe"></i> Ruta</a></li>
                <li><a href="{{ path('ColectaPlaceNew')}}" tabindex="-1"><i class="icon-map-marker"></i> Lugar</a></li>
                <li><a href="{{ path('ColectaFileNew')}}" tabindex="-1"><i class="icon-folder-open"></i> Archivo</a></li>
            </ul>
        </div>
    {% endif %}
    <h2>Inicio</h2>{% if page > 1 %} <span>página {{page}}</span>{% endif %}
</div>

{% set slv = app.session.get('sinceLastVisit') %}
{% if slv and slv != 'dismiss' and colectauser.sinceLastVisitItems > 0 %}
    <div class="sys">
        <a class="close pull-right" href="{{ path('ColectaSinceLastVisitDismiss') }}">&times;</a>
        <i class="icon-eye-open pull-left icon-4x"></i>
        <h2><a href="{{ path('ColectaSinceLastVisit') }}">Ver todo lo que me he perdido desde mi última visita <i class="icon-double-angle-right"></i></a></h2>
        <p>{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': slv } only %}</p>
    </div>
{% endif %}

{% for item in items %}
    
<div class="item">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
    {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 5 } only %}
</div>
{% else %}
    {% if app.user %}
        <h3 style="text-align:center">Pulsa ese botón para empezar a compartir <i class="icon-arrow-up icon-2x" style="color:#2F7ED4;margin-left: 50px;"></i></h3>
    {% else %}
        <h3>Nadie ha escrito nada... por ahora.</h3>
    {% endif %}
{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}