{% extends '::frontend.html.twig' %}

{% block home 'active' %}

{% if app.user %}
    {% block javascripts %}
        <script src="/js/userInteraction.js"></script>
    {% endblock %}
{% endif %}

{% block article %}

<div class="title-block">
    <h2>Inicio</h2>{% if page > 1 %} <span>página {{page}}</span>{% endif %}
</div>

    {% if app.user %}
        <form class="itemSubmit form-horizontal" enctype="multipart/form-data" method="POST" action="{{ path('ColectaPostCreate') }}">
            <div class="mainData">
                <input id="itemSubmitName" type="text" name="name" class="title" placeholder="Título">
                <textarea id="itemSubmitDescription" name="description" placeholder="Descripción" class="description"></textarea>
            </div>
            <div id="itemDetails"></div>
            <ul class="types unstyled">
                <li class="pull-left text">Publicar: </li>
                <li class="pull-left post" onClick="loadPostForm();"><i class="icon-file-text-alt"></i> Texto</li>
                <li class="pull-left event" onClick="loadEventForm();"><i class="icon-calendar-empty"></i> Actividad</li>
                <li class="pull-left route"> <input type="file" name="file" id="Route"><i class="icon-globe"></i> Ruta</li>
                <li class="pull-left place" onClick="loadPlaceForm();"><i class="icon-map-marker"></i> Lugar</li>
                <li class="pull-left file"> <input type="file" name="file[]" multiple="multiple" id="File"><i class="icon-folder-open"></i> Archivos</li>
                
                <li class="pull-right">
                    <button class="btn btn-small btn-primary" type="submit" id="itemSubmitButton">
                        <i id="itemSubmitButtonLoading"></i> 
                        <span id="itemSubmitButtonText">Publicar</span> 
                    </button>
                </li>
                <li class="pull-right">{% render 'ColectaItemBundle:Category:formlist' with {'selected': 0, 'simplified': 1} %}</li>
            </ul>
        </form>
    {% endif %}

{% set slv = app.session.get('sinceLastVisit') %}
{% if slv and slv != 'dismiss' and colectauser.sinceLastVisitItems > 0 %}
    <div class="sys">
        <a class="close pull-right" href="{{ path('ColectaSinceLastVisitDismiss') }}">&times;</a>
        <i class="icon-eye-open pull-left icon-4x"></i>
        <h2><a href="{{ path('ColectaSinceLastVisit') }}">Ver todo lo que me he perdido desde mi última visita <i class="icon-double-angle-right"></i></a></h2>
        <p>{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': slv } only %}</p>
    </div>
{% endif %}

{% for item in items %}
    
    <div class="item">
        {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
        
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        
        {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
        
        {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 5 } only %}
        
        {% if item.related | length > 0 %}
            <div class="relations">
                {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
            </div>
        {% endif %}
    </div>

{% else %}
    {% if app.user %}
        <h3 id="MessageEmptyItems" style="text-align:center">Pulsa ese botón para empezar a compartir <i class="icon-arrow-up icon-2x" style="color:#2F7ED4;margin-left: 50px;"></i></h3>
    {% else %}
        <h3>Nadie ha escrito nada... por ahora.</h3>
    {% endif %}
{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}