{% extends '::frontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block article %}
    
    {% if app.user and app.user.role.contribute %} 
        {#<a href="{{ path('ColectaItemNew') }}" class="btn btn-small btn-primary pull-right">Nueva publicación <i class="fa fa-plus"></i></a>#}
        
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Nueva publicación <i class="fa fa-plus"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
            {% if app.user.role.itemPostCreate %}<li><a href="{{ path('ColectaPostNew') }}"><i class="fa fa-fw fa-{{ itemIcons['Item/Post']}}"></i> Texto</a></li>{% endif %}
            {% if app.user.role.itemEventCreate %}<li><a href="{{ path('ColectaEventNew') }}"><i class="fa fa-fw fa-{{ itemIcons['Activity/Event']}}"></i> Actividad</a></li>{% endif %}
            {% if app.user.role.itemFileCreate %}<li><a href="{{ path('ColectaFileNew') }}"><i class="fa fa-fw fa-{{ itemIcons['Files/File']}}"></i> Archivos</a></li>{% endif %}
            {% if app.user.role.itemRouteCreate %}<li><a href="{{ path('ColectaRouteNew') }}"><i class="fa fa-fw fa-{{ itemIcons['Activity/Route']}}"></i> Track GPS</a></li>{% endif %}
            {% if app.user.role.itemPlaceCreate %}<li><a href="{{ path('ColectaPlaceNew') }}"><i class="fa fa-fw fa-{{ itemIcons['Activity/Place']}}"></i> Lugar</a></li>{% endif %}
            </ul>
        </div>
    {% endif %}
    <h2>Inicio{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>
    
    {% if not app.user %}<div class="well well-sm">{{ web_description | nl2br }}</div>{% endif %}
    
    {% if nextactivities | length %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ path('ColectaEventDate', {'date': nextactivities[0].dateini | date('Y-m') }) }}"><i class="fa fa-{{ itemIcons['Activity/Event'] }} fa-fw"></i> Próximas actividades</a></h3>
            </div>
            <div class="panel-body">
            {% for item in nextactivities %}
                {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
                {% set path = path | replace({'/':'Bundle:'}) %}
                {% include path with { 'item': item } only %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
    
    {# if app.user %}
    <div class="itemForm panel panel-default">    
        <ul class="nav nav-pills">
            <li class="active"><a href="#"><i class="fa fa-fw fa-{{ itemIcons['Item/Post']}}"></i> Mensaje</a></li>
            <li><a href="#"><i class="fa fa-fw fa-{{ itemIcons['Activity/Event']}}"></i> Actividad</a></li>
            <li><a href="#"><i class="fa fa-fw fa-{{ itemIcons['Activity/Route']}}"></i> Mapa</a></li>
        </ul>
        
    </div>
    {% endif #}

{% set shownItems = [] %}
{% set mainItemsToShow = [] %}

{% for item in items if not item.part %}
    {% set mainItemsToShow = mainItemsToShow | merge([item.id]) %}
{% endfor %}

{% for item in items if item.id not in shownItems %}
    {% if item.part %}
        {% for relitem in item.related %}
            {% if not relitem.part and (app.user or relitem.open) %}
                {% set item = relitem %}
            {% endif %}
        {% endfor %}
    {% endif %}    
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        
        {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}
    
    {% set shownItems = shownItems | merge([item.id]) %}
    {% for ri in item.related %}
        {% set shownItems = shownItems | merge([ri.id]) %}
    {% endfor %}
{% else %}
    {% if app.user %}
    <div class="jumbotron">
        <h1>¡Listos para empezar!</h1>
        {% if app.user and app.user.role.name != 'ROLE_BANNED' %}
        <p>¿Qué quieres hacer ahora?</p>
        <p>{% if app.user and app.user.role.getSiteConfig %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaBackendIndex') }}" role="button"><i class="fa fa-wrench fa-fw"></i> Administración</a>{% endif %} {% if app.user and app.user.role.contribute %}<a class="btn btn-primary btn-lg" href="{{ path('ColectaItemNew') }}" role="button"><i class="fa fa-plus fa-fw"></i> Nueva publicación</a>{% endif %} <a class="btn btn-primary btn-lg" href="{{ path('userEditProfile') }}" role="button"><i class="fa fa-user fa-fw"></i> Editar mi perfil</a></p>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}