{% set canAssist = item.type == 'Activity/Event' and item.allowassistances %}
{% set canAttach = not item.part and app.user and (app.user.role.itemRelateAny or app.user.role.itemRelateOwn and item.author == app.user) %}
{% set itemTypeName = item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) %}
{% set canEdit = app.user and item.canEdit(app.user) %}

{% if app.user %}
    {% set userLikes = item.userLikes(app.user) %}
    
    <div class="itemActions">
    
        {# LIKE #}
        <span id="itemLikes{{ item.id }}" class="like">
        {% if userLikes %}
            <span><i class="fa fa-hand-peace-o"></i> Te gusta</span>
        {% else %}
            <a onclick="$('#itemLikes{{ item.id }}').load('{{ path('ColectaItemLike', {'slug':item.slug}) }}');return false;" href="{{ path('ColectaItemLike', {'slug':item.slug}) }}" title="Me gusta"><i class="fa fa-thumbs-o-up"></i> Me gusta</a>
        {% endif%}
        </span>
        
        {# ASSISTANCE #}
        {% if canAssist and app.user.role.name != 'ROLE_BANNED' %}
            {% set haspassed = item.happened %}
            {% set assists = false %}
            {% set confirmed = false %}
            {% for a in item.assistances %}
                {% if a.user == app.user %}
                    {% set assists = true %}
                    {% set confirmed = a.confirmed %}
                {% endif %}
            {% endfor %}
            
            {% spaceless %}
                <a href="{% if assists %}{{ path('ColectaEventUnasist',{'slug':item.slug}) }}{% else %}{{ path('ColectaEventAsist',{'slug':item.slug}) }}{% endif%}"{% if assists and (not haspassed or haspassed and confirmed) %}class="confirmed"{% endif %}>
                    {% if assists %}
                        <span class="done">
                    {% endif %}
                    
                    {% if haspassed and assists %}
                        <i class="fa fa-check-square"></i>
                    {% else %}
                        <i class="fa fa-check-square-o"></i>
                    {% endif %} 
                    
                    {% if not haspassed %}
                        {% if assists %}
                            Vas a asistir
                        {% else %}
                            Asistiré
                        {% endif %}
                    {% else %}
                        {% if assists %}
                            Has asistido
                        {% else %}
                            Asistí
                        {% endif %}
                    {% endif %} 
                
                    {% if assists %}
                        </span>
                        <span class="undo hidden">
                            Deshacer <i class="fa fa-trash-o"></i>
                        </span>
                    {% endif %} 
                </a>
            {% endspaceless %}
        {% endif %}
        
        {# FILE #}
        {#{% if app.user and item.type == 'Files/Folder' and not item.personal and item.public and not app.user.role.name == 'ROLE_BANNED' %}
            <a href="{{ path('ColectaFilePick',{'slug':item.slug}) }}"><i class="fa fa-plus"></i> Agregar archivos</a>
        {% endif %}#}
        
        {# ATTACH #}
        {% if canAttach %}
            <a href="{{ path('ColectaItemAttach',{'id':item.id}) }}"><i class="fa fa-paperclip"></i> Adjuntar</a>
        {% endif %}
        
        {# EDIT #}
        {% if canEdit and app.user.role.name != 'ROLE_BANNED' %}
            <a href="{{ path('Colecta' ~ itemTypeName ~ 'Edit', {slug:item.slug}) }}" title="Editar"><i class="fa fa-pencil"></i> Editar</a>
        {% endif %}
    </div>
{% endif %}