{% if app.user %}
    {% set userLikes = item.userLikes(app.user) %}
{% else %}
    {% set userLikes = false %}
{% endif %}
{% if item.likers | length > 0 and not (app.user and item.likers | length == 1 and userLikes) %}
    <p class="likers">
        {% if app.user and userLikes %}
            {% if item.likers | length > 3 %}
                A <a href="#" onClick="return false;" class="likestooltip" rel="tooltip" data-html="true" data-original-title="{% for u in item.likers %}{% if u != app.user %}{% if not loop.first and item.likers[0] != app.user %}<br />{% endif %}{{ u.name }}{%endif%}{% endfor %}">{{ item.likers | length - 1 }} personas</a> y a ti os gusta esto.
            {% else %}
                A {% for u in item.likers %}{% if u != app.user %}{% if not loop.first and item.likers[0] != app.user %}, {% endif %}<a href="{{ path('userProfile', { 'id': u.id }) }}" class="username">{{ u.name }}</a>{%endif%}{% endfor %} y a ti os gusta esto.
            {% endif %}
        {% else %}
            {% if item.likers | length > 3 %}
                A {{ item.likers | length }} personas les gusta esto.
            {% elseif item.likers | length > 1 %}
                A {% for u in item.likers[0:item.likers | length - 1] %}{% if not loop.first %}, {% endif %}<a href="{{ path('userProfile', { 'id': u.id }) }}" class="username">{{ u.name }}</a>{% endfor %} y <a href="{{ path('userProfile', { 'id': item.likers[item.likers | length - 1].id }) }}" class="username">{{ item.likers[item.likers | length - 1].name }}</a> les gusta esto.
            {% elseif item.likers | length > 0 %}
                A <a href="{{ path('userProfile', { 'id': item.likers[0].id }) }}" class="username">{{ item.likers[0].name }}</a> le gusta esto.
            {% endif %}
        {% endif%}
    </p>
{% endif %}