{% set new = app.user and app.session.get('sinceLastVisit') and app.session.get('sinceLastVisit') != 'dismiss' and app.session.get('sinceLastVisit') < item.date %}
{% set itemTypeName = item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) %}

<div class="item_micro" onClick="window.location='{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}'">
	<h4>
	    <a class="label label-{% if new %}warning{% else %}primary{% endif %}" href="{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}">
	        <i class="fa fa-fw fa-{{ itemTypeName | replace({'Post':'comment-o', 'Event':'calendar-o', 'Route':'map-o', 'File':'file-o', 'Folder':'folder-o', 'Place': 'map-marker'}) }}"></i> {{ itemTypeName | replace({'Post':'Mensaje', 'Event':'Actividad', 'Route':'Ruta', 'File':'Archivo', 'Folder':'Archivos', 'Place': 'Lugar'}) }}</a> 
	    <a href="{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}"> {{ item.name }}</a></h4>
	{% block summary %}
	    {% if item.summary %}
	        <p>{{ item.summary }}{% if item.text | length > item.summary | length %} (...){% endif %}</p>
	    {% endif %}
	{% endblock %}
</div>