<div class="profile mini">

    {# LIKE #}
    <a href="#" class="btn btn-small pull-right btn-link" title="Me gusta"><i class="icon-thumbs-up icon-large"></i> Me gusta</a>

    {# EDIT #}
    {% if item.author == app.user %}
        <a href="{{ path('Colecta' ~ item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) ~ 'Edit', {slug:item.slug}) }}" class="btn btn-small pull-right btn-link" title="Editar"><i class="icon-pencil icon-large"></i> Editar</a>
    {% endif %}
    
    <a class="username" href="{{ path('userProfile', { 'id': item.author.id }) }}"><img width="40" height="40" src="{% if item.author.avatar %}{{item.author.avatarWebPath}}{% else %}/img/unknown.gif{% endif %}">
    {{item.author.name}}</a><br> {% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': item.date } only %} en <a class="category" href="{{ path('ColectaCategoryView', { 'slug': item.category.slug }) }}">{{ item.category.name }}</a>
</div>