    <div class="itemForm panel panel-default compressed" id="itemForm">    
        <ul class="nav nav-pills">
            {% if app.user.role.itemPostCreate or app.user.role.itemFileCreate %}
                <li class="active" id="textHandler">
                    <a href="#" onClick="typeChosen('text');return false;"><i class="fa fa-fw fa-{{ itemIcons['Item/Post']}}"></i> Publicación</a>
                </li>
            {% endif %}
            {% if app.user.role.itemEventCreate %}
                <li id="eventHandler">
                    <a href="#" onClick="typeChosen('event');return false;"><i class="fa fa-fw fa-{{ itemIcons['Activity/Event']}}"></i> Actividad</a>
                </li>
            {% endif %}
            {% if app.user.role.itemRouteCreate or app.user.role.itemPlaceCreate %}
                <li id="mapHandler">
                    <a href="#" onClick="typeChosen('map');return false;"><i class="fa fa-fw fa-{{ itemIcons['Activity/Route']}}"></i> Ruta</a>
                </li>
            {% endif %}
        </ul>
        <form id="textForm" action="{{ path('ColectaPostCreate') }}" method="post">
            <div class="hidable">
                <input type="text" class="form-control" placeholder="Título" name="name" value="{% if item is defined %}{{ item.name }}{% endif %}">
            </div>
            <textarea rows="1" class="form-control" placeholder="Escribe una publicación..." name="text" onClick="typeChosen('text');">{% if item is defined %}{{ item.text }}{% endif %}</textarea>
            <div class="hidable">
                {% if app.user.role.itemFileCreate %}
                    <p><strong>Adjuntar archivos:</strong></p> 
                    <div id="FilesFileHandler"><input id="FilesFile" type="file" multiple="multiple" name="file[]"></div>
                    <div id="FUaddon" class="clearfix"></div>
                {% endif %}
                <hr>
                
                {{ render(controller('ColectaItemBundle:Category:formlist', {'selected' : 0})) }}
                  
                <span class="pull-right" style="margin-top:5px"><small>Privacidad:</small> <button onClick="privacyToggle()" type="button" class="btn btn-xs btn-default privacyToggleButton"><i class="fa fa-unlock"></i> Abierto</button><input class="privacyToggle" type="hidden" name="open" value="{{ item is defined ? item.open : '1' }}"></span>
                {#<button class="btn">Guardar como borrador</button>#}
                <button type="submit" class="btn btn-primary" id="itemSubmitButton"><span class="itemSubmitText">Publicar ahora  <i class="fa fa-fw fa-chevron-right"></i></span> <i id="itemSubmitButtonLoading"></i></button> 
            </div>
            {% if attachto is defined %}
                <input type="hidden" value="{{ attachto }}" name="attachTo">
            {% endif %}
        </form>
        {% if app.user.role.itemEventCreate %}
        <form id="eventForm" action="{{ path('ColectaEventCreate') }}" method="post" class="hiddenForm">
            <div class="hidable">
                <input type="text" class="form-control" placeholder="Título" name="name" value="{% if item is defined %}{{ item.name }}{% endif %}">
            </div>
            <textarea rows="1" class="form-control" placeholder="Descripción de la actividad..." name="text" onClick="$('#itemForm').removeClass('compressed')">{% if item is defined %}{{ item.text }}{% endif %}</textarea>
            <div class="hidable">
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Fecha Inicio</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="EventDateini" name="dateini" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateini | date('d-m-Y') }}{% else %}{{ 'tomorrow' | date('d-m-Y') }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control" id="EventDateiniTime" name="dateinitime" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateini | date('H:i') }}{% else %}09:00{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="medium">Fecha Fin</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="row">
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="EventDateend" name="dateend" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateend | date('d-m-Y') }}{% else %}{{ 'tomorrow' | date('d-m-Y') }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-clock-o"></i></span>
                                    <input type="text" class="form-control" id="EventDateendTime" name="dateendtime" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.dateend | date('H:i') }}{% else %}14:00{% endif %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Distancia</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="EventDistance" name="distance" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.distance }}{% endif %}"><span class="input-group-addon"> km</span>
                        </div>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Desnivel subida</label>
                    <div class="col-sm-9 col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="EventUphill" name="uphill" value="{% if item is defined and item.type == 'Activity/Event' %}{{ item.uphill }}{% endif %}"><span class="input-group-addon"> metros</span>
                        </div>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-sm-3 col-lg-2 control-label" for="EventName">Dificultad</label>
                    <div class="col-sm-9 col-lg-10">
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyEasy" value=""{% if item is defined and item.type == 'Activity/Event' and item.difficulty == '' or item is not defined%} checked{% endif %}>
                            No indicar
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyEasy" value="easy"{% if item is defined and item.type == 'Activity/Event' and item.difficulty == 'easy' %} checked{% endif %}>
                            <img src="/img/difficulty/easy.gif" alt="fácil" width="70" height="12">
                            Fácil
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyModerate" value="moderate"{% if item is defined and item.type == 'Activity/Event' and item.difficulty == 'moderate' %} checked{% endif %}>
                            <img src="/img/difficulty/moderate.gif" alt="moderado" width="70" height="12">
                            Moderado
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyHard" value="hard"{% if item is defined and item.type == 'Activity/Event' and item.difficulty == 'hard' %} checked{% endif %}>
                            <img src="/img/difficulty/hard.gif" alt="difícil" width="70" height="12">
                            Difícil
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyVeryhard" value="very hard"{% if item is defined and item.type == 'Activity/Event' and item.difficulty == 'very hard' %} checked{% endif %}>
                            <img src="/img/difficulty/very-hard.gif" alt="muy difícil" width="70" height="12">
                            Muy difícil
                        </label>
                        <label class="radio">
                            <input type="radio" name="difficulty" id="EventDifficultyExpertsonly" value="experts only"{% if item is defined and item.type == 'Activity/Event' and item.difficulty == 'experts only' %} checked{% endif %}>
                            <img src="/img/difficulty/experts-only.gif" alt="sólo expertos" width="70" height="12">
                            Sólo expertos
                        </label>
                    </div>
                </div>
                <hr>
            
                {{ render(controller('ColectaItemBundle:Category:formlist', {'selected' : 0})) }}
                  
                <span class="pull-right" style="margin-top:5px"><small>Privacidad:</small> <button onClick="privacyToggle()" type="button" class="btn btn-xs btn-default privacyToggleButton"><i class="fa fa-unlock"></i> Abierto</button><input class="privacyToggle" type="hidden" name="open" value="{{ item is defined ? item.open : '1' }}"></span>
                {#<button class="btn">Guardar como borrador</button>#}
                <button type="submit" class="btn btn-primary" id="itemSubmitButton"><span class="itemSubmitText">Publicar ahora <i class="fa fa-fw fa-chevron-right"></i></span> <i id="itemSubmitButtonLoading"></i></button> 
            </div>
            {% if attachto is defined %}
                <input type="hidden" value="{{ attachto }}" name="attachTo">
            {% endif %}
        </form>
        {% endif %}
        {% if app.user.role.itemRouteCreate %}
        <form id="mapForm" action="{{ path('ColectaRouteCreate') }}" method="post" class="hiddenForm">
            <div class="hidable">
                <input type="text" class="form-control" placeholder="Título" name="name" value="{% if item is defined %}{{ item.name }}{% endif %}">
            </div>
            <textarea rows="1" class="form-control" placeholder="Descripción de la ruta..." name="text" onClick="$('#itemForm').removeClass('compressed')">{% if item is defined %}{{ item.text }}{% endif %}</textarea>
            <div class="hidable">
                <p><strong>Archivo GPS:</strong></p> 
                <div id="RouteFileHandler"><input id="RouteFile" type="file" name="file"></div>
                <div id="RUmessage" class="clearfix"></div>
                <div id="RUaddon"></div>
                <hr>
                
                {{ render(controller('ColectaItemBundle:Category:formlist', {'selected' : 0})) }}
                  
                <span class="pull-right" style="margin-top:5px"><small>Privacidad:</small> <button onClick="privacyToggle()" type="button" class="btn btn-xs btn-default privacyToggleButton"><i class="fa fa-unlock"></i> Abierto</button><input class="privacyToggle" type="hidden" name="open" value="{{ item is defined ? item.open : '1' }}"></span>
                {#<button class="btn">Guardar como borrador</button>#}
                <button type="submit" class="btn btn-primary" id="itemSubmitButton"><span class="itemSubmitText">Publicar ahora  <i class="fa fa-fw fa-chevron-right"></i></span> <i id="itemSubmitButtonLoading"></i></button> 
            </div>
            {% if attachto is defined %}
                <input type="hidden" value="{{ attachto }}" name="attachTo">
            {% endif %}
        </form>
        {% endif %}
    </div>