    var relations = [{% for related in item.related %}{"name":"{{ related.name }}","type":"{{ related.type }}","id":"{{ related.id }}","author":"{{ related.author.id }}"}{% if not loop.last %},{% endif %}{% endfor%}];
    var xhr;
    var searchagain = false;
    var searchpage = 0;
    
    function showResults()
    {
        if($('#searchItem').val().length < 3) {
            $('#itemResults').html('');
            $('#itemResults').css('display','none');
            return;
        }
        
        $('#searchButton').attr("disabled", "disabled");
        $('#searchButtonLoading').addClass('icon-refresh icon-spin');
        
        if(xhr && xhr.readyState != 4) {
            searchagain = true;
        } else {        
            var excludeIds = '{{ item.id }},';
            
            for(var i = 0; i < relations.length; i++){ excludeIds += relations[i].id + ','; }
            
            xhr = $.ajax({
                url: '{{ path('ColectaAjaxSearch') }}?search='+$('#searchItem').val()+'&exclude='+excludeIds+'&page='+searchpage,
                success: function(json) {
                    $('#itemResults').html('');
                    $('#itemResults').css('display','none');
                    for(var i = 0; i < json.length; i++) {
                        $('#itemResults').append('<li id="itemResult'+(i + 1)+'"><a tabindex="-1" href="#'+json[i].id+'" onClick="addRelation('+encodeItem(json[i])+');return false;"><strong>('+typeName(json[i].type)+')</strong> '+json[i].name+'</a></li>');
                    } 
                    if(json.length) { 
                        $('#itemResults').css('display','block');
                    }
                    $('#searchButton').removeAttr("disabled"); 
                    $('#searchButtonLoading').removeClass('icon-refresh icon-spin');
                },
                cache: false
            }).done(function() { 
                if(searchagain) {
                    searchagain = false;
                    searchpage = 0;
                    showResults();
                }
            });
        }
    }
    
    //Key up
    $('#searchItem').keyup(function(e){
        if($('#itemResults li').length) {
            var current = $('#itemResults li.active');
            var currentN = 0;
            if(current.length) {
                currentN = parseInt(current.attr('id').substring(10));
            } 
            
            if(e.keyCode == 40){
                if($('#itemResult'+(currentN + 1)).length) {
                    $('#itemResult'+(currentN)).removeClass('active');
                    $('#itemResult'+(currentN + 1)).addClass('active');
                }
                return;
            } else if(e.keyCode == 38){
                if($('#itemResult'+(currentN - 1)).length) {
                    $('#itemResult'+(currentN)).removeClass('active');
                    $('#itemResult'+(currentN - 1)).addClass('active');
                }
                return;
            } else if(e.keyCode == 13){
                if($('#itemResult'+(currentN)).length) {
                    $('#itemResult'+(currentN)+' a').click();
                }
                return;
            }
        }
        
        searchpage = 0;
        showResults();
    });
    
    function addRelation(item) {
        relations.push(item);
        redrawRelateds();
        
        $('#itemResults').html('');
        $('#itemResults').css('display','none');
    }
    
    function removeRelation(id) {
        for(var i = 0; i < relations.length; i++){
            if(relations[i].id == id) {
                relations.splice(i,1);
            }
        }
        redrawRelateds();
    }
    
    function redrawRelateds() {
        $('#showRelateds').html('');
        $('#relateds').val('');
        for(var i = 0; i < relations.length; i++){
            $('#showRelateds').append('<p><button type="button" onClick="removeRelation('+relations[i].id+')" class="btn btn-xs"><i class="fa fa-times" style="color:darkred;"></i> Eliminar enlace</button> <strong> '+relations[i].name+'</strong></p>');
            $('#relateds').val($('#relateds').val() + relations[i].id + ',');
        }
        
        $('#relationSubmit').removeClass('d-none');
    }
    
    function typeName(type) {
        switch(type) {
            case 'Item/Post': return 'Publicación'; break;
            case 'Files/File': return 'Archivo'; break;
            case 'Files/Folder': return 'Carpeta'; break;
            case 'Colective/Poll': return 'Encuesta'; break;
            case 'Colective/Contest': return 'Concurso'; break;
            case 'Activity/Place': return 'Lugar'; break;
            case 'Activity/Route': return 'Ruta'; break;
            case 'Activity/Event': return 'Evento'; break;
        }
        return type;
    }
    
    function encodeItem(item) {
        return '{\'name\':\''+item.name.replace(/&#039;/g,'\\\'')+'\',\'type\':\''+item.type+'\',\'id\':\''+item.id+'\',\'author\':\''+item.author.replace(/&#039;/g,'\\\'')+'\'}';
    }