{% extends '::frontend.html.twig' %}

{% block title %}Última actividad{% endblock %}

{% block article %}

{% include '::navigation.html.twig' with {'active': ''} %}

    <h2>Desde tu última visita{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>

{% set shownItems = [] %}
{% set mainItemsToShow = [] %}

{% for item in items if not item.part %}
    {% set mainItemsToShow = mainItemsToShow | merge([item.id]) %}
{% endfor %}

{% for item in items if item.id not in shownItems %}
    {% if item.part %}
        {% for relitem in item.related %}
            {% if not relitem.part %}
                {% set item = relitem %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="item" id="item{{ item.id}}">        
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        
        {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
    </div>
    
    {% set shownItems = shownItems | merge([item.id]) %}
    {% for ri in item.related %}
        {% set shownItems = shownItems | merge([ri.id]) %}
    {% endfor %}
{% else %}
    <p class="lead">Nadie ha publicado nada... por ahora.</p>
{% endfor %}

{% if not thereAreMore and items | length > 0 %}
    <p style="margin:20px;text-align:center"><a href="{{ path('ColectaSinceLastVisitDismiss', {date: 'now' | date('c')}) }}" class="btn btn-warning btn-large">Marcar todo como leido <i class="fa fa-check"></i></a></p>
{% endif %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}