{% set showlimit = 5 %}

<ul class="list-group">
    {% for item in items | slice(0,showlimit)%}
        {% set stop = 0 %}
        {% for comment in item.comments if not stop %}
            {% if comment.user !=    app.user and comment.date > slv %}
                <li class="list-group-item clearfix">
                    <p class="details">
                        <i class="fa fa-comment"></i> 
                        <a href="{{ path('userProfile', { 'id': comment.user.id }) }}">{{ comment.user.name }}</a>
                            
                        {% set itemtimestamp = comment.date | date('U') %}
                        {% set nowtimestamp =  'now' | date('U') %}
                        {% set secondsago = nowtimestamp - itemtimestamp %}
                        
                        {% if secondsago < 60 %}
                            Hace {{ secondsago }} segundo{% if secondsago != 1 %}s{% endif %}
                        {% elseif secondsago/60 < 60 %}
                            Hace {{ secondsago // 60 }} minuto{% if secondsago // 60 != 1 %}s{% endif %}
                        {% else %}
                            {% set hoursago = secondsago / 60 // 60 %}
                            {% if hoursago < 24 %}
                                Hace {{ hoursago }} hora{% if hoursago != 1 %}s{% endif %}
                            {% elseif itemtimestamp > 'yesterday' | date('U') %}
                                Ayer a las {{ comment.date | date('H:i')  }}
                            {% else %}
                                {{ comment.date | date('j')  }} {% include "::month.html.twig" with{'date':comment.date,'short':1} %} {{ comment.date | date('Y H:i')  }}
                            {% endif %}
                        {% endif %}
                    
                        en <a href="{{ path(item.viewPath, { 'slug': item.slug }) }}">{{ item.name}}</a>
                        
                        {% set morecomments = item.comments | length - loop.index%}
                    {% if morecomments > 0 %}<a href="" class="btn btn-default btn-sm pull-right">+{{ morecomments }} comentario{% if morecomments > 1 %}s{% endif %} <i class="fa fa-comments-o"></i></a>{% endif %}
                        
                        <br><strong>{{ comment.text | summarize | usercontent | raw | nl2br }}{% if comment.text | length > comment.text | summarize | length %}...{% endif %}</strong>
                    </p>
                </li>
                {% set stop = loop.index %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% if items | length > showlimit %}
        <li class="list-group-item clearfix">
            <a class="btn btn-warning btn-sm" href="{{ path('ColectaSinceLastVisit') }}">Hay más comentarios nuevos desde tu última visita <i class="fa fa-arrow-right"></i></a>
        </li>
    {% endif %}
</ul>