{% spaceless %}
{% set itemtimestamp = date | date('U') %}
{% set nowtimestamp =  'now' | date('U') %}
{% set secondsago = nowtimestamp - itemtimestamp %}

{% if secondsago < 60 %}
    Hace {{ secondsago }} s<span>egundo{% if secondsago != 1 %}s{% endif %}</span>
{% elseif secondsago/60 < 60 %}
    Hace {{ secondsago // 60 }} m<span>inuto{% if secondsago // 60 != 1 %}s{% endif %}</span>
{% else %}
    {% set hoursago = secondsago / 60 // 60 %}
    {% if hoursago < 24 %}
        {% if nowtimestamp | date('z') > itemtimestamp | date('z') %}
            Ayer<span> a las {{ date | date('H:i')  }}</span>
        {% else %}
            Hace {{ hoursago }} h<span>ora{% if hoursago != 1 %}s{% endif %}</span>
        {% endif %}
    {% elseif itemtimestamp > 'yesterday' | date('U') %}
        Ayer<span> a las {{ date | date('H:i')  }}</span>
    {% else %}
        {{ date | date('j')  }} {% include '::month.html.twig' with{'date':date,'short':1} %}
        {% if date | date('Y') != 'today' | date('Y') %} {{ date | date('Y') }} {% endif %}
        <span> a las {{ date | date('H:i')  }}</span>
    {% endif %}
{% endif %}
{% endspaceless %}